{% extends 'Base/base.html.twig' %}

{% block title %}{{ textPage.title }}{% endblock %}

{% block meta_description %}{{ textPage.content[:450]|striptags }}{% endblock %}

{% block content %}
    <section class="container first-container">
        <div class="columns content">
            <div class="column is-8 is-offset-2">
                <h1 class="title">{{ textPage.title }}</h1>
                {{ textPage.content|raw }}
            </div>
        </div>
        <div class="content has-text-centered" style="margin-top: 40px">
            <a href="{{ path('search') }}" class="button is-primary"><span>Explore our world</span> <span class="icon"><i class="fa fa-caret-right"></i></span></a>
        </div>
        <hr>
    </section>
{% endblock %}