{% extends 'Base/base.html.twig' %}

{% block title %}What is OffPopular - Our Manifesto{% endblock %}

{% block meta_description %}Discover what does OffPopular mean to us.{% endblock %}

{% block tops %}{% endblock %}

{% block content %}
    <div id="offpopular-manifesto-page" :style="{ 'background-image': ['url(' + currentBackgroundUrl + ')'] }">
        <div class="manifesto-container">
            <div class="content">
                <div class="image">
                    <img :src="currentHeaderUrl" />
                </div>
            </div>
            <div v-cloak>
                <div v-show="page == 0">
                    <div class="inner-container">
                        <div class="columns is-multiline content">
                            <div class="column is-12">
                                <h1 class="has-text-centered opheading"><span>What is Off</span> <img src="/logo/logo_p2@1x.png" style="vertical-align: sub" /> <span>Popular?</span></h1>
                            </div>
                            <div class="column is-6 bold-element"><h3>It's the <u>change.</u> Or <u>life.</u></h3></div>
                            <div class="column is-6 bold-element"><h3>Because what doesn't change is <u>dead.</u></h3></div>

                            <hr class="wide">

                            <div class="column is-6 bold-element"><h3>I crave to <u>kill</u> my routine and - </h3></div>
                            <div class="column is-6 bold-element"><h3>bring new <u>colors & ideas</u> to my life. I just wonder -- why?</h3></div>

                            <div class="column is-12 read-on-container">
                                <button class="button is-primary read-on-button" @click="navigateToNextPage()"><span>Read on</span> <span class="icon"><i class="fa fa-caret-right"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-show="page == 1">
                    <div class="inner-container">
                        <div class="columns is-multiline content">
                            <div class="column is-12">
                                <h1 class="has-text-centered opheading"><span>What Off</span> <img src="/logo/logo_p2@1x.png" style="vertical-align: sub" /> <span>Popular means?</span></h1>
                            </div>
                            <div class="column is-6 bold-element"><h3>It's <u>off</u> the popular track. It's so <u>abnormal</u> - </h3></div>
                            <div class="column is-6 bold-element"><h3>it's even at <u>risk</u> of becoming fashionable overnight and sparking an explosive <u>trend.</u></h3></div>

                            <hr class="wide">

                            <div class="column is-6 bold-element"><h3>But we <u>don't</u> give a shit. Because we reckon - </h3></div>
                            <div class="column is-6 bold-element"><h3>it's nothing more than off//popular <u>cycle</u>...</h3></div>

                            <div class="column is-12 read-on-container">
                                <button class="button is-primary read-on-button" @click="navigateToNextPage()"><span>Read on</span> <span class="icon"><i class="fa fa-caret-right"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-show="page == 2">
                    <div class="inner-container">
                        <div class="columns is-multiline content">
                            <div class="column is-12">
                                <h1 class="has-text-centered opheading"><span>What is Off</span> <img src="/logo/logo_p2@1x.png" style="vertical-align: sub" /> <span>Popular cycle?</span></h1>
                            </div>
                            <div class="column is-12 bold-element"><h3>It's going from <u>one to many</u>, and <u>back to one.</u> </h3></div>

                            <hr class="wide">

                            <div class="column is-6 bold-element"><h3>Entrepreneurs launch <u>startups</u> that grow into gigantic <u>corporations</u> - </h3></div>
                            <div class="column is-6 bold-element"><h3>which they depart to passionately <u>start over</u> from scratch.</h3></div>

                            <hr class="wide">

                            <div class="column is-6 bold-element"><h3>Mass thinking is conglomerating into <u>few huge ideas</u>, until - </h3></div>
                            <div class="column is-6 bold-element"><h3>great <u>opposing forces</u> accumulate, making the old ideas <u>obsolete.</u></h3></div>

                            <hr class="wide">

                            <div class="column is-12 bold-element"><h3>These are all <u>cycles</u> that we understand, <u>but</u> - </h3></div>

                            <div class="column is-12 read-on-container">
                                <button class="button is-primary read-on-button" @click="navigateToNextPage()"><span>Read on</span> <span class="icon"><i class="fa fa-caret-right"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-show="page == 3">
                    <div class="inner-container">
                        <div class="columns is-multiline content">
                            <div class="column is-12">
                                <h1 class="has-text-centered opheading"><span>What do we <u>truly</u> care about?</span></h1>
                            </div>
                            <div class="column is-12 bold-element"><h3>We cherish <u>that voice from our hearts.</u></h3></div>
                            <div class="column is-6 bold-element"><h3>We simply <u>cannot</u> live and feel at <u>home</u>, if - </h3></div>
                            <div class="column is-6 bold-element"><h3>our heart is <u>suffering!</u></h3></div>

                            <div class="column is-6 bold-element"><h3>And for our <u>hearts</u> to <u>thrive</u>, we must pursue the - </h3></div>
                            <div class="column is-6 bold-element"><h3><u>unimaginable.</u></h3></div>

                            <div class="column is-12 read-on-container">
                                <button class="button is-primary read-on-button" @click="navigateToNextPage()"><span>Read on</span> <span class="icon"><i class="fa fa-caret-right"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-show="page == 4">
                    <div class="inner-container">
                        <div class="columns is-multiline content">
                            <div class="column is-12">
                                <h1 class="has-text-centered opheading"><span>But how?</span></h1>
                            </div>

                            <div class="column is-6 bold-element column-valign-middle"><h3>We must wear the <u>unwearables:</u></h3></div>
                            <div class="column is-6 bold-element"><img src="https://d32ubx6bmpqnoi.cloudfront.net/1647/1552643/1552643_350px.jpg" /></div>

                            <div class="column is-6 bold-element column-valign-middle"><h3>We must use the <u>unusables:</u></h3></div>
                            <div class="column is-6 bold-element"><h3><img src="https://d32ubx6bmpqnoi.cloudfront.net/828/1192425/1192425_350px.jpg" /></h3></div>

                            <div class="column is-6 bold-element column-valign-middle"><h3>We must hang on our walls the <u>unhangables:</u></h3></div>
                            <div class="column is-6 bold-element"><h3><img src="https://d32ubx6bmpqnoi.cloudfront.net/687/1129491/1129491_350px.jpg" /></h3></div>

                            <div class="column is-6 bold-element column-valign-middle"><h3>We must decorate our rooms with the <u>undecoratables:</u></h3></div>
                            <div class="column is-6 bold-element"><h3><img src="https://d32ubx6bmpqnoi.cloudfront.net/2025/1846172/1846172_350px.jpg" /></h3></div>

                            <div class="column is-12 read-on-container">
                                <button class="button is-primary read-on-button" @click="navigateToNextPage()"><span>Read on</span> <span class="icon"><i class="fa fa-caret-right"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-show="page == 5">
                    <div class="inner-container">
                        <div class="columns is-multiline content">
                            <div class="column is-12">
                                <h1 class="has-text-centered opheading"><span>... why?</span></h1>
                            </div>

                            <div class="column is-12 bold-element"><h3>Because</h3></div>

                            <hr class="wide">

                            <div class="column is-6 bold-element"><h3>deep in your <u>heart</u>, you feel - </h3></div>
                            <div class="column is-6 bold-element"><h3>that your blood <u>desires</u> something - </h3></div>

                            <hr class="wide">

                            <div class="column is-12 bold-element"><h3>that is truly <u>yours.</u></h3></div>

                            <hr class="wide">

                            <div class="column is-6 bold-element"><h3>Something that <u>cracks</u> your frozen <u>bones.</u></h3></div>
                            <div class="column is-6 bold-element"><h3>Something that <u>does not</u> belong to the <u>masses.</u></h3></div>

                            <hr class="wide">

                            <div class="column is-12 bold-element"><h3>Until (at least) tomorrow...</h3></div>

                            <div class="column is-12 read-on-container">
                                <a class="button is-primary read-on-button" href="{{ path('index') }}"><span>Explore our world</span> <span class="icon"><i class="fa fa-caret-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block page_javascripts %}
<script type="text/javascript">
    var offpopularManifestoPage = new Vue({
        el: '#offpopular-manifesto-page',
        delimiters: ['${', '}'],
        data: {
            page: 0,
            page_background_urls: [
                '{{ offpop_content_bucket_base_url }}/manifesto/bg_blue_balloon.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/bg_blue_wall.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/bg_colorful_stripes.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/bg_colorful_bokeh.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/bg_corp_building.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/bg_umbrellas.jpg',
            ],
            page_header_urls: [
                '{{ offpop_content_bucket_base_url }}/manifesto/pic_colorful_people_cropped.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/pic_kiss_absurd_fixed.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/pic_people_street.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/pic_woman_mystery.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/pic_icecream_fixed.jpg',
                '{{ offpop_content_bucket_base_url }}/manifesto/pic_couple_dance.jpg',
            ]
        },
        computed: {
            currentBackgroundUrl: function () {
                return this.page_background_urls[this.page];
            },
            currentHeaderUrl: function () {
                return this.page_header_urls[this.page];
            },
            pagesCount: function () {
                return this.page_background_urls.length;
            }
        },
        methods: {
            preloadImages: function (suffix) {
                preload_images(this.page_header_urls);
                preload_images(this.page_background_urls);
            },
            navigateToNextPage: function () {
                var nextPage = this.page + 1;
                if (nextPage < this.pagesCount) {
                    this.page = nextPage;
                }
                VueScrollTo.scrollTo('#offpopular-manifesto-page', 750);
            }
        },
        mounted: function () {
            this.preloadImages();
        }
    });
</script>
{% endblock %}