<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Design your life & Express yourself{% endblock %} - OffPopular.com</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="{% block meta_description %}Find your thing: Apparel (T-Shirts, Leggings, Dresses, Swimwear, Tank Tops etc.), Phone Cases, Wall Art, Home Decor, Accessories, Bags. We also build open-air galleries and encourage independent, creative thought.{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{{ absolute_url(asset('/pictures/default-og-image-opti.jpg')) }}{% endblock %}" />
    {% block og_tags_rest %}{% endblock %}
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    {% include './Base/favicons.html.twig' %}
    {% block head_styles %}{% endblock %}

    {% if app.environment == 'prod' %}
        {% include './Includes/jsCodesHead.html.twig' %}
    {% endif %}

</head>
<body onload="{% block body_onload %}{% endblock %}">
    {% include './Includes/jsCodesBodyStart.html.twig' %}
    <div id="base-app">
        {% block tops %}
            <a id="back-to-top" :class="{ 'visible': scrollY > 300 }" v-scroll-to="{ el: 'body', offset: 0 }"><i class="fa fa-arrow-up"></i></a>
            {% include './Includes/tops.html.twig' %}
        {% endblock %}
    </div>
    {% block after_tops %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include './Includes/footer.html.twig' %}
    {% endblock %}

<script async type="text/javascript" src="{{ asset('build/app.js') }}"></script>
<script async src="{{ asset('scripts/sweetalert.min.js') }}"></script>
{% if app.environment == 'prod' %}
    <script src="{{ asset('scripts/vue.min.js') }}"></script>
    <script src="{{ asset('scripts/vuex.min.js') }}"></script>
{% else %}
    <script src="{{ asset('scripts/vue.dev.js') }}"></script>
    <script src="{{ asset('scripts/vuex.dev.js') }}"></script>
{% endif %}

<script src="{{ asset('scripts/vue-scrollto.min.js') }}"></script>
<script src="{{ asset('scripts/vue-infinite-loading.min.js') }}"></script>

<script type="text/javascript">

    function deferLoadCss(url) {
        var giftofspeed = document.createElement('link');
        giftofspeed.rel = 'stylesheet';
        giftofspeed.href = url;
        giftofspeed.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(giftofspeed, godefer);
    }

    deferLoadCss('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Gugi:400&subset=latin-ext');
    deferLoadCss('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    function updateURLParameter(url, param, paramVal){
        var newAdditionalURL = "";
        var tempArray = url.split("?");
        var baseURL = tempArray[0];
        var additionalURL = tempArray[1];
        var temp = "";
        if (additionalURL) {
            tempArray = additionalURL.split("&");
            for (var i=0; i<tempArray.length; i++){
                if(tempArray[i].split('=')[0] != param){
                    newAdditionalURL += temp + tempArray[i];
                    temp = "&";
                }
            }
        }

        var rows_txt = temp + "" + param + "=" + paramVal;
        return baseURL + "?" + newAdditionalURL + rows_txt;
    }

    function check_webp_feature(feature, callback) {
        var kTestImages = {
            lossy: "UklGRiIAAABXRUJQVlA4IBYAAAAwAQCdASoBAAEADsD+JaQAA3AAAAAA",
            lossless: "UklGRhoAAABXRUJQVlA4TA0AAAAvAAAAEAcQERGIiP4HAA==",
            alpha: "UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAARBxAR/Q9ERP8DAABWUDggGAAAABQBAJ0BKgEAAQAAAP4AAA3AAP7mtQAAAA==",
            animation: "UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA"
        };
        var img = new Image();
        img.onload = function () {
            var result = (img.width > 0) && (img.height > 0);
            callback(feature, result);
        };
        img.onerror = function () {
            callback(feature, false);
        };
        img.src = "data:image/webp;base64," + kTestImages[feature];
    }

    {#
    function preload_images_no_array () {
        for (i = 0; i < preload.arguments.length; i++) {
            imagesPreloaded[i] = new Image()
            imagesPreloaded[i].src = preload.arguments[i]
        }
    }
    #}

    var imagesPreloaded = [];
    function preload_images (imagesToPreload) {
        imagesToPreload.forEach(function (element) {
            var image = new Image();
            image.src = element;
            imagesPreloaded.push(image);
        });
    }
</script>

<script src="{{ asset('scripts/axios.min.js') }}"></script>

{% include './Includes/jsRoutingScripts.html.twig' %}

{% include './Base/partialBaseVueJs.html.twig' %}

{% block page_javascripts %}
{% endblock %}
</body>
</html>