<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Checkout{% endblock %} - OffPopular.com</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css.css') }}">
    {% include './Base/favicons.html.twig' %}

    {% if app.environment == 'prod' %}
        {% include './Includes/jsCodesHead.html.twig' %}
    {% endif %}

    <script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>
</head>
<body>
    {% include './Includes/jsCodesBodyStart.html.twig' %}
    <div id="base-app">
            <div class="checkout-top">
                <div class="container">
                    <div class="columns is-mobile">
                        <div class="column is-one-third">
                            <a class="checkout-go-back" onclick="history.go(-1)"> <i class="fa fa-chevron-left"></i> <span class="is-hidden-mobile">Back to store</span></a>
                        </div>
                        <div class="column is-one-third">
                            <div class="navbar-brand">
                                <div class="navbar-item">
                                    <img src="{{ asset('/logo/logo@1x.png') }}" srcset="{{ asset('/logo/logo@2x.png') }} 2x" alt="Logo">
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third is-hidden-touch">
                            <p class="has-text-centered lighter-text">Need help? <strong class="light-text">{{ customer_support_email }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    {% block after_tops %}{% endblock %}
    {% block content %}{% endblock %}
<footer class="footer">
    <div class="container">
        <div class="columns content">
            {# JUST A PLACEHOLDER, TO LEAVE SOME WHITESPACE AT THE BOTTOM OF PAGE #}
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
<script src="{{ asset('scripts/sweetalert.min.js') }}"></script>
{% if app.environment == 'prod' %}
    <script src="{{ asset('scripts/vue.min.js') }}"></script>
    <script src="{{ asset('scripts/vuex.min.js') }}"></script>
{% else %}
    <script src="{{ asset('scripts/vue.dev.js') }}"></script>
    <script src="{{ asset('scripts/vuex.dev.js') }}"></script>
{% endif %}

<script type="text/javascript">
    function deferLoadCss(url) {
        var giftofspeed = document.createElement('link');
        giftofspeed.rel = 'stylesheet';
        giftofspeed.href = url;
        giftofspeed.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(giftofspeed, godefer);
    }

    deferLoadCss('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Gugi:400&subset=latin-ext');
    deferLoadCss('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
</script>

<script src="{{ asset('scripts/axios.min.js') }}"></script>

{% include './Base/partialBaseVueJs.html.twig' %}

{% block page_javascripts %}
{% endblock %}
</body>
</html>