<script type="text/javascript">
    const store = new Vuex.Store({
        state: {
            cart: {
                cartReservationEndsTimeStamp: 0,
                cartLastUpdated: new Date(),
                cartItems: []
            },
            measurement_sytem: 'us',
        },
        mutations: {
            initialiseStore: function (state) {
                // Check if the ID exists
                if (localStorage.getItem('store')) {
                    // Replace the state object with the stored item
                    this.replaceState(
                        Object.assign(state, JSON.parse(localStorage.getItem('store')))
                    );
                }
            },
            addProductToCart: function (state, payload) {
                var cartItem = {
                    productObj: payload.productObj,
                    productMockup: payload.productMockup,
                    customMockupPath: payload.customMockupPath,
                    productVariant: payload.productVariant,
                    addedTime: new Date()
                };

                state.cart.cartItems.push(cartItem);

                state.cart.cartLastUpdated = new Date();

                {% if app.environment == 'prod' %}
                gtag('event', 'add_to_cart', {
                    "items": [
                        {
                            "id": payload.productObj.id,
                            "name": payload.productObj.title,
                            "category": payload.productVariant.product_type.title,
                            "variant": payload.productVariant.size,
                            "quantity": 1,
                            "price": payload.productVariant.price
                        }
                    ]
                });
                {% endif %}
            },
            removeProductFromCart: function (state, payload) {
                var cartItems = state.cart.cartItems;
                var filteredCartItems = cartItems.filter(function (element) {
                    return !(element.productObj.id == payload.productObj.id && element.productVariant.id == payload.productVariant.id);
                });

                state.cart.cartItems = filteredCartItems;

                state.cart.cartLastUpdated = new Date();
            },
            increaseCartProductQuantity: function (state, payload) {
                var cartItemToClone = null;
                state.cart.cartItems.forEach(function (element) {
                    if (element.productObj.id === payload.productObj.id && element.productVariant.id === payload.productVariant.id) {
                        cartItemToClone = Object.assign({}, element);
                    }
                });

                cartItemToClone.addedTime = new Date();
                state.cart.cartItems.push(cartItemToClone);

                state.cart.cartLastUpdated = new Date();
            },
            decreaseCartProductQuantity: function (state, payload) {
                var deletedCount = 0;

                state.cart.cartItems.forEach(function (element, index) {
                    if (element.productObj.id === payload.productObj.id && element.productVariant.id === payload.productVariant.id && deletedCount < 1) {
                        Vue.delete(state.cart.cartItems, index);
                        deletedCount++;
                    }
                });

                state.cart.cartLastUpdated = new Date();
            },
            checkCartReservationEndsTimeStamp: function (state) {
                if (typeof state.cart.cartReservationEndsTimeStamp === 'undefined' || state.cart.cartReservationEndsTimeStamp === 0 || state.cart.cartReservationEndsTimeStamp <= Date.now() + 5000) {
                    state.cart.cartReservationEndsTimeStamp = Date.now() + 1800000; //30 min.
                }
            },
            clearCartReservationEndsTimestamp: function (state) {
                state.cart.cartReservationEndsTimeStamp = 0;
            },
            clearCart: function (state) {
                state.cart.cartItems = [];
            },
            changeMeasurementSystem: function (state, payload) {
                state.measurement_sytem = payload.measurementSystem;
            }
        }
    });

    store.subscribe(function (mutation, state) {
        // Store the state object as a JSON string
        localStorage.setItem('store', JSON.stringify(state));
    });

    var baseApp = new Vue({
        el: '#base-app',
        store: store,
        delimiters: ['${', '}'],
        beforeCreate: function () {
            this.$store.commit('initialiseStore');
        },
        data: {
            isCartWindowOpened: false,
            isNavbarMenuOpened: false,
            scrollY: 0,
            pictureServerBaseUrl: '{{ base_url }}',
            navbarExpandedItem: '',
            searchString: ''
        },
        mounted: function () {
            if (typeof this.cart !== 'undefined' && this.cart.cartLastUpdated !== 'undefined') {
                if (Date.now() - Date.parse(this.cart.cartLastUpdated) >= 129600000) {
                    // if 36 hours have pasesd
                    this.clearCart();
                } else if (new Date(this.cart.cartLastUpdated) < new Date(1527691200000)) {
                    // 2018-05-30 17:40 EEST big update
                    this.clearCart();
                    console.log('clear cart');
                }
            }

            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed: function () {
            window.removeEventListener('scroll', this.handleScroll);
        },
        methods: {
            submitSearch: function () {
                window.location.href = this.searchBoxUrl;
            },
            topMenuClick: function () {
                swal("Oops!", "This feature is still under construction. We're rushing to release it soon! Thank you for understanding!", "success", { button: 'Continue' });
            },
            handleScroll: function () {
                this.scrollY = window.scrollY;
            },
            openCartWindow: function () {
                this.isCartWindowOpened = true;
            },
            closeCartWindow: function () {
                this.isCartWindowOpened = false;
            },
            checkCartReservationEndsTimeStamp: function () {
                this.$store.commit('checkCartReservationEndsTimeStamp');
            },
            removeProductFromCart: function (productObj, productVariant) {
                this.$store.commit('removeProductFromCart', { productObj: productObj, productVariant: productVariant })
            },
            increaseCartProductQuantity: function (productObj, productVariant) {
                this.$store.commit('increaseCartProductQuantity', { productObj: productObj, productVariant: productVariant })
            },
            decreaseCartProductQuantity: function (productObj, productVariant) {
                this.$store.commit('decreaseCartProductQuantity', { productObj: productObj, productVariant: productVariant })
            },
            toggleNavbarMenu: function () {
                this.isNavbarMenuOpened = !this.isNavbarMenuOpened;
                this.navbarExpandedItem = '';
            },
            expandNavbarItem: function (item) {
                if (item === this.navbarExpandedItem) {
                    this.navbarExpandedItem = '';
                    return;
                }

                this.navbarExpandedItem = item;
            },
            clearCart: function () {
                this.$store.commit('clearCart');
            },
            clearCartReservationEndsTimestamp: function () {
                this.$store.commit('clearCartReservationEndsTimestamp');
            }
        },
        computed: {
            hasSpecialFreeShippingItems: function () {
                var outcome = false;
                this.cart.cartItems.forEach(function (element) {
                    if (element.productVariant.is_free_shipping) {
                        outcome = true;
                        return;
                    }
                });

                return outcome;
            },
            searchBoxUrl: function () {
                var searchString = url_encode(this.searchString);
                return "{{ path('search', { searchString: 'REPLACE_HERE' }) }}".replace('REPLACE_HERE', searchString);
            },
            cartReservationEndsTimestamp: function () {
                return this.$store.state.cart.cartReservationEndsTimeStamp;
            },
            amountLeftUntilFreeShipping: function () {
                return parseFloat(({{ min_free_shipping_amount }} - this.cartSubtotalForFreeShipping).toFixed(2));
            },
            cartItemCount: function () {
                return this.$store.state.cart.cartItems.length;
            },
            cartItems: function () {
                return this.$store.state.cart.cartItems;
            },
            cart: function () {
                return this.$store.state.cart;
            },
            measurementSystem: function () {
                return this.$store.state.measurement_sytem;
            },
            cartSubtotal: function () {
                var subtotal = 0;
                this.$store.state.cart.cartItems.forEach(function (element) {
                    subtotal += element.productVariant.price;
                });

                return parseFloat(subtotal).toFixed(2);
            },
            cartSubtotalForFreeShipping: function () {
                var subtotal = 0;
                this.$store.state.cart.cartItems.forEach(function (element) {
                    if (!element.productVariant.product_type.is_free_ship_excluded) {
                        subtotal += element.productVariant.price;
                    }
                });

                return parseFloat(subtotal).toFixed(2);
            },
            groupedCartItems: function () {
                var grouped = {};
                this.$store.state.cart.cartItems.forEach(function (element) {
                    var uniqueIdentifier = element.productObj.id + '-' + element.productVariant.id;

                    if (typeof grouped[uniqueIdentifier] === 'undefined') {
                        grouped[uniqueIdentifier] = [];
                    }

                    grouped[uniqueIdentifier].push(element);
                });

                return grouped;
            }
        }
    });
</script>