{% extends 'Base/base.html.twig' %}

{% block title %}{{ selectedProductType.label }} - All products{% endblock %}

{% block meta_description %}{{ selectedProductType.label }}. We offer not only MUSEUM quality canvases, but also phone/tablet cases, cushions, bags, mugs, t-shirts, backpacks, greeting cards and more than 10 other products made out of Van Gogh paintings.{% endblock %}

{% block og_image %}{{ absolute_url(products[0].getMainThumbnailPath(selectedProductType.key)) }}{% endblock %}

{% block content %}
    <div id="all-products-page">
        <section class="container first-container content">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <h1 class="title">Van Gogh paintings</h1>
                    <p>Since the Rembrandt epoch, Van Gogh is considered as the most famous Dutch painter, although his fame only came after his death. His influence on expressionism, fauvism and early abstraction was truly exceptional. Some of his works are among the most expensive paintings ever sold at auctions.</p>
                    <p>We offer not only MUSEUM quality canvases, but also <strong>phone/tablet cases, cushions, bags, mugs, t-shirts, backpacks, greeting cards</strong> and more than 10 other products made out of Van Gogh paintings.</p>
                    <div class="select-product-attention">
                        <p class="selector-title bold-text">Pick a product:</p>
                        <div class="select is-primary styled-select">
                            <select v-model="selectedProductType">
                                <template v-for="(value, key, index) in availableProductTypes" v-if="availableProductTypes" v-cloak>
                                    <option :value="key">${value}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline is-mobile">
                {% for product in products %}
                    <div class="column is-one-quarter-desktop is-half-mobile is-one-third-tablet">
                        {% include './Widgets/paintingWidgetInAllProducts.html.twig'  with { 'product': product } %}
                    </div>
                {% endfor %}
            </div>
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="select-product-attention">
                        <p class="selector-title bold-text">Pick a product:</p>
                        <div class="select is-primary styled-select">
                            <select v-model="selectedProductType">
                                <template v-for="(value, key, index) in availableProductTypes" v-if="availableProductTypes" v-cloak>
                                    <option :value="key">${value}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        var allProductsPage = new Vue({
            el: '#all-products-page',
            delimiters: ['${', '}'],
            data: {
                availableProductTypes: {{ availableProductTypes|json_encode|raw }},
                allPictures: {{ allPicturePaths|json_encode|raw }},
                selectedProductType: '{{ availableProductTypes|keys|first }}'
            },
            mounted: function () {
                if (getUrlParameter('p')) {
                    this.selectedProductType = getUrlParameter('p');
                }
            },
            watch: {
                selectedProductType: function (newSelectedProductType, oldSelectedProductType) {
                    window.history.replaceState('', '', updateURLParameter(window.location.href, "p", newSelectedProductType));
                }
            }
        });
    </script>
{% endblock %}