{% extends './Base/checkoutBase.html.twig' %}

{% block content %}
    <div id="checkout-page">
        <div class="checkout-countdown">
            <p>Your order reservation ends in:<strong id="count" v-show="showTimeLeftForCartReservation" v-cloak>${minutesAndSecondsLeftForReservation}</strong></p>
        </div>
        <div class="container is-fluid-2x">
            <div class="columns content">
                <div class="column is-two-thirds">
                    <h2 class="bolder-text">Place your secure order</h2>
                    <h4 class="all-caps bold-text" style="margin-bottom: 30px;">1. Some information about you:</h4>
                    <div class="checkout-form">
                        <div class="columns">
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">First name</label>
                                    <div class="control">
                                        <input class="input" type="text" v-model="checkoutForm.firstName">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Last name</label>
                                    <div class="control">
                                        <input class="input" type="text" v-model="checkoutForm.lastName">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control">
                                        <input class="input" type="email" placeholder="yourname@gmail.com" v-model="checkoutForm.email">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Country</label>
                                    <div class="select">
                                        <select v-model="checkoutForm.country">
                                            <option disabled value="">Select your country...</option>
                                            {% for key, country in allCountries %}
                                                <option value="{{ key }}">{{ country }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Phone (for delivery)</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Intl. format: +..." v-model="checkoutForm.phone">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Address</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="" v-model="checkoutForm.address">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">City</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="City" v-model="checkoutForm.city">
                                    </div>
                                </div>
                                <div class="field" v-if="postalStates" v-cloak>
                                    <label class="label">State</label>
                                    <div class="select">
                                        <select v-model="checkoutForm.state">
                                            <option disabled value="">Select your state...</option>
                                            <option v-for="state in postalStates" :value="state.code">${state.name}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">ZIP/Postal code</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="ZIP/Postal code" v-model="checkoutForm.postCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="all-caps bold-text" style="margin-top: 60px; margin-bottom: 30px;">2. Payment:</h4>

                    <p v-if="cartSubtotal == 0">Your cart is empty!</p>

                    <div id="dropin-container" v-show="cartSubtotal > 0"></div>

                    <div class="pay-button-container" v-show="cartSubtotal > 0" style="margin-top: 25px; margin-bottom: 35px;">
                        <button class="button pay-button" @click="submitCheckoutForm" :class="{ 'is-loading': isCheckoutRequestInProgress }" :disabled="!finalChargeAmount" v-cloak>Pay now</button>
                    </div>
                    <p v-show="cartSubtotal > 0" class="small-text light-text has-text-centered" v-if="finalChargeAmount" v-cloak>You will be charged ${finalChargeAmount} {{ final_charge_currency }}. <br>Fair exchange rate of 1 {{ display_currency }} = {{ finalChargeCurrencyRate.rate }} {{ final_charge_currency }} was applied, provided by European Central Bank, current as of now.</p>

                    <div class="is-hidden-mobile" v-if="!hasSpecialFreeShippingItems">
                        {% include './Includes/checkoutReviews.html.twig' %}
                    </div>
                    <div class="is-hidden-mobile" v-if="hasSpecialFreeShippingItems">
                        {% include './Includes/checkoutReviewsPillowCases.html.twig' %}
                    </div>
                </div>
                <div class="column is-one-third checkout-summary-column">
                    <h2 class="column-title">Order summary</h2>
                    <hr>
                    <div class="cart-content-summary" v-cloak>
                        <div class="cart-item" v-for="cartItemGroup in groupedCartItems">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter">
                                    <div class="cart-item-photo">
                                        <img v-if="cartItemGroup[0].productMockup" :src="['{{ product_mockups_resized_base_url }}' + '/' + cartItemGroup[0].productObj.id + '/' + cartItemGroup[0].productMockup.id + '/' + cartItemGroup[0].productMockup.id + '_100px.jpg']">
                                        <img v-if="!cartItemGroup[0].productMockup && cartItemGroup[0].customMockupPath" :src="cartItemGroup[0].customMockupPath">
                                    </div>
                                </div>
                                <div class="column is-three-quarters">
                                    <div class="cart-item-info">
                                        <div class="cart-item-info-top">
                                            <h2>${cartItemGroup[0].productObj.title} x${cartItemGroup.length}</h2>
                                            <h4><i class="fa fa-paint-brush"></i> ${cartItemGroup[0].productVariant.product_type.title_short}</h4>
                                            <h4><i class="fa fa-square-o"></i> size: ${cartItemGroup[0].productVariant.size}</h4>
                                            <h3>$${cartItemGroup[0].productVariant.price * cartItemGroup.length}</h3>
                                            <div v-if="cartItemGroup[0].productVariant.product_type.is_free_ship_excluded" style="clear: both;padding-top: 5px;">
                                                <p class="smallest-text">* Excluded from free shipping. <a href="{{ path('text_page_view', { 'slug': 'shipping-and-returns' }) }}" target="_blank">Why?</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="columns cart-subtotals is-mobile">
                            <div class="column is-two-thirds">
                                <p class="subtotal-left">
                                    Order Subtotal
                                </p>
                                <p class="subtotal-left">
                                    Shipping <template v-if="checkoutForm.country" v-cloak>(to ${checkoutForm.country})</template>
                                </p>
                            </div>
                            <div class="column is-one-third">
                                <p class="subtotal-right">
                                    $${cartSubtotal}
                                </p>

                                <p class="subtotal-right" v-if="cartShippingPrice != null"><span v-if="cartShippingPrice == 0">FREE</span><span v-if="cartShippingPrice != 0">$${cartShippingPrice}</span></p>
                                <p class="subtotal-right" v-if="cartShippingPrice == null">
                                    <a class="button is-loading is-small spinner-button">Loading</a>
                                </p>
                            </div>
                        </div>
                        <hr style="margin-top: 0; margin-bottom: 15px;">
                        <div class="columns cart-subtotals is-mobile">
                            <div class="column is-two-thirds">
                                <p class="total-left">
                                    Order Total:
                                </p>
                            </div>
                            <div class="column is-one-third">
                                <p class="total-right">
                                    <a class="button is-loading is-small spinner-button" v-if="cartShippingPrice == null">Loading</a>
                                    <span v-if="cartShippingPrice != null">$${cartTotal}</span>
                                </p>
                            </div>
                        </div>
                        <div style="margin-top: 40px"></div>
                        <div class="checkout-usp" v-if="!hasSpecialFreeShippingItems">
                            <div class="icon-container">
                                <span class="icon is-large">
                                    <i class="fa fa-2x fa-scissors"></i>
                                </span>
                            </div>
                            <div class="text-container">
                                <h2>Made to order</h2>
                                <p>Each OffPopular product is individually printed and assembled when you order it.</p>
                            </div>
                        </div>
                        <div class="checkout-usp">
                            <div class="icon-container">
                                <span class="icon is-large">
                                    <i class="fa fa-2x fa-thumbs-up"></i>
                                </span>
                            </div>
                            <div class="text-container">
                                <h2>No-hassle returns</h2>
                                <p>We want you to be stoked with your purchase, so if you’re not, let us know. We offer a 100% Happiness Guarantee, which means free refunds and exchanges.</p>
                            </div>
                        </div>
                        <div class="checkout-usp">
                            <div class="icon-container">
                                <span class="icon is-large">
                                    <i class="fa fa-2x fa-heart"></i>
                                </span>
                            </div>
                            <div class="text-container">
                                <h2>Your support open galleries</h2>
                                <p>1% of your order goes to building open-air galleries in art-deprived locations around the world.</p>
                            </div>
                        </div>

                        <div class="checkout-usp" v-if="!hasSpecialFreeShippingItems">
                            <div class="icon-container">
                                <span class="icon is-large">
                                    <i class="fa fa-2x fa-truck"></i>
                                </span>
                            </div>
                            <div class="text-container">
                                <h2>Free Shipping over $100</h2>
                                <p>We use live shipping rates directly from our carriers, offering you the cheapest option. For orders over $100, shipping is on us (excl. Framed Posters and Canvas products).</p>
                            </div>
                        </div>

                        <div class="checkout-usp" v-if="hasSpecialFreeShippingItems">
                            <div class="icon-container">
                                <span class="icon is-large">
                                    <i class="fa fa-2x fa-truck"></i>
                                </span>
                            </div>
                            <div class="text-container">
                                <h2>Free Shipping</h2>
                                <p>Shipping is on us - no need to worry.</p>
                            </div>
                        </div>

                        <div class="checkout-usp" v-if="!hasSpecialFreeShippingItems">
                            <div class="icon-container">
                                <span class="icon is-large">
                                    <i class="fa fa-2x fa-gift"></i>
                                </span>
                            </div>
                            <div class="text-container">
                                <h2>Free postcard over $50</h2>
                                <p>Share the love & make somebody's heart warmer.</p>
                            </div>
                        </div>

                        <div class="checkout-usp" v-if="!hasSpecialFreeShippingItems">
                            <div class="icon-container">
                                <span class="icon is-large">
                                    <i class="fa fa-2x fa-globe"></i>
                                </span>
                            </div>
                            <div class="text-container">
                                <h2>Made in USA and EU</h2>
                                <p>Based on availability, orders are shipped from the closest location to yours. This ensures faster & cheaper delivery.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12 is-hidden-tablet" v-if="!hasSpecialFreeShippingItems">
                    {% include './Includes/checkoutReviews.html.twig' %}
                </div>
                <div class="column is-12 is-hidden-tablet" v-if="hasSpecialFreeShippingItems">
                    {% include './Includes/checkoutReviewsPillowCases.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    {% include './Includes/CountryStatesJson.html.twig' %}

    <script type="text/javascript">
        var braintreeInstance;
        var inferredShippingPriceTimeout;

        var checkoutPage = new Vue({
            el: '#checkout-page',
            delimiters: ['${', '}'],
            data: {
                timeLeftForCartReservation: 1800000, // 30mins,
                showTimeLeftForCartReservation: false,
                checkoutForm: {
                    firstName: '',
                    lastName: '',
                    email: '',
                    address: '',
                    city: '',
                    postCode: '',
                    phone: '',
                    country: '{{ visitorCountry ? visitorCountry : '' }}',
                    state: ''
                },
                isCheckoutRequestInProgress: false,
                isTestPayment: {{ isTestPayment ? 'true' : 'false' }},
                pictureServerBaseUrl: '{{ base_url }}',
                shipping_api_response: null,
                inferredFrontendShippingPriceApplied: false
            },
            mounted: function () {
                baseApp.checkCartReservationEndsTimeStamp();
                setInterval(function () {
                    checkoutPage.timeLeftForCartReservation = baseApp.cartReservationEndsTimestamp - Date.now();
                    if (checkoutPage.timeLeftForCartReservation <= 5000) {
                        baseApp.checkCartReservationEndsTimeStamp();
                    }
                    checkoutPage.showTimeLeftForCartReservation = true;
                }, 500);

                {% if app.environment == 'prod' %}
                    var items = [];

                    this.cart.cartItems.forEach(function (element) {
                        items.push({
                            "id": element.productObj.id,
                            "name": element.productObj.title,
                            "category": element.productVariant.product_type.title,
                            "variant": element.productVariant.size,
                            "quantity": 1,
                            "price": element.productVariant.price
                        });
                    });

                    gtag('event', 'begin_checkout', {
                        "items": items,
                        "coupon": ""
                    });
                {% endif %}

                braintree_init();
                this.calculateShippingPrice();
            },
            watch: {
                "checkoutForm.country": function () {
                    this.calculateShippingPrice();
                    this.checkoutForm.state = '';
                },
                "checkoutForm.state": function () {
                    this.calculateShippingPrice();
                }
            },
            computed: {
                hasSpecialFreeShippingItems: function () {
                    return baseApp.hasSpecialFreeShippingItems;
                },
                postalStates: function () {
                    return typeof countryStates[this.checkoutForm.country] !== 'undefined' ? countryStates[this.checkoutForm.country] : null;
                },
                finalChargeAmount: function () {
                    return this.cartTotal !== null ? parseFloat(this.cartTotal * {{ finalChargeCurrencyRate.rate }}).toFixed(2) : null;
                },
                minutesAndSecondsLeftForReservation: function () {
                    return this.millisToMinutesAndSeconds(this.timeLeftForCartReservation);
                },
                groupedCartItems: function () {
                    return baseApp.groupedCartItems;
                },
                cartSubtotal: function () {
                    return baseApp.cartSubtotal;
                },
                cartTotal: function () {
                    return this.cartShippingPrice !== null ? (parseFloat(this.cartSubtotal) + parseFloat(this.cartShippingPrice)).toFixed(2) : null;
                },
                cart: function () {
                    return baseApp.cart;
                },
                cartShippingPrice: function () {
                    return this.shipping_api_response ? this.shipping_api_response.price : null;
                },
                inferredShippingPrice: function () {
                    // in case our api didnt work
                    return baseApp.amountLeftUntilFreeShipping <= 0 ? 0 : parseFloat(this.cartSubtotal * 0.1).toFixed(2);
                },
            },
            methods: {
                calculateShippingPrice: function () {
                    if (this.hasSpecialFreeShippingItems) {
                        this.shipping_api_response = {
                            price: 0.00
                        };
                        return;
                    }

                    this.shipping_api_response = null;

                    clearTimeout(inferredShippingPriceTimeout);
                    inferredShippingPriceTimeout = setTimeout(function () {
                        checkoutPage.shipping_api_response = {
                            price: checkoutPage.inferredShippingPrice,
                            type: 'frontend_inferred'
                        };
                        checkoutPage.inferredFrontendShippingPriceApplied = true;
                    }, 5000);

                    axios.post('{{ url('int_api_calculate_shipping_price') }}', {
                        recipientInfo: this.checkoutForm,
                        cartItems: this.cart.cartItems
                    })
                        .then(function (response) {
                            if (response.data.status === 'ok') {
                                clearTimeout(inferredShippingPriceTimeout);
                                if (!checkoutPage.inferredFrontendShippingPriceApplied) {
                                    checkoutPage.shipping_api_response = response.data;
                                }
                            } else {

                            }
                        });
                },
                humanFriendlyPrintType: function (type) {
                    // deprecated
                    return baseApp.humanFriendlyPrintType(type);
                },
                humanFriendlyProductType: function (type) {
                    return baseApp.humanFriendlyProductType(type);
                },
                submitCheckoutForm: function () {
                    this.isCheckoutRequestInProgress = true;

                    axios.post('{{ url('api_place_order') }}', {
                        cart: this.cart,
                        checkoutForm: this.checkoutForm,
                        isTestPayment: this.isTestPayment,
                        shippingApiResponse: this.shipping_api_response
                    })
                        .then(function (response) {
                            if (response.data.status === 'error') {
                                if (response.data.message === 'email_invalid') {
                                    swal("Oops!", "Email is incorrect.", "error", { button: 'Continue' });
                                    checkoutPage.isCheckoutRequestInProgress = false;
                                } else {
                                    swal("Oops!", "Some form fields are missing.", "error", { button: 'Continue' });
                                    checkoutPage.isCheckoutRequestInProgress = false;
                                }
                            } else if (response.data.status === 'ok') {
                                braintreeInstance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                                    if (requestPaymentMethodErr) {
                                        swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                                        checkoutPage.isCheckoutRequestInProgress = false;
                                        return;
                                    }

                                    // Submit payload.nonce to your server

                                    axios.post('{{ url('api_receive_braintree_payment_method_nonce') }}', {
                                        orderId: response.data.order_id,
                                        nonce: payload.nonce
                                    })
                                        .then(function (response) {
                                            if (response.data.status === 'ok') {
                                                location.href = response.data.redirect_url;
                                            } else {
                                                braintreeInstance.clearSelectedPaymentMethod();
                                                swal("Oops!", "Payment failed. Please check your personal and payment data. If problem persists, please contact us.", "error", { button: 'Continue' });
                                                checkoutPage.isCheckoutRequestInProgress = false;
                                                return;
                                            }
                                        });
                                });
                            }
                        })
                        .catch(function (error) {
                            checkoutPage.isCheckoutRequestInProgress = false;

                            swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                        });
                },
                millisToMinutesAndSeconds: function (millis) {
                    var minutes = Math.floor(millis / 60000);
                    var seconds = ((millis % 60000) / 1000).toFixed(0);

                    return minutes + " min. " + (seconds < 10 ? '0' : '') + seconds + " s.";
                }
            }
        });

        function braintree_init() {
            var button = document.querySelector('#submit-button');

            braintree.dropin.create({
                authorization: '{{ braintreeClientToken }}',
                container: '#dropin-container',
                paypal: {
                    flow: 'vault'
                }
            }, function (createErr, instance) {
                if (createErr) {
                    swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                    return;
                }

                braintreeInstance = instance;
            });
        }
    </script>
{% endblock %}