{% extends './Base/base.html.twig' %}

{% block content %}
    <img src="/graphics/brush_stroke_h66.png" style="display: none" />
    <div id="home-page">

        {# include './Includes/watchVideoModal.html.twig' #}

        <section class="hero-section">
            <div class="container is-fluid-4x content">
                <div class="columns">
                    <div class="hero-text-container column is-half-desktop is-two-thirds-tablet">
                        <div class="hero-heading">What's your <span class="text-brushstroke-red">real</span> self?</div>
                        <div class="hero-secondary-heading">
                            <span id="hero-product-count" class="bolder-text">9534</span> impressive products from the souls of <span class="text-op-red bolder-text">pa</span><span class="text-op-orange bolder-text">ss</span><span class="text-op-green bolder-text">io</span><span class="text-op-cyan bolder-text">na</span><span class="text-op-violet bolder-text">te</span> artists.
                        </div>
                        <div class="hero-search field is-grouped" v-cloak>
                            <p class="control is-expanded has-icons-left">
                                <input class="hero-search-box input is-medium" v-model="hero_search_string" type="text" placeholder="Search art" v-on:keyup.enter="searchSubmit">
                                <span class="icon is-medium is-left">
                                    <i class="fa fa-search" style="margin-bottom: 1px"></i>
                                </span>
                            </p>
                            <p class="control">
                                <a class="hero-search-button button is-danger is-medium" @click="searchSubmit"><span>Search</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="emotional-section">
            <div class="container content">
                <p>Because deep in your heart, you feel - that your blood desires something - that is truly yours.</p>
                <p>Something that cracks your frozen bones. Something that does not belong to the masses. Until (at least) tomorrow...</p>
            </div>
        </section>

        <section class="popular-paintings" style="padding: 30px 0 40px 0">
            <div class="container content">
                {#
                <h1 class="has-text-centered opheading1 is-uppercase">Offpopular Collections</h1>
                <div class="op-stripe-heading"></div>
                <div class="columns is-multiline is-mobile">
                    {% for product in products %}
                        <div class="column is-half-mobile is-one-quarter-tablet is-one-quarter-desktop">
                            TAG COLLECTION
                        </div>
                    {% endfor %}
                </div>
                #}
                <a href="{{ path('landing_pillow_cover_club') }}" target="_blank"><img src="{{ asset('/facebook/game1_pic_v2.jpg') }}" /></a>
                <h1 class="has-text-centered opheading1 is-uppercase">Spotlight</h1>
                <div class="op-stripe-heading"></div>
                <div class="columns is-multiline is-mobile" v-cloak>
                    {% for image, url in spotlight %}
                    <div class="column is-half-mobile is-one-quarter-tablet is-one-quarter-desktop">
                        <div class="painting-widget">
                            <a href="{{ url }}">
                                <div class="image is-1by1 spinner">
                                    <img src="{{ image }}" />
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h1 class="has-text-centered opheading1 is-uppercase">Product Feed</h1>
                <div class="op-stripe-heading"></div>
                <div class="columns is-multiline is-mobile" v-cloak>
                    <div v-for="product_result in product_feed.list" class="column is-half-mobile is-one-quarter-tablet is-one-quarter-desktop" v-cloak>
                        <div class="painting-widget">
                            <a :href="product_result.url">
                                <div class="image is-1by1 spinner">
                                    {% if is_favorites_collection_enabled %}
                                        <div class="add-to-favorites button is-small">
                                            <span class="icon">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                        </div>
                                    {% endif %}

                                    {% if is_zap_preview_enabled %}
                                        <div class="zap-preview-button-overlay">
                                            <div class="zap-preview-button button is-warning is-small">
                                            <span class="part-icon icon">
                                                <i class="fa fa-bolt"></i>
                                            </span>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="product-price-on-image">$${product_result.product_type.product_variants[0].price}</div>
                                    <img v-if="product_result.main_product_mockup_id" :src="['{{ product_mockups_resized_base_url }}' + '/' + product_result.product.id + '/' + product_result.main_product_mockup_id + '/' + product_result.main_product_mockup_id + '_350px.jpg']" />
                                </div>
                                <div class="product-title-and-price first">
                                    <h2 class="product-title">${product_result.product_type.title_short}</h2>
                                    {#<span class="product-price">$${product_result.product_type.product_variants[0].price}</span>#}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <infinite-loading @infinite="infiniteHandler" :distance="2000" :infinite-scroll-distance="2000" spinner="waveDots" ref="infiniteLoading">
                    <span slot="no-more"></span>
                    <span slot="no-results"></span>
                </infinite-loading>

                <div class="has-text-centered" v-if="product_feed.loading_done" style="margin-top: 30px">
                    <a class="button is-primary" href="{{ path('search') }}">
                        <span>More products</span>
                        <span class="icon">
                            <i class="fa fa-caret-right"></i>
                        </span>
                    </a>
                </div>

            </div>
        </section>
    </div>
    {% include './Includes/usps.html.twig' %}

    <section v-if="vue_mounted">
        {% include './Includes/openAirGalleryUspRow.html.twig' %}
    </section>
{% endblock %}

{% block page_javascripts %}
    {{ parent() }}

    <script src="/js_libs/countUp.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        var homePage = new Vue({
            el: '#home-page',
            delimiters: ['${', '}'],
            data: {
                vue_mounted: false,
                is_watch_video_modal_opened: false,
                video_modal_youtube_id: null,
                product_feed: {
                    list: [],
                    last_offset: 0,
                    limit_per_query: 20,
                    loading_done: false
                },
                hero_search_string: ''
            },
            computed: {
                searchBoxUrl: function () {
                    var searchString = url_encode(this.hero_search_string);
                    return "{{ path('search', { searchString: 'REPLACE_HERE' }) }}".replace('REPLACE_HERE', searchString);
                }
            },
            mounted: function () {
                // HERO PRODUCT COUNT ANIMATION
                var options = {
                    useEasing: true,
                    useGrouping: true,
                    separator: '',
                    decimal: '.'
                };
                var endVal = {{ cache_service().getPublishedProductsCount() }} * {{ cache_service().getPublishedProductTypesCount() }};
                var duration = 4;
                var animation = new CountUp('hero-product-count', 3564, endVal - 100, 0, duration/2, options);
                if (!animation.error) {
                    animation.start(function () {
                        animation.update(endVal);
                    });
                } else {
                    console.error(animation.error);
                }

                this.vue_mounted = true;
            },
            methods: {
                searchSubmit: function () {
                    window.location.href = this.searchBoxUrl;
                },
                openVideoModal: function (youtubeId) {
                    if (this.is_watch_video_modal_opened === true) {
                        return; // already opened
                    }
                    this.video_modal_youtube_id = youtubeId;

                    document.getElementsByTagName('html')[0].classList.add('is-clipped');

                    setTimeout(function () {
                        document.getElementById('watch-video-modal-iframe').contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
                    }, 1000);

                    this.is_watch_video_modal_opened = true;
                },
                infiniteHandler: function ($state) {
                    axios.get('{{ url('int_api_get_product_feed') }}', {
                        params: {
                            offset: this.product_feed.last_offset,
                            limit: this.product_feed.limit_per_query
                        }
                    })
                        .then(function (response) {
                            homePage.product_feed.last_offset += response.data.list.length;
                            homePage.product_feed.list = homePage.product_feed.list.concat(response.data.list);

                            if (homePage.product_feed.list.length < homePage.product_feed.limit_per_query * 3) {
                                $state.loaded();
                            } else {
                                $state.complete();
                                homePage.product_feed.loading_done = true;
                            }
                        })
                        .catch(function (error) {

                        });
                },
                closeVideoModal: function () {
                    document.getElementById('watch-video-modal-iframe').contentWindow.postMessage('{"event":"command","func":"stopVideo","args":""}', '*');
                    document.getElementsByTagName('html')[0].classList.remove('is-clipped');
                    this.is_watch_video_modal_opened = false;
                }
            }
        });
    </script>
{% endblock %}