{% extends './Base/base.html.twig' %}

{% block title %}{{ decodedSearchString|trim|capitalize|default('Shop') }}{% endblock %}

{% block meta_description %}Shop {{ decodedSearchString|trim|capitalize }} & design your life at OffPopular.com{% endblock %}

{% block content %}
    <div id="search-page">
        <div id="mobile-filters" :class="{ 'opened': this.is_mobile_filters_opened }">
            <div class="close-container">
                <span class="">Filter</span>
                <span class="icon" @click="closeMobileFilters()" style="cursor: pointer">
                    <i class="fa fa-lg fa-times"></i>
                </span>
            </div>
            <div class="filters-area">
                {% include './Includes/searchLeftFilters.html.twig' %}
            </div>
        </div>

        <section class="search-results-section gray-section-borderless">
            <div class="container is-fluid-2x content">
                    <div v-if="search_result" id="search-header" class="search-header" v-cloak>
                        <h1>${search_result.originalSearchString|capitalize} <span class="weightless">${search_result.totalResults} Results</span></h1>
                        <div class="is-hidden-tablet" style="margin: 10px 0" v-cloak>
                            <button class="button button-no-outline" style="width: 100%" @click="openMobileFilters()">
                                <span style="margin-right: auto">Filter</span>
                                <span class="icon is-small">
                                  <i class="fa fa-sliders"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="search-result-area">
                            <div class="filter-selections-container is-hidden-mobile">
                                <div class="filter-selections"
                                     :class="{ 'sticky': scrollY > search_result_area_scroll_top }"
                                     :style="{ 'top': scrollY > stickyFilterSelectionsStopLine ? (stickyFilterSelectionsStopLine - scrollY) + 'px' : '0px', 'bottom': scrollY > stickyFilterSelectionsStopLine ? (scrollY - stickyFilterSelectionsStopLine) + 'px' : '24px' }"
                                     v-cloak
                                >
                                    {% include './Includes/searchLeftFilters.html.twig' %}
                                </div>
                            </div>

                            <div class="search-product-area">
                                <div class="columns is-multiline is-mobile" v-cloak>
                                    <template v-if="!(search_result && search_result.productResults)">
                                        <div v-for="n in max_per_page" class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop" v-cloak>
                                            <div class="painting-widget">
                                                <div class="image is-1by1 spinner"></div>
                                            </div>
                                        </div>
                                    </template>

                                    <template v-if="search_result">
                                        <div v-for="product_result in search_result.productResults" class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop" v-cloak>
                                            <div class="painting-widget">
                                                <a :href="product_result.url">
                                                    <div class="image is-1by1 spinner">
                                                        {% if is_favorites_collection_enabled %}
                                                            <div class="add-to-favorites button is-small">
                                                        <span class="icon">
                                                            <i class="fa fa-heart"></i>
                                                        </span>
                                                            </div>
                                                        {% endif %}

                                                        {% if is_zap_preview_enabled %}
                                                            <div class="zap-preview-button-overlay">
                                                                <div class="zap-preview-button button is-warning is-small">
                                                            <span class="part-icon icon">
                                                                <i class="fa fa-bolt"></i>
                                                            </span>
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                        <div class="product-price-on-image">$${product_result.product_type.product_variants[0].price}</div>
                                                        <img v-if="product_result.main_product_mockup_id" :src="['{{ product_mockups_resized_base_url }}' + '/' + product_result.product.id + '/' + product_result.main_product_mockup_id + '/' + product_result.main_product_mockup_id + '_350px.jpg']" />
                                                    </div>
                                                    <div class="product-title-and-price first">
                                                        <h2 class="product-title" v-if="!search_result.matchedProductType">${search_result.matchedProductType ? product_result.product.title : product_result.product_type.title_short}</h2>
                                                        {# <span class="product-price">$${product_result.product_type.product_variants[0].price}</span> #}
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </template>
                                </div>

                                <nav v-if="search_result && search_result.productResults" class="search-pagination pagination is-centered" role="navigation" aria-label="pagination" v-cloak>
                                    <a class="pagination-previous" :disabled="page <= 1" @click="navigateToPage(paginationPreviousPage.page, paginationPreviousPage.url)">
                                        <span class="icon">
                                            <i class="fa fa-chevron-left"></i>
                                        </span>
                                        <span>
                                            Previous
                                        </span>
                                    </a>
                                    <a class="pagination-next" :disabled="page >= totalPages" @click="navigateToPage(paginationNextPage.page, paginationNextPage.url)">
                                        <span>
                                            Next
                                        </span>
                                        <span class="icon">
                                            <i class="fa fa-chevron-right"></i>
                                        </span>
                                    </a>
                                    <ul class="pagination-list">
                                        <li v-if="page != 1"><a class="pagination-link" @click="navigateToPage(paginationFirstPage.page, paginationFirstPage.url)">${paginationFirstPage.page}</a></li>
                                        <li v-if="page != 1 && page > 4"><span class="pagination-ellipsis">&hellip;</span></li>
                                        <li v-for="obj in paginationPreviousPages"><a class="pagination-link" @click="navigateToPage(obj.page, obj.url)">${obj.page}</a></li>
                                        <li><a class="pagination-link is-current" aria-current="page">${page}</a></li>
                                        <li v-for="obj in paginationNextPages"><a class="pagination-link" @click="navigateToPage(obj.page, obj.url)">${obj.page}</a></li>
                                        <li v-if="page != totalPages && totalPages - page > 3"><span class="pagination-ellipsis">&hellip;</span></li>
                                        <li v-if="page != totalPages"><a class="pagination-link" @click="navigateToPage(paginationLastPage.page, paginationLastPage.url)">${paginationLastPage.page}</a></li>
                                    </ul>
                                </nav>

                                <div v-if="paginationResultStats" class="has-text-centered text-gray smaller-text" style="margin-top: 20px" v-cloak>
                                    ${paginationResultStats.countStart} - ${paginationResultStats.countEnd} of ${paginationResultStats.totalResults} results
                                </div>
                            </div>
                    </div>
            </div>
        </section>

        <section v-if="vue_mounted">
            {% include './Includes/openAirGalleryUspRow.html.twig' %}
        </section>
    </div>
{% endblock %}

{% block page_javascripts %}
    {{ parent() }}

    <script type="text/javascript">


        var searchPage = new Vue({
            el: '#search-page',
            delimiters: ['${', '}'],
            data: {
                vue_mounted: false,
                is_watch_video_modal_opened: false,
                video_modal_youtube_id: null,
                search_result: null,
                all_product_types: {{ allProductTypes|serialize|raw }},
                all_product_type_categories: {{ allProductTypeCategories|serialize|raw }},
                scrollY: 0,
                search_result_area_scroll_top: 10000,
                search_page_bottom_scroll_top: 10000,
                max_per_page: {{ maxPerPage }},
                page: {{ page }},
                product_types_per_product_type_category: {{ productTypesPerProductTypeCategory|serialize|raw }},
                top_level_categories_per_product_type: {{ topLevelCategoriesPerProductType|serialize|raw }},
                is_mobile_filters_opened: false,
                is_product_type_category_filter_expanded: true,
                is_product_type_filter_expanded: true
            },
            computed: {
                paginationResultStats: function () {
                    if (!this.search_result) {
                        return null;
                    }
                    var countStart = (this.page-1) * this.max_per_page + 1;
                    var countEnd = this.page * this.max_per_page;
                    var totalResults = this.search_result.totalResults;

                    if (countEnd > totalResults) {
                        countEnd = totalResults
                    }

                    return {
                        'countStart': countStart,
                        'countEnd': countEnd,
                        'totalResults': totalResults
                    };
                },
                stickyFilterSelectionsStopLine: function () {
                    return this.search_page_bottom_scroll_top - window.innerHeight - 100;
                },
                totalPages: function () {
                    if (!this.search_result) {
                        return 1;
                    }
                    return typeof(this.search_result.totalResults) !== 'undefined' ? Math.ceil(this.search_result.totalResults / this.max_per_page) : 1;
                },
                paginationNextPage: function () {
                    var originalSearchString = url_encode(this.search_result.originalSearchString);
                    var page = this.page + 1;
                    var url = "{{ path('search', { searchString: 'REPLACE_HERE', page: 'REPLACE_PAGE' }) }}".replace('REPLACE_HERE', originalSearchString).replace('REPLACE_PAGE', page);

                    return {
                        'page': page,
                        'url': url
                    };
                },
                paginationPreviousPage: function () {
                    var originalSearchString = url_encode(this.search_result.originalSearchString);
                    var page = this.page - 1;
                    var url = "{{ path('search', { searchString: 'REPLACE_HERE', page: 'REPLACE_PAGE' }) }}".replace('REPLACE_HERE', originalSearchString).replace('REPLACE_PAGE', page);

                    return {
                        'page': page,
                        'url': url
                    };
                },
                paginationFirstPage: function () {
                    var originalSearchString = url_encode(this.search_result.originalSearchString);
                    var page = 1;
                    var url = "{{ path('search', { searchString: 'REPLACE_HERE', page: 'REPLACE_PAGE' }) }}".replace('REPLACE_HERE', originalSearchString).replace('REPLACE_PAGE', page);

                    return {
                        'page': page,
                        'url': url
                    };
                },
                paginationLastPage: function () {
                    var originalSearchString = url_encode(this.search_result.originalSearchString);
                    var page = this.totalPages;
                    var url = "{{ path('search', { searchString: 'REPLACE_HERE', page: 'REPLACE_PAGE' }) }}".replace('REPLACE_HERE', originalSearchString).replace('REPLACE_PAGE', page);

                    return {
                        'page': page,
                        'url': url
                    };
                },
                paginationNextPages: function () {
                    var n;
                    var nextPages = [];
                    for (n = 1; n <= 2; n++) {
                        if (this.page + n >= this.totalPages) {
                            break;
                        }

                        var page = this.page + n;
                        var originalSearchString = url_encode(this.search_result.originalSearchString);
                        var nextPageUrl = "{{ path('search', { searchString: 'REPLACE_HERE', page: 'REPLACE_PAGE' }) }}".replace('REPLACE_HERE', originalSearchString).replace('REPLACE_PAGE', page);
                        nextPages.push({
                            'page': page,
                            'url': nextPageUrl
                        });
                    }

                    return nextPages;
                },
                paginationPreviousPages: function () {
                    var n;
                    var previousPages = [];
                    for (n = 1; n <= 2; n++) {
                        if (this.page - n <= 1) {
                            break;
                        }

                        var page = this.page - n;
                        var originalSearchString = url_encode(this.search_result.originalSearchString);
                        var pageUrl = "{{ path('search', { searchString: 'REPLACE_HERE', page: 'REPLACE_PAGE' }) }}".replace('REPLACE_HERE', originalSearchString).replace('REPLACE_PAGE', page);
                        previousPages.push({
                            'page': page,
                            'url': pageUrl
                        });
                    }

                    return previousPages.reverse();
                },
                matchedProductTypeCategory: function () {
                    return this.search_result ? this.search_result.matchedProductTypeCategory : null;
                },
                matchedProductType: function () {
                    return this.search_result ? this.search_result.matchedProductType : null;
                }
            },
            mounted: function () {
                this.handleScroll();
                window.addEventListener('scroll', this.handleScroll);

                this.handleResize();
                window.addEventListener('resize', this.handleResize);

                baseApp.searchString = '{{ decodedSearchString }}';

                this.loadSearchResults();

                this.vue_mounted = true;
            },
            destroyed: function () {
                window.removeEventListener('scroll', this.handleScroll);
                window.removeEventListener('resize', this.handleResize);
            },
            methods: {
                navigateToPage: function (page, url) {
                    if (page < 1 || page > this.totalPages) {
                        return;
                    }

                    this.page = page;
                    if (this.search_result) {
                        this.search_result.productResults = null;
                    }

                    window.history.replaceState({}, null, url);
                    VueScrollTo.scrollTo('#search-header', 750);

                    this.loadSearchResults();
                },
                loadSearchResults: function () {
                    axios.get('{{ url('int_api_search') }}', {
                        params: {
                            searchString: url_encode(baseApp.searchString),
                            page: this.page,
                            maxPerPage: this.max_per_page
                        }
                    })
                        .then(function (response) {
                            searchPage.search_result = response.data.search_result;
                        })
                        .catch(function (error) {

                        });
                },
                toggleProductTypeCategoryFilterExpansion: function () {
                    this.is_product_type_category_filter_expanded = !this.is_product_type_category_filter_expanded;
                },
                toggleProductTypeFilterExpansion: function () {
                    this.is_product_type_filter_expanded = !this.is_product_type_filter_expanded;
                },
                openMobileFilters: function () {
                    this.is_mobile_filters_opened = true;
                },
                closeMobileFilters: function () {
                    this.is_mobile_filters_opened = false;
                },
                navigateToSearchUrl: function (productTypeOrProductTypeCategory) {
                    if (typeof productTypeOrProductTypeCategory === 'undefined') {
                        window.location.href = baseApp.searchBoxUrl;
                    }

                    if (!this.search_result) {
                        return;
                    }

                    var finalSearchString = url_encode(this.search_result.finalSearchString + ' ' + productTypeOrProductTypeCategory.title_for_search);

                    window.location.href = "{{ path('search', { searchString: 'REPLACE_HERE' }) }}".replace('REPLACE_HERE', finalSearchString);
                },
                navigateToFinalStringSearchUrl: function () {
                    if (!this.search_result) {
                        return;
                    }

                    window.location.href = "{{ path('search', { searchString: 'REPLACE_HERE' }) }}".replace('REPLACE_HERE', this.search_result.finalSearchString);
                },
                updateSearchResultAreaScrollTop: function () {
                    this.search_result_area_scroll_top = this.scrollY + document.getElementById('search-result-area').getBoundingClientRect().top;
                },
                updateSearchPageBottomScrollTop: function () {
                    this.search_page_bottom_scroll_top = this.search_result_area_scroll_top + document.getElementById('search-result-area').clientHeight;
                },
                handleScroll: function () {
                    this.scrollY = window.scrollY;
                    this.updateSearchPageBottomScrollTop();
                },
                handleResize: function () {
                    this.updateSearchResultAreaScrollTop();
                    this.updateSearchPageBottomScrollTop();
                },
                /*infiniteHandler: function ($state) {
                    axios.get('{{ url('int_api_get_product_feed') }}', {
                        params: {
                            offset: this.product_feed.last_offset,
                            limit: this.product_feed.limit_per_query
                        }
                    })
                        .then(function (response) {
                            homePage.product_feed.last_offset += response.data.list.length;
                            homePage.product_feed.list = homePage.product_feed.list.concat(response.data.list);
                            homePage.product_feed.list.length < 84 ? $state.loaded() : $state.complete();
                        })
                        .catch(function (error) {

                        });
                }*/
            },
            filters: {
                capitalize: function (value) {
                    if (!value) return ''
                    value = value.toString()
                    return value.charAt(0).toUpperCase() + value.slice(1)
                }
            }
        });
    </script>
{% endblock %}