{% extends './Base/base.html.twig' %}

{% block title %}{{ productType.titleShort }}: {{ product.title }} - #{{ product.id }}{% endblock %}

{% block meta_description %}{{ productType.titleShort }} (handmade in USA or EU).{% if productType.featuresIntroText %} {{ productType.featuresIntroText }}.{% endif %}{% if product.descriptionHeadline %} {{ product.descriptionHeadline }}.{% endif %} {{ product.tags(true)|capitalize }}.{% endblock %}

{% block og_image %}{{ product.productTypeMainImagePath(productType) }}{% endblock %}

{% block meta_keywords %}{{ product.tags(true) }}{% endblock %}

{% block head_styles %}
    <link href="{{ asset('assets/pageloader.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="view-product-page">
    <div id="pageloader" class="pageloader is-active" style="position:fixed; top: 0; left: 0; width: 100%; height: 100%; background: #065377;"><span class="title" style="top: 65%">What's your real self?</span></div>
    {% include './Widgets/productInfoOnScroll.html.twig' with { 'product': product } %}

    <div id="view-picture-modal" class="modal" :class="{ 'is-active': is_view_picture_modal_opened }">
        <div class="modal-background" @click="closePictureModal"></div>
        <div class="modal-content horizontal-img {# product.fileAspectRatio >= 1.1 ? 'horizontal-img' : 'vertical-img' #}">
            <div class="icon is-large control-icon is-hidden-touch" @click="pictureModalPrevious">
                <i class="fa fa-3x fa-angle-left"></i>
            </div>
            <div class="img-container" v-if="areMockupsLoaded">
                <img v-if="currentVariantProductMockups" :src="getMockupUrl(productObj, currentVariantProductMockups[currentPictureModalIndex])" alt="" />
            </div>
            <div class="icon is-large control-icon is-hidden-touch" @click="pictureModalNext">
                <i class="fa fa-3x fa-angle-right"></i>
            </div>
        </div>

        <div class="mobile-control-icons-container">
            <div class="icon is-large control-icon-mobile is-hidden-desktop" style="right: 120px; cursor: pointer;" @click="pictureModalPrevious">
                <i class="fa fa-3x fa-angle-left"></i>
            </div>
            <div class="icon is-large control-icon-mobile is-hidden-desktop" style="right: 80px; cursor: pointer;" @click="pictureModalNext">
                <i class="fa fa-3x fa-angle-right"></i>
            </div>
        </div>

        <button class="modal-close is-extra-large" aria-label="close" @click="closePictureModal"></button>
    </div>

    {% include './Includes/watchVideoModal.html.twig' %}

    <div id="exclusive-buyout-modal" class="modal" :class="{ 'is-active': is_exclusive_buyout_modal_opened }">
        <div class="modal-background" @click="closeExclusiveBuyoutModal"></div>
        <div class="modal-content content">
            <h1>Buy Exclusively at OffPopular</h1>
            <p>Benefits:</p>
            <ul>
                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> Stay off the popular eye</li>
                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> We won't sell this product to anybody else for 3 years</li>
                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> Get 7 gifts and our special treatment</li>
                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> Price: from $${exclusiveBuyMinimumPrice}</li>
            </ul>

            <div class="columns">
                <div class="column is-6">
                    <div class="field" style="margin-top: 20px;">
                        <label class="label">Your name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="e.g Alex Smith" v-model="exclusiveBuyoutForm.name">
                        </div>
                    </div>

                    <div class="field" style="margin-top: 20px;">
                        <label class="label">Your email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" v-model="exclusiveBuyoutForm.email">
                        </div>
                    </div>

                    <div class="field" style="margin-top: 20px;">
                        <label class="label">Your phone number (optional)</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="" v-model="exclusiveBuyoutForm.phone">
                        </div>
                    </div>

                    <button class="button is-primary" :class="{ 'is-loading': exclusiveBuyoutForm.submitInProgress }" @click="submitExclusiveBuyoutForm" style="margin-top: 20px;">Inquire now</button>
                </div>
            </div>
        </div>
        <button class="modal-close is-extra-large" aria-label="close" @click="closeExclusiveBuyoutModal"></button>
    </div>

    <section class="present-picture container is-fluid first-container">
        <div class="columns content">
            <div class="column is-6">
                <div class="picture-area" v-if="areMockupsLoaded">
                    <div class="gallery-thumbs-vertical">
                        <template v-if="currentVariantProductMockups">
                            <div class="spinner-small background-gray" v-for="(mockup, index) in currentVariantProductMockups">
                                <img class="fit-images" :src="['{{ product_mockups_resized_base_url }}' + '/' + productObj.id + '/' + mockup.id + '/' + mockup.id + '_50px.jpg']" @click="changeMagnifiedPictureIndex(index)" />
                            </div>
                        </template>
                        <template v-if="!currentVariantProductMockups">
                            <div class="background-gray image is-1by1" v-for="n in mockupCountPerVariant"></div>
                        </template>
                    </div>
                    <div class="img-container spinner">
                        <img v-if="currentVariantProductMockups" class="magnified-img" :src="['{{ product_mockups_resized_base_url }}' + '/' + productObj.id + '/' + currentVariantProductMockups[currentMagnifiedPictureIndex]['id'] + '/' + currentVariantProductMockups[currentMagnifiedPictureIndex]['id'] + '_500px.jpg']" @click="openPictureModal(currentMagnifiedPictureIndex)" />
                    </div>
                </div>
                {% if product.description %}
                    <div class="product-story-area">
                        <h3>{{ product.descriptionHeadline ? product.descriptionHeadline : 'Product\'s story' }}</h3>
                        {{ product.description|raw }}
                    </div>
                {% endif %}
            </div>
            <div class="column is-6">
                <div class="product-selector">
                    <h1>{{ product.title }}</h1>
                    <p class="product-type-title text-gray">{{ productType.title }}</p>
                    {#
                        <div class="love-shares">
                            <button class="button is-light"><span class="icon"><i class="fa fa-heart-o"></i></span></button>
                            <button class="button is-light"><span class="icon"><i class="fa fa-share-square-o"></i></span></button>
                        </div>
                    #}
                    {% if productType.productVariants|length > 1 %}
                        <p class="selector-title">Size:</p>
                        <div class="select is-primary styled-select">
                            <select v-model="selectedProductVariantId">
                                <template v-for="(productVariant, key, index) in availableProductVariants" v-cloak>
                                    <option :value="productVariant.id" :disabled="!productVariant.is_in_stock">${productVariant.size} <span v-if="!productVariant.is_in_stock">(out of stock, sorry)</span></option>
                                </template>
                            </select>
                        </div>
                        <button class="button is-light" @click="scrollToPictureInfo()"><span class="icon is-small"><i class="fa fa-question-circle" aria-hidden="true"></i></span></button>
                    {% endif %}
                    <hr>
                    <div class="selections">
                        <div class="left-part">
                            {% if product.isPublished and productType.isPublished %}
                                <h2 class="price" v-cloak>$${selectedProductVariant.price}</h2>
                                {% if not productType.isFreeShipExcluded %}
                                    <p class="smaller-text light-text" v-cloak v-if="amountLeftUntilFreeShipping >= 0">(<i class="fa fa-plane"></i> After adding this to cart, you'll need $${amountLeftUntilFreeShipping} more to get FREE SHIPPING)</p>
                                    <p class="smaller-text light-text" v-cloak v-if="amountLeftUntilFreeShipping < 0">(<i class="fa fa-plane"></i> Add this and get FREE SHIPPING!)</p>
                                {% endif %}
                                <a class="button is-medium buy-button" style="margin-top: 10px" @click="addToCart">Add to cart</a>
                            {% else %}
                                <p>We're sorry, but this product is currently unavailable.</p>
                            {% endif %}
                            <div class="columns" style="margin-top: 20px">
                                {#
                                <div class="column is-half">
                                    <article class="discounts-info message">
                                        <div class="message-body">
                                            Buy any 2 and get <span class="bold-text">15% off.</span><br>
                                            Buy any 4 and get <span class="bold-text">20% off.</span>
                                        </div>
                                    </article>
                                </div>
                                #}
                                <div class="column is-6">
                                    <article class="delivery-info message">
                                        <div class="message-body">
                                            {% set countryFlagPath = country_flag_path_by_ip(app.request.clientIp) %}
                                            <span class="title-heading">{% if countryFlagPath %}<img src="{{ countryFlagPath }}" style="height: 12px;margin-right: 7px;" />{% endif %}DELIVERY
                                            </span>
                                            <ul>
                                                {% set country_code = country_code_by_ip(app.request.clientIp) %}
                                                {% if country_code == 'us' or country_code == 'uk' %}
                                                    <li><span class="icon is-small"><i class="fa fa-exclamation" aria-hidden="true"></i></span> HALLOWEEN delivery: order before October 14th!</li>
                                                {% endif %}
                                                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> 97.66% of orders ship in 2-5 business days</li>
                                                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> We ship from USA or EU (not China!)</li>
                                                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> Shipping takes 3-10 business days</li>
                                                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> Free shipping over ${{ min_free_shipping_amount }} (excl. Framed posters & Canvas)</li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                                <div class="column is-6">
                                    <article class="delivery-info message">
                                        <div class="message-body">
                                            <span class="title-heading">
                                                FREE GIFT!
                                            </span>
                                            <ul>
                                                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> FREE POSTCARD/GREETING CARD for orders over ${{ min_free_postcard_amount }}</li>
                                            </ul>
                                            <span class="title-heading">
                                                RETURNS
                                            </span>
                                            <ul>
                                                <li><span class="icon is-small"><i class="fa fa-check" aria-hidden="true"></i></span> 14 days, no questions asked</li>
                                            </ul>
                                        </div>
                                    </article>
                                    {% if product.isPublished and productType.isPublished %}
                                        <div>
                                            <button class="button exclusive-buyout-button" @click="openExclusiveBuyoutModal()">BUY EXCLUSIVELY</button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {#
                            <p class="smaller-text" style="margin-top: 10px">
                                <i class="fa fa-eye"></i>
                                <span style="margin-left: 7px">
                                    {{ product.currentlyViewedCount }} people currently viewing this page
                                </span>
                            </p>
                            #}
                        </div>
                        <div class="right-part">
                            <p class="small-text light-text bold-text has-text-centered" style="margin-top: 30px">
                                <span>WHAT IS OFFPOPULAR?</span>
                            </p>
                            <div style="margin-top: 25px"></div>
                            <template>{% include './Includes/smallUspsNotFineArt.html.twig' %}</template>
                        </div>
                    </div>
                    {#
                    <hr>
                    <div class="van-gogh-thoughts columns">
                        <div class="column is-9-widescreen">
                            <div class="speech-bubble">
                                <div class="avatar">
                                    <img src="{{ asset('pictures/vangogas-small-portrait.jpg') }}">
                                </div>
                                <div class="messages">
                                    <p>{{ product.authorShortComment }} <br><a href="#" v-scroll-to="{ el: '#picture-description-heading', offset: -180 }"><i class="fa fa-caret-down"></i> <span>About Painting</span></a></p>
                                    <div class="author">- Vincent Van Gogh</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section id="picture-info-container" class="picture-info container">
        <div class="columns">
            <div class="column is-12">
                <div class="tabs is-toggle">
                    <ul>
                        <li :class="{ 'is-active': productInfo.openedTab == 'information' }">
                            <a @click="productInfoOpenTab('information')">
                                <span class="icon is-small"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                <span>Features</span>
                            </a>
                        </li>
                        <li :class="{ 'is-active': productInfo.openedTab == 'available_products' }">
                            <a @click="productInfoOpenTab('available_products')">
                                <span class="product-count" v-if="relatedProducts.list.length" v-cloak>${relatedProducts.list.length}</span>
                                <span>Products</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="product-information" class="columns is-multiline content" v-if="productInfo.openedTab == 'information'">
            {% if not productType.hideSizeGuide %}
                <div class="column is-6">
                    <h3>Size Guide</h3>
                    <div class="product-sizing-measurement-system-selector-container">
                        <a @click="changeMeasurementSystem('us')" :class="{ 'selected': measurementSystem == 'us' }">US sizes (in)</a> <span class="separator"></span> <a @click="changeMeasurementSystem('metric')" :class="{ 'selected': measurementSystem == 'metric' }">Metric sizes (cm)</a>
                    </div>
                    <ul v-cloak>
                        {% for productVariant in productType.productVariants %}
                            <li><span class="bold-text">{{ productVariant.size }}</span>: <template v-if="measurementSystem == 'us'">{{ productVariant.sizingExplanationUs }}</template><template v-if="measurementSystem == 'metric'">{{ productVariant.sizingExplanationMetric }}</template></li>
                        {% endfor %}
                    </ul>
                    {% if productType.sizingIntroText %}<p class="small-text-always">{{ productType.sizingIntroText }}</p>{% endif %}
                </div>
            {% endif %}
            <div class="column is-6">
                <h3>Features</h3>
                {% if productType.featuresIntroText %}<p class="small-text-always">{{ productType.featuresIntroText }}</p>{% endif %}
                <ul>
                    {% for feature in productType.getFeaturesBulletPoints(true) %}
                        {% if feature %}<li>{{ feature }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% if productType.shortDescription %}
                <div class="column is-12">
                    <div class="short-product-info-container">
                        {{ productType.shortDescription|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="available-products" class="columns content" v-if="productInfo.openedTab == 'available_products'">
            <div class="column is-12">
                {# AVAILABLE/RELATED PRODUCTS #}
                {% for topLevelCategory in topLevelCategories %}
                    <h3>{{ topLevelCategory.title }}</h3>
                    <div class="columns is-multiline is-mobile">
                        <div class="column is-one-fifth-tablet is-one-third-mobile" v-for="relatedProductResult in relatedProductsGroupedList[{{ topLevelCategory.id }}]">
                            <div class="painting-widget">
                                <a :href="relatedProductResult.url">
                                    <div class="image is-1by1 spinner">
                                        <div class="product-price-on-image">$${relatedProductResult.product_type.product_variants[0].price}</div>
                                        <img v-if="relatedProductResult.main_product_mockup_id" :src="['{{ product_mockups_resized_base_url }}' + '/' + relatedProductResult.product.id + '/' + relatedProductResult.main_product_mockup_id + '/' + relatedProductResult.main_product_mockup_id + '_350px.jpg']" />
                                    </div>
                                    <div class="product-title-and-price first">
                                        <h2 class="product-title">${relatedProductResult.product_type.title_short}</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="gray-section">
        <div class="container">
            <div class="content">
                <h2 class="has-text-centered">You might also like... </h2>
                <div class="columns is-multiline is-mobile">
                    <div v-for="similarProductResult in similarProducts.list" class="column is-one-quarter-tablet is-half-mobile">
                        <div class="painting-widget">
                            <a :href="similarProductResult.url">
                                <div class="image is-1by1 spinner">
                                    {% if is_favorites_collection_enabled %}
                                        <div class="add-to-favorites button is-small">
                                            <span class="icon">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if is_zap_preview_enabled %}
                                        <div class="zap-preview-button-overlay">
                                            <div class="zap-preview-button button is-warning is-small">
                                                <span class="part-icon icon">
                                                    <i class="fa fa-bolt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="product-price-on-image">$${similarProductResult.product_type.product_variants[0].price}</div>
                                    <img v-if="similarProductResult.main_product_mockup_id" :src="['{{ product_mockups_resized_base_url }}' + '/' + similarProductResult.product.id + '/' + similarProductResult.main_product_mockup_id + '/' + similarProductResult.main_product_mockup_id + '_350px.jpg']" />
                                </div>
                                <div class="product-title-and-price first">
                                    <h2 class="product-title">${similarProductResult.product.title}</h2>
                                    {#<span class="product-price">$${similarProductResult.product_type.product_variants[0].price}</span>#}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <infinite-loading @infinite="infiniteHandler" :distance="800" :infinite-scroll-distance="800" spinner="waveDots" ref="infiniteLoading">
                    <span slot="no-more"></span>
                    <span slot="no-results"></span>
                </infinite-loading>

                <div class="has-text-centered" v-if="similarProducts.isLoadDone">
                    <a class="button is-primary" href="{{ path('search', { searchString: productType.titleForSearch|php_url_encode }) }}">
                        <span>See other {{ cache_service().getPublishedProductsCount() }} {{ productType.titleShort }} designs</span>
                        <span class="icon">
                            <i class="fa fa-caret-right"></i>
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section v-if="vue_mounted">
        {% include './Includes/openAirGalleryUspRow.html.twig' %}
    </section>
    {% include './Includes/reviews.html.twig' %}
    {% include './Includes/usps.html.twig' %}

</div>
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        document.addEventListener('scroll', function () {
            if (document.documentElement.scrollTop > 580) {
                document.getElementById('product-info-on-sroll').classList.add('show');
            } else {
                document.getElementById('product-info-on-sroll').classList.remove('show');
            }
        });

        var viewProductPage = new Vue({
            el: '#view-product-page',
            delimiters: ['${', '}'],
            data: {
                vue_mounted: false,
                is_view_picture_modal_opened: false,
                is_watch_video_modal_opened: false,
                is_exclusive_buyout_modal_opened: false,
                currentPictureModalIndex: 0,
                currentMagnifiedPictureIndex: 0,
                productObj: {{ product|serialize|raw }},
                availableProductVariants: {{ productType.productVariants|serialize|raw }},
                selectedProductVariantId: {{ productType.productVariants|first.id }},
                productMockupsByVariants: {{ product.productMockupsByVariants(productType)|serialize|raw }},
                mockupCountPerVariant: {{ product.productMockupsByVariants(productType)|first|length }},
                productInfo: {
                    openedTab: 'information'
                },
                similarProducts: {
                    list: [],
                    isLoadDone: false
                },
                relatedProducts: {
                    list: []
                },
                exclusiveBuyoutForm: {
                    name: '',
                    email: '',
                    phone: '',
                    submitInProgress: false
                },
                currentVariantProductMockups: {{ product.productMockupsByVariants(productType)[productType.productVariants|first.id]|slice(0, maxMockupsPerVariant)|serialize|raw }}
            },
            mounted: function () {
                document.getElementById('pageloader').classList.remove("is-active");

                this.loadRelatedProducts();
                this.preloadMockups('_500px');

                this.vue_mounted = true;
            },
            watch: {
                selectedProductVariant: function (newProductVariant) {
                    this.currentVariantProductMockups = null;
                    this.is_view_picture_modal_opened = false;
                    this.is_watch_video_modal_opened = false;
                    this.currentPictureModalIndex = 0;
                    this.currentMagnifiedPictureIndex = 0;

                    //this.currentVariantProductMockups = this.productMockupsByVariants[this.selectedProductVariant.id];
                    setTimeout(function () {
                        viewProductPage.currentVariantProductMockups = viewProductPage.productMockupsByVariants[newProductVariant.id].slice(0, {{ maxMockupsPerVariant }});
                    }, 100);

                    this.preloadMockups('_500px');
                }
            },
            computed: {
                exclusiveBuyMinimumPrice: function () {
                    return parseFloat(this.selectedPrice * 5).toFixed(2);
                },
                areMockupsLoaded: function () {
                    return !!Object.keys(this.productMockupsByVariants).length;
                },
                selectedProductVariant: function () {
                    var productVariantId = this.selectedProductVariantId;
                    return this.availableProductVariants.filter(function (element) {
                        return element.id === productVariantId;
                    })[0];
                },
                relatedProductsGroupedList: function () {
                    var grouped = [];
                    this.relatedProducts.list.forEach(function (element) {
                        if (typeof element.product_type.product_type_category === 'undefined') {
                            return;
                        }

                        var highestLevelCategory = element.product_type.product_type_category.is_top_level ? element.product_type.product_type_category : element.product_type.product_type_category.parent_product_type_category;

                        if (typeof grouped[highestLevelCategory.id] === 'undefined') {
                            grouped[highestLevelCategory.id] = new Array();
                        }

                        grouped[highestLevelCategory.id].push(element);
                    });

                    return grouped;
                },
                selectedPrice: function () {
                    return this.selectedProductVariant.price;
                },
                amountLeftUntilFreeShipping: function () {
                    return parseFloat((baseApp.amountLeftUntilFreeShipping - this.selectedPrice).toFixed(2));
                },
                measurementSystem: function () {
                    return baseApp.measurementSystem;
                },
            },
            methods: {
                submitExclusiveBuyoutForm: function () {
                    this.exclusiveBuyoutForm.submitInProgress = true;

                    axios.post('{{ url('int_api_submit_exclusive_buyout_form') }}', {
                        form: this.exclusiveBuyoutForm,
                        productId: {{ product.id }},
                        productTypeId: {{ productType.id }},
                        productVariantId: this.selectedProductVariant.id
                    })
                        .then(function (response) {
                            viewProductPage.exclusiveBuyoutForm.submitInProgress = false;
                            if (response.data.status === 'error') {
                                if (response.data.message === 'email_invalid') {
                                    swal("Oops!", "Email is incorrect.", "error", { button: 'Continue' });
                                } else {
                                    swal("Oops!", "Some form fields are missing.", "error", { button: 'Continue' });
                                }
                            } else if (response.data.status === 'ok') {
                                viewProductPage.closeExclusiveBuyoutModal();
                                swal("Success!", "We've received your inquiry. We'll contact you soon!", "success", { button: 'Continue' });
                            }
                        })
                        .catch(function (error) {
                            checkoutPage.isCheckoutRequestInProgress = false;

                            swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                        });
                },
                closeExclusiveBuyoutModal: function () {
                    this.is_exclusive_buyout_modal_opened = false;
                },
                openExclusiveBuyoutModal: function () {
                    this.is_exclusive_buyout_modal_opened = true;
                },
                getMockupUrl: function (productObj, productMockup, suffix) {
                    return getMockupUrlProxy(productObj, productMockup, suffix);
                },
                preloadMockups: function (suffix) {
                    var mockupsToPreload = this.productMockupsByVariants[this.selectedProductVariant.id];
                    mockupsToPreload = JSON.parse(JSON.stringify(mockupsToPreload)); // make a copy
                    //mockupsToPreload.shift();

                    var productObj = this.productObj;
                    var urlsToPreload = mockupsToPreload.map(function (element) {
                        return getMockupUrlProxy(productObj, element, suffix);
                    });

                    preload_images(urlsToPreload);
                },
                loadRelatedProducts: function () {
                    axios.post('{{ url('int_api_get_related_product_types_product_results') }}', {
                        productId: {{ product.id }}
                    })
                        .then(function (response) {
                            viewProductPage.relatedProducts.list = response.data.list;
                        })
                        .catch(function (error) {

                        });
                },
                scrollToPictureInfo: function () {
                    this.productInfoOpenTab('information');
                    VueScrollTo.scrollTo('#picture-info-container', 750, { offset: -70 });
                },
                productInfoOpenTab: function (tab) {
                    this.productInfo.openedTab = tab;
                },
                changeMeasurementSystem: function (measurementSystem) {
                    baseApp.$store.commit('changeMeasurementSystem', { measurementSystem: measurementSystem})
                },
                addToCart: function () {
                    baseApp.$store.commit('addProductToCart', {
                        productObj: this.productObj,
                        productVariant: this.selectedProductVariant,
                        productMockup: this.productMockupsByVariants[this.selectedProductVariant.id][0]
                    });

                    swal({
                        title: "Your item was added! :)",
                        text: "Would you like to pay now?",
                        icon: "success",
                        buttons: {
                            cancel: {
                                text: "Continue browsing",
                                value: null,
                                visible: true,
                                className: "",
                                closeModal: true,
                            },
                            confirm: {
                                text: "Pay now",
                                value: true,
                                visible: true,
                                className: "",
                                closeModal: true
                            }
                        }
                    })
                    .then(function (value) {
                        if (value === true) {
                            location.href = '{{ url('checkout') }}';
                        }
                    });
                },
                openPictureModal: function (pictureIndex) {
                    if (this.is_view_picture_modal_opened === true) {
                        return; // already opened
                    }

                    this.currentPictureModalIndex = pictureIndex;
                    document.getElementsByTagName('html')[0].classList.add('is-clipped');
                    this.is_view_picture_modal_opened = true;

                    this.preloadMockups();
                },
                closePictureModal: function () {
                    document.getElementsByTagName('html')[0].classList.remove('is-clipped');
                    this.is_view_picture_modal_opened = false;
                },
                pictureModalNext: function () {
                    var nextIndex = this.currentPictureModalIndex + 1;
                    if (typeof this.productMockupsByVariants[this.selectedProductVariant.id][nextIndex] === 'undefined') {
                        nextIndex = 0;
                    }
                    this.currentPictureModalIndex = nextIndex;
                    this.changeMagnifiedPictureIndex(nextIndex);
                },
                pictureModalPrevious: function () {
                    var previousIndex = this.currentPictureModalIndex - 1;
                    if (previousIndex < 0) {
                        previousIndex = this.productMockupsByVariants[this.selectedProductVariant.id].length - 1;
                    }
                    this.currentPictureModalIndex = previousIndex;
                    this.changeMagnifiedPictureIndex(previousIndex);
                },
                changeMagnifiedPictureIndex: function (newIndex) {
                    this.currentMagnifiedPictureIndex = newIndex;
                },
                openVideoModal: function (youtubeId) {
                    if (this.is_watch_video_modal_opened === true) {
                        return; // already opened
                    }

                    this.video_modal_youtube_id = youtubeId;

                    document.getElementsByTagName('html')[0].classList.add('is-clipped');

                    setTimeout(function () {
                        document.getElementById('watch-video-modal-iframe').contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
                    }, 1000);

                    this.is_watch_video_modal_opened = true;
                },
                closeVideoModal: function () {
                    document.getElementById('watch-video-modal-iframe').contentWindow.postMessage('{"event":"command","func":"stopVideo","args":""}', '*');
                    document.getElementsByTagName('html')[0].classList.remove('is-clipped');
                    this.is_watch_video_modal_opened = false;
                },
                infiniteHandler: function ($state) {
                    axios.get('{{ url('int_api_get_similar_products_feed') }}', {
                        params: {
                            product_type_id: {{ productType.id }}
                        }
                    })
                        .then(function (response) {
                            viewProductPage.similarProducts.list = viewProductPage.similarProducts.list.concat(response.data.list);
                            $state.complete(); // just 1 load
                            viewProductPage.similarProducts.isLoadDone = true;
                        })
                        .catch(function (error) {

                        });
                },
            }
        });

        document.onkeydown = function(evt) {
            evt = evt || window.event;
            if (evt.keyCode === 27) { // Esc key pressed
                viewProductPage.closePictureModal();
                viewProductPage.closeVideoModal();
            }
        };

        function getMockupUrlProxy(productObj, productMockup, suffix) {
            var resolutionString = typeof (suffix) !== 'undefined' ? suffix : '';
            var baseUrl = resolutionString.length > 0 ? '{{ product_mockups_resized_base_url }}' : '{{ product_mockups_full_size_base_url }}';

            return baseUrl + '/' + productObj.id + '/' + productMockup.id + '/' + productMockup.id + resolutionString + '.jpg';
        }
    </script>
{% endblock %}