<div class="painting-widget">
    <a :href="['{{ path('view_product', { 'slug': product.slug, 'id': product.id }) }}' + '?p=' + selectedProductType]">
        <div class="painting-widget-img-overlay-container" v-if="typeof (allPictures[{{ product.id }}][selectedProductType][1]) !== 'undefined'">
            <div class="painting-widget-img-overlay" :style="{ 'background-image': 'url(\'' + allPictures[{{ product.id }}][selectedProductType][1] + '\')' }"></div>
            <img :src="allPictures[{{ product.id }}][selectedProductType][0]" />
        </div>
        <img :src="allPictures[{{ product.id }}][selectedProductType][0]" v-if="typeof (allPictures[{{ product.id }}][selectedProductType][1]) === 'undefined'" />
        {#<p class="price">€8.<sup class="cents">49</sup> – €79.<sup class="cents">99</sup></p>#}
    </a>
    <a :href="['{{ path('view_product', { 'slug': product.slug, 'id': product.id }) }}' + '?p=' + selectedProductType]">
        <h2>{{ product.title }}</h2>
    </a>
</div>