{# The old widget coming from Van Gogh projects #}
<div class="painting-widget">
    <a href="{{ path('view_product', { 'slug': product.slug, 'id': product.id }) }}">
        <div class="image is-1by1">
            <div class="zap-preview-button-overlay">
                <div class="button is-warning is-medium">
                    <span class="icon">
                        <i class="fa fa-bolt"></i>
                    </span>
                    <span>Zap View</span>
                </div>
            </div>
            <div class="image-top-overlay"></div>
            <div class="image-top-stripe"></div>
            <img src="{{ product.mainImageRelativePath }}" />
            <div class="image-bottom-stripe"></div>
            <div class="image-bottom-overlay">
                <div class="button is-danger is-outlined is-small">
                    <span class="icon">
                        <i class="fa fa-heart"></i>
                    </span>
                    <span>Save</span>
                </div>
            </div>
        </div>
        <h2>{{ product.title }}</h2>
    </a>
</div>