<div class="painting-widget">
    <a href="{{ path('view_product', { 'slug': product.slug, 'id': product.id, 'productTypeSlug': productType.slug }) }}">
        <div class="image is-1by1">
            <div class="add-to-favorites button is-danger is-outlined is-small">
                <span class="icon">
                    <i class="fa fa-heart"></i>
                </span>
                <span>Save</span>
            </div>
            <div class="zap-preview-button-overlay">
                <div class="button is-warning is-medium">
                    <span class="icon">
                        <i class="fa fa-bolt"></i>
                    </span>
                    <span>Zap Preview</span>
                </div>
            </div>
            {#<div class="image-top-overlay"></div>#}
            <img src="{{ product.productTypeMainImagePath(productType) }}" />
            {#<div class="image-bottom-overlay">
                <div class="button is-danger is-outlined is-small">
                    <span class="icon">
                        <i class="fa fa-heart"></i>
                    </span>
                    <span>Save</span>
                </div>
            </div>#}
        </div>
        <h2>{% block product_title %}{{ product.title }}{% endblock %}</h2>
    </a>
</div>