<div id="product-info-on-sroll" class="product-info-on-sroll">
    <div class="container is-fluid">
        <div class="left-cont">
            <p><span class="bolder-text">PRODUCT:</span> {{ productType.titleShort }} / <span class="bolder-text">SIZE:</span> ${selectedProductVariant.size}</p>
        </div>
        {% if product.isPublished and productType.isPublished %}
            <div class="right-cont">
                <a class="button buy-button-white" style="margin-top: 10px" @click="addToCart">Add to cart</a>
                <p class="price" v-cloak>$${selectedProductVariant.price}</p>
            </div>
        {% endif %}
    </div>
</div>