{% extends '@EasyAdmin/default/list.html.twig' %}

{% block content_header %}

{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css.css') }}">
    <style>
        .navbar {
            display: block; /* fix bulma collision */
        }
        .actions {
            position: fixed;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px 40px;
        }
        .actions p {
            color: white;
        }
        .product-mockups {
            position: fixed;
            background: rgba(0, 0, 0, 0.6);
            top: 50px;
            left: 50px;
            width: 105px;
            height: 100%;
            z-index: 9999;
        }
        .product-mockups img {
            width: 100px;
            margin-bottom: 10px
        }
    </style>
{% endblock %}

{% block main %}
    <div id="add-tag-for-search-page">
        <form action="" method="post">
            <div class="field">
                <div class="control">
                    <input name="tag" class="input is-primary" type="text" placeholder="Add tag">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input name="search_keyword" class="input is-primary" type="text" placeholder="for products found by">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="button is-primary" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('scripts/axios.min.js') }}"></script>
    <script async src="{{ asset('scripts/sweetalert.min.js') }}"></script>

    {% if app.environment == 'prod' %}
        <script src="{{ asset('scripts/vue.min.js') }}"></script>
        <script src="{{ asset('scripts/vuex.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('scripts/vue.dev.js') }}"></script>
        <script src="{{ asset('scripts/vuex.dev.js') }}"></script>
    {% endif %}
{% endblock body_javascript %}