{% extends '@EasyAdmin/default/list.html.twig' %}

{% block content_header %}

{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css.css') }}">
    <style>
        .navbar {
            display: block; /* fix bulma collision */
        }
        .tag {
            margin-top: 5px;
        }
        table tr:hover {
            background-color: white !important;
        }
        table tr:hover td {
            background: white !important;
        }
        .border-green {
            border: 5px solid #7fc32a;
        }
        .pagination {
            float: none !important;
        }
        .pagination-list {
            list-style: none !important;
            margin: 0 !important;
            justify-content: flex-end;
        }
        .pagination-list li {
            margin-top: 0 !important;
        }
    </style>
{% endblock %}

{% block main %}
    <table class="table is-bordered is-narrow is-fullwidth">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title (will change slug)</th>
            <th>Image</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <textarea class="product-title" data-id="{{ product.id }}" style="width: 500px; height: 60px;" onblur="productTitleUpdated({{ product.id }})">{{ product.title }}</textarea>
                </td>
                <td style="width: 200px;">
                    <div style="display: flex; flex-direction: column;">
                        <a href="{{ jpgFileUrls[product.id] }}" target="_blank"><img style="max-height: 200px" src="{{ jpgFileUrls[product.id] }}" /></a>
                        <a style="margin-top: 15px;" href="{{ product.productTypeMainImagePath(productType) }}" target="_blank"><img style="max-height: 200px" src="{{ product.productTypeMainImagePath(productType) }}" /></a>
                    </div>
                </td>
                <td style="white-space: normal; width: 280px;">
                    {% for tag in product.tags %}
                        {% set tag_class = tag.monthlyGoogleSearch > 250000 ? 'is-primary' : tag.monthlyGoogleSearch > 50000 ? 'is-warning' : '' %}
                        <span class="tag {{ tag_class }}" title="{{ tag.monthlyGoogleSearch }}">{{ tag }} <small style="font-size: 0.55rem; margin-left: 5px;">({{ tag.monthlyGoogleSearch/1000 }}K)</small></span>
                    {% endfor %}
                </td>
                <td>
                    <a class="button is-success is-small" href="{{ path('opadmin_actions_product_jpg_reprocess', { id: product.id }) }}" target="_blank">JPG reprocess</a>
                    <a class="button is-danger is-small" href="{{ path('opadmin_actions_product_delete', { id: product.id }) }}" target="_blank">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" href="{{ url('opadmin_product_mass_edit', { page: page-1, entity: 'Product' }) }}">Previous</a>
        <a class="pagination-next" href="{{ url('opadmin_product_mass_edit', { page: page+1, entity: 'Product' }) }}">Next page</a>
        <ul class="pagination-list">
            <li>
                <a class="pagination-link" href="{{ url('opadmin_product_mass_edit', { page: page-2, entity: 'Product' }) }}">{{ page-2 }}</a>
            </li>
            <li>
                <a class="pagination-link" href="{{ url('opadmin_product_mass_edit', { page: page-1, entity: 'Product' }) }}">{{ page-1 }}</a>
            </li>
            <li>
                <a class="pagination-link is-current">{{ page }}</a>
            </li>
            <li>
                <a class="pagination-link" href="{{ url('opadmin_product_mass_edit', { page: page+1, entity: 'Product' }) }}">{{ page+1 }}</a>
            </li>
            <li>
                <a class="pagination-link" href="{{ url('opadmin_product_mass_edit', { page: page+2, entity: 'Product' }) }}">{{ page+2 }}</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('scripts/axios.min.js') }}"></script>
    <script async src="{{ asset('scripts/sweetalert.min.js') }}"></script>

    <script type="text/javascript">
        function productTitleUpdated(id) {

            axios.post('{{ url('opadmin_actions_product_update_title') }}', {
                title: document.querySelector('.product-title[data-id="' + id + '"]').value,
                id: id
            })
                .then(function (response) {
                    if (response.data.status === 'error') {
                        swal("Oops!", response.data.message, "error", { button: 'Continue' });
                    } else if (response.data.status === 'ok') {
                        document.querySelector('.product-title[data-id="' + id + '"]').classList.add('border-green');
                        setTimeout(function () {
                            document.querySelector('.product-title[data-id="' + id + '"]').classList.remove('border-green');
                        }, 2000);
                    }
                })
                .catch(function (error) {
                    swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                });
        }
    </script>
{% endblock body_javascript %}