{% extends '@EasyAdmin/default/list.html.twig' %}

{% block content_header %}

{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css.css') }}">
    <style>
        .navbar {
            display: block; /* fix bulma collision */
        }
        .actions {
            position: fixed;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px 40px;
        }
        .actions p {
            color: white;
        }
        .product-mockups {
            position: fixed;
            background: rgba(0, 0, 0, 0.6);
            top: 50px;
            left: 50px;
            width: 105px;
            height: 100%;
            z-index: 9999;
        }
        .product-mockups img {
            width: 100px;
            margin-bottom: 10px
        }
    </style>
{% endblock %}

{% block main %}
    <div id="quality-control-page">
        <div class="actions">
            <div class="nav-links" style="margin-right: auto;margin-left: 140px;">
                <a class="button is-black" @click="navigateBack()">Back</a>
                <a class="button is-black" @click="navigateNext()">Next</a>
            </div>
            <div class="info-about-picture" style="margin-right: 20px">
                <p>Product IDs: {{ (productsBatch|first).id }} - {{ (productsBatch|last).id }}. Current ID: <span v-cloak>${currentProduct.id}</span></p>
            </div>
            <div class="buttons-panel">
                <button class="button is-danger" style="margin-right: 20px" @click="reject()">Reject</button>
                <button class="button is-primary" style="margin-right: 20px" @click="accept(true)">Accept & Exceptional</button>
                <button class="button is-primary" @click="accept()">Accept</button>
            </div>
        </div>
        <div class="product-mockups">
            <div v-for="productMockupUrlSet in productMockupUrls">
                <a :href="productMockupUrlSet[1]" target="_blank"><img :src="productMockupUrlSet[0]" /></a>
            </div>
        </div>
        <div class="main-container">
            <img v-if="currentImageUrl" :src="currentImageUrl">
            <div v-if="!currentImageUrl">NO IMAGE</div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('scripts/axios.min.js') }}"></script>
    <script async src="{{ asset('scripts/sweetalert.min.js') }}"></script>

    {% if app.environment == 'prod' %}
        <script src="{{ asset('scripts/vue.min.js') }}"></script>
        <script src="{{ asset('scripts/vuex.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('scripts/vue.dev.js') }}"></script>
        <script src="{{ asset('scripts/vuex.dev.js') }}"></script>
    {% endif %}

    <script type="text/javascript">
        var imagesPreloaded = [];
        function preload_images (imagesToPreload) {
            imagesToPreload.forEach(function (element) {
                if (!element) {
                    return;
                }

                var image = new Image();
                image.src = element;
                imagesPreloaded.push(image);
            });
        }
    </script>

    <script type="text/javascript">
        var qualityControlPage = new Vue({
            el: '#quality-control-page',
            delimiters: ['${', '}'],
            data: {
                current_product_index: 0,
                jpg_file_urls: {{ jpgFileUrls|serialize|raw }},
                products: {{ productsBatch|serialize|raw }},
                random_product_mockups: {{ randomProductMockups|serialize|raw }}
            },
            mounted: function () {
                {% if app.environment == 'prod' %}
                    preload_images(Object.values(this.jpg_file_urls));
                {% endif %}
            },
            computed: {
                currentImageUrl: function () {
                    return this.jpg_file_urls[this.products[this.current_product_index].id];
                },
                currentProduct: function () {
                    return this.products[this.current_product_index];
                },
                productMockupUrls: function () {
                    var vuejs = this;
                    var mockups = this.random_product_mockups[this.currentProduct.id];
                    if (mockups.length < 1) {
                        return null;
                    }

                    var urls = [];
                    mockups.forEach(function (element) {
                        urls.push([vuejs.getMockupUrl(element, '_100px'), vuejs.getMockupUrl(element)]);
                    });

                    return urls;
                }
            },
            methods: {
                getMockupUrl: function (mockupObj, suffix) {
                    var suffix = suffix || '';
                    var baseUrl = suffix.length > 0 ? '{{ product_mockups_resized_base_url }}' : '{{ product_mockups_full_size_base_url }}';

                    return baseUrl + '/' + this.currentProduct.id + '/' + mockupObj.id + '/' + mockupObj.id + suffix + '.jpg';
                },
                navigateNext: function () {
                    var nextIndex = this.current_product_index + 1;
                    if (nextIndex + 1 <= this.products.length) {
                        this.current_product_index++;
                    }
                },
                navigateBack: function () {
                    var previousIndex = this.current_product_index - 1;
                    if (previousIndex >= 0) {
                        this.current_product_index--;
                    }
                },
                accept: function (markAsExceptional) {
                    var markAsExceptional = markAsExceptional || false;

                    if (this.currentProduct.quality_control_accepted_at && !markAsExceptional) {
                        this.navigateNext();
                        return;
                    }

                    axios.post('{{ url('opadmin_actions_api_quality_control_product_accept') }}', {
                        product_id: this.currentProduct.id,
                        is_exceptional: markAsExceptional
                    })
                        .then(function (response) {
                            if (response.data.status === 'error') {
                                swal("Oops!", response.data.message, "error", { button: 'Continue' });
                            } else if (response.data.status === 'ok') {
                                qualityControlPage.navigateNext();
                            }
                        })
                        .catch(function (error) {
                            swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                        });
                },
                reject: function () {
                    axios.post('{{ url('opadmin_actions_api_quality_control_product_reject') }}', {
                        product_id: this.currentProduct.id
                    })
                        .then(function (response) {
                            if (response.data.status === 'error') {
                                swal("Oops!", response.data.message, "error", { button: 'Continue' });
                            } else if (response.data.status === 'ok') {
                                qualityControlPage.navigateNext();
                            }
                        })
                        .catch(function (error) {
                            swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                        });
                }
            }
        });

        function productTitleUpdated(id) {

            axios.post('{{ url('opadmin_actions_product_update_title') }}', {
                title: document.querySelector('.product-title[data-id="' + id + '"]').value,
                id: id
            })
                .then(function (response) {
                    if (response.data.status === 'error') {
                        swal("Oops!", response.data.message, "error", { button: 'Continue' });
                    } else if (response.data.status === 'ok') {
                        document.querySelector('.product-title[data-id="' + id + '"]').classList.add('border-green');
                        setTimeout(function () {
                            document.querySelector('.product-title[data-id="' + id + '"]').classList.remove('border-green');
                        }, 2000);
                    }
                })
                .catch(function (error) {
                    swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                });
        }
    </script>
{% endblock body_javascript %}