<hr style="margin-top: 50px">
<h3>Reviews</h3>
<div class="single-review" style="padding-bottom: 20px">
    <div class="columns">
        <div class="column is-4">
            <div>
                {% for i in 1..5 %}
                    <i class="fa fa-star"></i>
                {% endfor %}
            </div>
            <p class="reviewer-name">Janet Nicholson <i class="fa fa-check-circle-o"></i></p>
        </div>
        <div class="column is-8">
            <h3 class="review-title">All perfect!</h3>
            <p class="review-text">Absolutely in love with these pillow covers! The colors are a little bit deeper but also more vibrant than what they appear on the computer screen, but I'm so happy with how it came out. The fabric is so smooth and nice. I wouldn't change a single thing about them, I'm in love!</p>
        </div>
    </div>
</div>
<hr>
<div class="single-review" style="padding-bottom: 20px">
    <div class="columns">
        <div class="column is-4">
            <div>
                {% for i in 1..5 %}
                    <i class="fa fa-star"></i>
                {% endfor %}
            </div>
            <p class="reviewer-name">Frances D. Hull <i class="fa fa-check-circle-o"></i></p>
        </div>
        <div class="column is-8">
            <h3 class="review-title">Thanks!</h3>
            <p class="review-text">There are not enough stars :D It's worth more than 5 stars! The colors were clear, crisp and the fabric is sooo soft. Love it!!</p>
        </div>
    </div>
</div>
<hr>
<div class="single-review" style="padding-bottom: 20px">
    <div class="columns">
        <div class="column is-4">
            <div>
                {% for i in 1..4 %}
                    <i class="fa fa-star"></i>
                {% endfor %}
            </div>
            <p class="reviewer-name">Jodi White <i class="fa fa-check-circle-o"></i></p>
        </div>
        <div class="column is-8">
            <h3 class="review-title">Awesome quality!</h3>
            <p class="review-text">Pillow case was really good and nice, vibrant colors. I'm so happy, the quality is awesome...</p>
        </div>
    </div>
</div>