<hr style="margin-top: 50px">
<h3>Reviews</h3>
<div class="single-review" style="padding-bottom: 20px">
    <div class="columns">
        <div class="column is-4">
            <div>
                {% for i in 1..5 %}
                    <i class="fa fa-star"></i>
                {% endfor %}
            </div>
            <p class="reviewer-name">Pete Jordan <i class="fa fa-check-circle-o"></i></p>
        </div>
        <div class="column is-8">
            <h3 class="review-title">All perfect!</h3>
            <p class="review-text">I've got 3 canvas prints - wonderful craft, vivid colors. I just can't stop admiring. Thank you guys!</p>
        </div>
    </div>
</div>
<hr>
<div class="single-review" style="padding-bottom: 20px">
    <div class="columns">
        <div class="column is-4">
            <div>
                {% for i in 1..5 %}
                    <i class="fa fa-star"></i>
                {% endfor %}
            </div>
            <p class="reviewer-name">Evelyn Heim <i class="fa fa-check-circle-o"></i></p>
        </div>
        <div class="column is-8">
            <h3 class="review-title">Thanks!</h3>
            <p class="review-text">There are not enough stars :D It's worth more than 5 stars! Unbelievable customer support, quality is also great. Thank you so much!!! In the future, we'll only buy from here :) Good luck! I highly recommend this shop to everyone. It's a hidden gem.</p>
        </div>
    </div>
</div>
<hr>
<div class="single-review" style="padding-bottom: 20px">
    <div class="columns">
        <div class="column is-4">
            <div>
                {% for i in 1..5 %}
                    <i class="fa fa-star"></i>
                {% endfor %}
            </div>
            <p class="reviewer-name">Stella Roldan <i class="fa fa-check-circle-o"></i></p>
        </div>
        <div class="column is-8">
            <h3 class="review-title">Awesome quality!</h3>
            <p class="review-text">Canvas was really good and nice, vibrant colors, fast shipping. I'm so happy, the quality is awesome...</p>
        </div>
    </div>
</div>