<footer class="footer">
    <div class="container is-fluid">
        <div class="columns content">
            <div class="column is-half">
                <div class="columns">
                    <div class="column is-one-third">
                        <a href="{{ path('index') }}" class="footer-subtitle">Store</a>
                        <a href="{{ path('search') }}" class="footer-link">All products</a>
                        <a class="footer-link" href="{{ path('text_page_view', { slug: 'about-us' }) }}">About Us</a>
                        {#<a class="footer-link" href="{{ path('post_all') }}">Blog</a>#}
                        <a class="footer-link" href="{{ path('text_page_view', { slug: 'offpopulars-mission-to-build-open-air-galleries-in-art-deprived-locations' }) }}">Open-air galleries</a>
                        <a class="footer-link" href="{{ path('text_page_what_is_offpopular') }}">What is OffPopular</a>
                    </div>
                    <div class="column is-one-third">
                        <h2 class="footer-subtitle">Info</h2>
                        <a class="footer-link" href="{{ path('text_page_view', { slug: 'contact-us' }) }}">Contact us</a>
                        <a class="footer-link" href="{{ path('text_page_view', { slug: 'shipping-and-returns' }) }}">Shipping and returns</a>
                        <a class="footer-link" href="{{ path('text_page_view', { slug: 'faq-frequently-asked-questions' }) }}">F.A.Q.</a>
                        <a class="footer-link" href="{{ path('text_page_view', { slug: 'privacy-and-personal-data-protection-policy' }) }}">Privacy policy</a>
                        <a class="footer-link" href="{{ path('text_page_view', { slug: 'terms-of-use' }) }}">Terms of Use</a>
                    </div>
                    <div class="column is-one-third">
                        <h2 class="footer-subtitle">Follow us</h2>
                        <a class="footer-link" href="https://www.facebook.com/offpopular" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a>
                        <a class="footer-link" href="https://www.instagram.com/offpopular/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
                    </div>
                </div>
            </div>
            <div class="column is-4 is-offset-1">
                <h2 class="footer-subtitle has-text-centered">Need help?</h2>
                <p class="footer-paragraph has-text-centered">Drop us a message: ({{ customer_support_email }}). <br>We're with you 10am-8pm EEST, no days off.</p>
                <div class="footer-contact-icons">
                    <div class="contact-container">
                        <a href="mailto:{{ customer_support_email }}">
                            <span class="icon">
                              <i class="fa fa-lg fa-envelope-o"></i>
                            </span>
                            <p>Email</p>
                        </a>
                    </div>
                    {#
                    <div class="contact-container">
                        <a href="tel:{{ customer_support_phone }}">
                            <span class="icon">
                              <i class="fa fa-lg fa-volume-control-phone"></i>
                            </span>
                            <p>Tel.</p>
                        </a>
                    </div>
                    #}
                    <div class="contact-container">
                        <a href="https://www.facebook.com/offpopular" target="_blank">
                                    <span class="icon">
                                      <i class="fa fa-lg fa-facebook-f"></i>
                                    </span>
                            <p>FB message</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="columns content">
            <div class="column is-one-third copyright-text-container">
                <p class="copyright light-text">© 2018 OffPopular.com. All rights reserved. All prices displayed in {{ display_currency }}.</p>
            </div>
            <div class="column is-two-thirds">
                <div class="footer-logos-container">
                    <img src="{{ asset('bank-logos/monochrome/visa.png') }}" />
                    <img src="{{ asset('bank-logos/monochrome/mastercard.png') }}" />
                    <img src="{{ asset('bank-logos/monochrome/maestro.png') }}" />
                    <img src="{{ asset('bank-logos/monochrome/paypal.png') }}" />
                </div>
            </div>
        </div>
    </div>
</footer>