<div class="columns" style="border: 1px solid #e0e0e0; border-radius: 5px;">
    <div class="column is-5-tablet is-4-desktop left-text-container">
        <div class="initial-top-part">
            <h1 class="title bright">Museum quality<br>Van Gogh reproductions!</h1>
            <p></p>
            <h2 class="subtitle bright">The most famous Dutch painter of XIX century</h2>
        </div>
        <div class="onhover-top-part">
            <p class="secret-text"><strong>Sssh!</strong> Hey. It's me, Vincent. Don't tell anyone that I live here. Thanks for dropping by.</p>
        </div>
        <div style="margin-bottom: 20px"></div>
        <a href="{{ path('all_products') }}" class="button is-primary is-outlined is-medium cta-button initial-button" style="margin-top: auto">Van Gogh paintings</a>
        <a href="{{ path('all_products') }}" class="button is-primary is-medium cta-button onhover-button" style="margin-top: auto">Van Gogh paintings</a>
    </div>
    <div class="column is-7-tablet is-8-desktop">
        <div class="columns is-multiline is-mobile" style="align-items: baseline">
            {% for productInfo in heroProductShowcase %}
                <div class="product-column column is-2-desktop is-3-tablet is-4-mobile">
                    <a href="{{ path('all_products', { p: productInfo.product_type }) }}">
                        {% if productInfo.product_type in ['fine_art_canvas', 'photo_print', 'economy_canvas'] %}
                            <img src="{{ indexedProducts[productInfo.product_id].getMainImageRelativePath(100) }}" />
                        {% else %}
                            <img src="{{ indexedProducts[productInfo.product_id].getImageRelativePathsByProductType(productInfo.product_type, 4, 100)[productInfo.thumbnail_img_index] }}" />
                        {% endif %}
                        <p class="product-type-explain" {% if productInfo.small_label %}style="font-size: 0.7rem"{% endif %}>{{ productInfo.label }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>