<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

{% if app.environment == 'prod' %}
    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="269189113711666"
         logged_in_greeting="Deep in your heart, you feel that your blood desires what is truly yours..."
         logged_out_greeting="Deep in your heart, you feel that your blood desires what is truly yours..."
         greeting_dialog_display="fade"
         greeting_dialog_delay="10"
    >
    </div>
{% endif %}