{#
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="/js/fos_js_routes.js"></script>
#}

<script type="text/javascript">
    function url_encode(s)
    {
        return encodeURIComponent( s ).replace( /\%20/g, '+' ).replace( /!/g, '%21' ).replace( /'/g, '%27' ).replace( /\(/g, '%28' ).replace( /\)/g, '%29' ).replace( /\*/g, '%2A' ).replace( /\~/g, '%7E' );
    }

    function url_decode(s)
    {
        return decodeURIComponent( s.replace( /\+/g, '%20' ).replace( /\%21/g, '!' ).replace( /\%27/g, "'" ).replace( /\%28/g, '(' ).replace( /\%29/g, ')' ).replace( /\%2A/g, '*' ).replace( /\%7E/g, '~' ) );
    }
</script>