<div class="open-air-gallery-usp">
    <div class="image-container">
        <img src="{{ asset('graphics/first-open-air-gallery.jpg') }}" />
    </div>
    <div class="explainer-container">
        <div class="content">
            <h2>1% OF YOUR ORDER</h2>
            <p>goes to building open-air galleries in art-deprived locations around the world.</p>
            <a href="{{ path('text_page_view', { slug: 'offpopulars-mission-to-build-open-air-galleries-in-art-deprived-locations' }) }}" class="button">Read the story</a>
            <p class="smaller-text" style="margin-top: 8px">by OffPopular's founder Tomas Vyšniauskas</p>
        </div>
    </div>
</div>