{# DEPARTMENT SELECTION #}
<div class="filter-selection" :class="{ 'is-active': is_product_type_category_filter_expanded }">
    <header class="filter-selection-header">
        <a class="filter-selection-toggle" @click="toggleProductTypeCategoryFilterExpansion()">
            <span class="icon">
                <i class="fa fa-chevron-down"></i>
            </span>
        </a>
        <a class="filter-selection-name">Department</a>
    </header>
    <div class="filter-selection-list-container">
        <ul class="filter-selection-list">
            <li :class="{ 'active': !matchedProductTypeCategory && !matchedProductType }"><a @click="navigateToFinalStringSearchUrl()">All Departments</a></li>
            <li v-for="productTypeCategory in all_product_type_categories" :class="{ 'active': matchedProductTypeCategory && (matchedProductTypeCategory.id == productTypeCategory.id || matchedProductTypeCategory.parent_product_type_category && matchedProductTypeCategory.parent_product_type_category.id == productTypeCategory.id) || matchedProductType && top_level_categories_per_product_type[matchedProductType.id].id == productTypeCategory.id }">
                <a @click="navigateToSearchUrl(productTypeCategory)">${productTypeCategory.title}</a>
            </li>
        </ul>
    </div>
</div>

{# PRODUCT TYPE SELECTION #}
<div class="filter-selection" :class="{ 'is-active': is_product_type_filter_expanded }">
    <header class="filter-selection-header">
        <a class="filter-selection-toggle" @click="toggleProductTypeFilterExpansion()">
            <span class="icon">
                <i class="fa fa-chevron-down"></i>
            </span>
        </a>
        <a class="filter-selection-name">Product</a>
    </header>
    <div class="filter-selection-list-container">
        <ul class="filter-selection-list">
            <li :class="{ 'active': !matchedProductType }"><a @click="navigateToFinalStringSearchUrl()">All Products</a></li>
            <template v-if="matchedProductTypeCategory">
                <li v-for="productType in product_types_per_product_type_category[matchedProductTypeCategory.id]" :class="{ 'active': matchedProductType && matchedProductType.id == productType.id }">
                    <a @click="navigateToSearchUrl(productType)">${productType.title_short}</a>
                </li>
            </template>
            <template v-if="!matchedProductTypeCategory && matchedProductType">
                <li v-for="productType in product_types_per_product_type_category[top_level_categories_per_product_type[matchedProductType.id].id]" :class="{ 'active': matchedProductType && matchedProductType.id == productType.id }">
                    <a @click="navigateToSearchUrl(productType)">${productType.title_short}</a>
                </li>
            </template>
            <template v-if="!matchedProductTypeCategory && !matchedProductType">
                <li v-for="productType in all_product_types" :class="{ 'active': matchedProductType && matchedProductType.id == productType.id }">
                    <a @click="navigateToSearchUrl(productType)">${productType.title_short}</a>
                </li>
            </template>
        </ul>
    </div>
</div>