<div class="small-usps">
    <div class="small-usp">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-truck"></i>
            </span>
        </div>
        <div class="text-container">
            <p>180 dienų grąžinimui</p>
        </div>
    </div>
    <div class="small-usp">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-trophy"></i>
            </span>
        </div>
        <div class="text-container">
            <p>20 metų patirtis</p>
        </div>
    </div>
    <div class="small-usp is-hidden-tablet-only">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-lock"></i>
            </span>
        </div>
        <div class="text-container">
            <p>100% saugus apmokėjimas</p>
        </div>
    </div>
</div>