<div class="small-usps">
    <div class="small-usp">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-scissors"></i>
            </span>
        </div>
        <div class="text-container">
            <p>Made to order</p>
        </div>
    </div>
    <div class="small-usp">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-thumbs-up"></i>
            </span>
        </div>
        <div class="text-container">
            <p><a href="{{ path('text_page_view', { slug: 'shipping-and-returns' }) }}">14 day no-hassle returns</a></p>
        </div>
    </div>
    <div class="small-usp">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-globe"></i>
            </span>
        </div>
        <div class="text-container">
            <p>Made in USA and EU</p>
        </div>
    </div>
</div>
<div class="small-usps" style="margin-top: 17px">
    <div class="small-usp">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-heart"></i>
            </span>
        </div>
        <div class="text-container">
            <p><a href="{{ path('text_page_view', { slug: 'offpopulars-mission-to-build-open-air-galleries-in-art-deprived-locations' }) }}">You support building open-air galleries</a></p>
        </div>
    </div>
    <div class="small-usp">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-truck"></i>
            </span>
        </div>
        <div class="text-container">
            <p><a href="{{ path('text_page_view', { slug: 'shipping-and-returns' }) }}">Free shipping over $100</a></p>
        </div>
    </div>
    <div class="small-usp">
        <div class="icon-container">
            <span class="icon is-medium">
                <i class="fa fa-lg fa-gift"></i>
            </span>
        </div>
        <div class="text-container">
            <p>Free postcard for orders over $50</p>
        </div>
    </div>
</div>