<div id="navigation-menu">
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
        {#
        <div class="very-top-header">
            <div class="container">
                <div class="top-corner-text">
                    <p>Currency: <strong>{{ display_currency }} ($)</strong></p>
                </div>
                <div class="customer-support-text top-corner-text" style="margin-left: auto">
                    <p>Help: <strong>{{ customer_support_email }}</strong></p>
                </div>
            </div>
        </div>
        #}
        <div class="container">
            <div class="navbar-brand">
                <div class="logo-and-slogan navbar-item logo-navbar-item">
                    <a class="" href="{{ path('index') }}">
                        {#<img src="{{ asset('/logo/logo@1x.png') }}" srcset="{{ asset('/logo/logo@2x.png') }} 2x" alt="Logo" style="width: 239px; height: 40px; max-height: 3rem !important;">#}
                        <img src="{{ asset('/logo/logo_p1@1x.png') }}" srcset="{{ asset('/logo/logo_p1@2x.png') }} 2x" alt="Logo">
                        <img id="header-logo-strike-part" src="{{ asset('/logo/logo_p2@1x.png') }}" srcset="{{ asset('/logo/logo_p2@2x.png') }} 2x" alt="Logo">
                        <img src="{{ asset('/logo/logo_p3@1x.png') }}" srcset="{{ asset('/logo/logo_p3@2x.png') }} 2x" alt="Logo">
                    </a>
                    <p class="slogan" v-cloak>Kill your routine & make life colorful!</p>
                </div>
                <a class="navbar-item is-hidden-desktop" style="margin-left: auto; margin-top: -3px; padding: 0 !important;" @click="openCartWindow">
                    <span class="icon is-large">
                      <i class="fa fa-2x fa-shopping-cart"></i>
                    </span>
                    <span class="cart-quantity" style="left: 31px" v-cloak>${cartItemCount}</span>
                </a>
                <span class="navbar-burger burger" style="margin-left: 10px" data-target="navbarMenu" @click="toggleNavbarMenu()">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
            </div>

            <div class="navbar-start" style="width: 100%">
                <div class="header-search" :class="{ 'hidden': isNavbarMenuOpened }">
                    <div class="field is-grouped">
                        <p class="header-search-box-control control is-expanded">
                            <input class="header-search-box input" type="text" placeholder="Find your thing (like halloween tshirt)" v-model="searchString" v-on:keyup.enter="submitSearch">
                        </p>
                        <p class="control">
                            <a class="header-search-button button is-medium" @click="submitSearch">
                                <span class="icon is-left">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="header-cart-button-container cart is-hidden-touch">
                    <a class="navbar-item" @click="openCartWindow">
                        <span class="icon is-large">
                          <i class="fa fa-2x fa-shopping-cart"></i>
                        </span>
                        <span class="cart-quantity" v-cloak>${cartItemCount}</span>
                    </a>
                </div>
            </div>

        </div>
        <hr class="divider is-hidden-touch" style="margin: 0" />
        <div id="top-menu-items-container" class="container is-fluid-4x" :class="{ 'mobile-menu-closed': !isNavbarMenuOpened }" v-cloak>
            <div id="navbarMenu" class="navbar-menu" :class="{ 'is-active': isNavbarMenuOpened }">
                <div class="navbar-items-container">
                    {% for topLevelCategory in get_top_level_categories() %}
                        {# @var topLevelCategory \App\Entity\ProductTypeCategory #}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link is-hidden-desktop" @click="expandNavbarItem('{{ topLevelCategory.id }}')" :class="{ 'is-opened': navbarExpandedItem == '{{ topLevelCategory.id }}' }">
                                <span>{{ topLevelCategory.title }}</span>
                            </a>
                            {# TWO VERSIONS - DESKTOP version has href on top level link as well. on mobile/tablet it causes problems with expandability of menu, so removed that. #}
                            <a class="navbar-link is-hidden-touch" href="{{ path('search', { searchString: topLevelCategory.titleForSearch|php_url_encode }) }}" @click="expandNavbarItem('{{ topLevelCategory.id }}')" :class="{ 'is-opened': navbarExpandedItem == '{{ topLevelCategory.id }}' }">
                                <span>{{ topLevelCategory.title }}</span>
                            </a>
                            <div class="navbar-dropdown">
                                {% if topLevelCategory.getPublishedChildCategories|length %}
                                    {% for childCategory in topLevelCategory.getPublishedChildCategories %}
                                        <a class="navbar-item" href="{{ path('search', { searchString: childCategory.titleForSearch|php_url_encode }) }}">
                                            {{ childCategory.title }}
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    {% for productType in cache_service().getProductTypesPerProductTypeCategory()[topLevelCategory.id] %}

                                        {# @var productType \App\Entity\ProductType #}
                                        <a class="navbar-item" href="{{ path('search', { searchString: productType.titleForSearch|php_url_encode }) }}">
                                            {{ productType.titleForMenu }}
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="cart-window" :class="{ 'active': isCartWindowOpened }" v-if="isCartWindowOpened">
    <div class="cart-header" v-cloak>
        <p><i class="fa fa-lg fa-shopping-cart"></i> Your cart</p>
        <span class="cart-quantity2" v-cloak>${cartItemCount}</span>
        <div class="cart-close" @click="closeCartWindow"><i class="fa fa-times"></i></div>
    </div>
    <div class="cart-content" v-cloak>
        <div class="cart-item" v-for="cartItemGroup in groupedCartItems">
            <div class="cart-item-photo">
                <div class="image is-1by1 spinner-small">
                    <img v-if="cartItemGroup[0].productMockup" :src="['{{ product_mockups_resized_base_url }}' + '/' + cartItemGroup[0].productObj.id + '/' + cartItemGroup[0].productMockup.id + '/' + cartItemGroup[0].productMockup.id + '_100px.jpg']">
                    <img v-if="!cartItemGroup[0].productMockup && cartItemGroup[0].customMockupPath" :src="cartItemGroup[0].customMockupPath">
                </div>
            </div>
            <div class="cart-item-info">
                <div class="cart-item-info-top">
                    <h2>${cartItemGroup[0].productObj.title}</h2>
                    <h4><i class="fa fa-paint-brush"></i> ${cartItemGroup[0].productVariant.product_type.title_short}</h4>
                    <h4><i class="fa fa-square-o"></i> size: ${cartItemGroup[0].productVariant.size}</h4>
                    <h3>$${cartItemGroup[0].productVariant.price}</h3>
                </div>
                <div class="cart-item-info-bottom">
                    <a @click="removeProductFromCart(cartItemGroup[0].productObj, cartItemGroup[0].productVariant)" class="remove-item">Remove</a>
                    <div class="field has-addons item-quantity">
                        <p class="control">
                            <a @click="decreaseCartProductQuantity(cartItemGroup[0].productObj, cartItemGroup[0].productVariant)" class="button is-light">
                                -
                            </a>
                        </p>
                        <p class="control">
                        <div class="quantity-count">${cartItemGroup.length}</div>
                        </p>
                        <p class="control">
                            <a @click="increaseCartProductQuantity(cartItemGroup[0].productObj, cartItemGroup[0].productVariant)" class="button is-light">
                                +
                            </a>
                        </p>
                    </div>
                </div>
                <div v-if="cartItemGroup[0].productVariant.product_type.is_free_ship_excluded" style="clear: both;padding-top: 5px;">
                    <p class="smallest-text">* Excluded from free shipping. <a href="{{ path('text_page_view', { 'slug': 'shipping-and-returns' }) }}" target="_blank">Why?</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-bottom" v-cloak>
        <div class="cart-promo">
            <p v-if="amountLeftUntilFreeShipping <= 0 || hasSpecialFreeShippingItems"><i class="fa fa-2x fa-plane"></i> Free shipping</p>
            <p v-if="amountLeftUntilFreeShipping > 0 && !hasSpecialFreeShippingItems"><i class="fa fa-2x fa-plane"></i> Add $${amountLeftUntilFreeShipping} to get free shipping</p>
        </div>
        <div class="subtotal">
            <h6>Total:</h6>
            <p id="cart_total">$${cartSubtotal}</p>
        </div>
        <a href="{{ path('checkout') }}" class="cart-add-to-cart">
            Pay now
        </a>
    </div>
</div>