<div id="navigation-menu">
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
        <div class="very-top-header">
            <div class="container">
                <div class="top-corner-text is-hidden-mobile">
                    <p>Currency: <strong>{{ display_currency }} ($)</strong></p>
                </div>
                <div class="top-header-text" style="margin: 0 auto">
                    <span>FREE SHIPPING! ALL COVERS JUST $5.99!</span>
                </div>
                <div class="customer-support-text top-corner-text is-hidden-mobile">
                    <p>Help: <strong>{{ customer_support_email }}</strong></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-brand">
                <div class="logo-and-slogan navbar-item logo-navbar-item">
                    <a class="" href="{{ path('index') }}">
                        {#<img src="{{ asset('/logo/logo@1x.png') }}" srcset="{{ asset('/logo/logo@2x.png') }} 2x" alt="Logo" style="width: 239px; height: 40px; max-height: 3rem !important;">#}
                        <img src="{{ asset('/logo/logo_p1@1x.png') }}" srcset="{{ asset('/logo/logo_p1@2x.png') }} 2x" alt="Logo">
                        <img id="header-logo-strike-part" src="{{ asset('/logo/logo_p2@1x.png') }}" srcset="{{ asset('/logo/logo_p2@2x.png') }} 2x" alt="Logo">
                        <img src="{{ asset('/logo/logo_p3@1x.png') }}" srcset="{{ asset('/logo/logo_p3@2x.png') }} 2x" alt="Logo">
                    </a>
                    <p class="slogan" v-cloak>Kill your routine & make life colorful!</p>
                </div>
                <a class="navbar-item is-hidden-desktop" style="margin-left: auto; margin-top: -3px; padding: 0 !important;" @click="openCartWindow">
                    <span class="icon is-large">
                      <i class="fa fa-2x fa-shopping-cart"></i>
                    </span>
                    <span class="cart-quantity" style="left: 31px" v-cloak>${cartItemCount}</span>
                </a>
            </div>
            <div class="header-cart-button-container cart is-hidden-touch" style="margin-left: auto">
                <a class="navbar-item" @click="openCartWindow">
                        <span class="icon is-large">
                          <i class="fa fa-2x fa-shopping-cart"></i>
                        </span>
                    <span class="cart-quantity" v-cloak>${cartItemCount}</span>
                </a>
            </div>
        </div>
        <hr class="divider is-hidden-touch" style="margin: 0" />
    </nav>
</div>
<div class="cart-window" :class="{ 'active': isCartWindowOpened }" v-if="isCartWindowOpened">
    <div class="cart-header" v-cloak>
        <p><i class="fa fa-lg fa-shopping-cart"></i> Your cart</p>
        <span class="cart-quantity2" v-cloak>${cartItemCount}</span>
        <div class="cart-close" @click="closeCartWindow"><i class="fa fa-times"></i></div>
    </div>
    <div class="cart-content" v-cloak>
        <div class="cart-item" v-for="cartItemGroup in groupedCartItems">
            <div class="cart-item-photo">
                <div class="image is-1by1 spinner-small">
                    <img v-if="cartItemGroup[0].productMockup" :src="['{{ product_mockups_resized_base_url }}' + '/' + cartItemGroup[0].productObj.id + '/' + cartItemGroup[0].productMockup.id + '/' + cartItemGroup[0].productMockup.id + '_100px.jpg']">
                    <img v-if="!cartItemGroup[0].productMockup && cartItemGroup[0].customMockupPath" :src="cartItemGroup[0].customMockupPath">
                </div>
            </div>
            <div class="cart-item-info">
                <div class="cart-item-info-top">
                    <h2>${cartItemGroup[0].productObj.title}</h2>
                    <h4><i class="fa fa-paint-brush"></i> ${cartItemGroup[0].productVariant.product_type.title_short}</h4>
                    <h4><i class="fa fa-square-o"></i> size: ${cartItemGroup[0].productVariant.size}</h4>
                    <h3>$${cartItemGroup[0].productVariant.price}</h3>
                </div>
                <div class="cart-item-info-bottom">
                    <a @click="removeProductFromCart(cartItemGroup[0].productObj, cartItemGroup[0].productVariant)" class="remove-item">Remove</a>
                    <div class="field has-addons item-quantity">
                        <p class="control">
                            <a @click="decreaseCartProductQuantity(cartItemGroup[0].productObj, cartItemGroup[0].productVariant)" class="button is-light">
                                -
                            </a>
                        </p>
                        <p class="control">
                        <div class="quantity-count">${cartItemGroup.length}</div>
                        </p>
                        <p class="control">
                            <a @click="increaseCartProductQuantity(cartItemGroup[0].productObj, cartItemGroup[0].productVariant)" class="button is-light">
                                +
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-bottom" v-cloak>
        <div class="cart-promo">
            <p><i class="fa fa-2x fa-plane"></i> Free shipping</p>
        </div>
        <div class="subtotal">
            <h6>Total:</h6>
            <p id="cart_total">$${cartSubtotal}</p>
        </div>
        <a href="{{ path('checkout') }}" class="cart-add-to-cart">
            Pay now
        </a>
    </div>
</div>