<section class="usps light-background">
    <div class="container is-fluid">
        <div class="columns content">
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-scissors"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>Made to order</h4>
                    <p>Each OffPopular product is individually printed and assembled when you order it, so please allow 2-5 days manufacture time for your custom product.</p>
                    <p><a href="{{ path('text_page_view', { slug: 'shipping-and-returns' }) }}">Read more.</a></p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-thumbs-up"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>No-hassle returns</h4>
                    <p>We want you to be stoked with your purchase, so if you’re not, let us know. We offer a 100% Happiness Guarantee, which means free refunds and exchanges.</p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-heart"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>Your support open galleries</h4>
                    <p>1% of your order goes to building open-air galleries in art-deprived locations around the world.</p>
                    <p><a href="{{ path('text_page_view', { slug: 'offpopulars-mission-to-build-open-air-galleries-in-art-deprived-locations' }) }}">Read more.</a></p>
                </div>
            </div>
        </div>
        <div class="columns content" style="margin-top: 20px">
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-truck"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>Free Shipping over $100</h4>
                    <p>We use live shipping rates directly from our carriers, offering you the cheapest option. For orders over $100, shipping is on us (excl. Framed Posters and Canvas products).</p>
                    <p><a href="{{ path('text_page_view', { slug: 'shipping-and-returns' }) }}">Read more.</a></p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-gift"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>Free postcard over $50</h4>
                    <p>Share the love & make somebody's heart warmer.</p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-globe"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>Made in USA and EU</h4>
                    <p>Based on availability, orders are shipped from the closest location to yours. This ensures faster & cheaper delivery.</p>
                </div>
            </div>
        </div>
    </div>
</section>