<section class="usps light-background">
    <div class="container is-fluid">
        <div class="columns content">
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-thumbs-up"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>No-hassle returns</h4>
                    <p>We want you to be stoked with your purchase, so if you’re not, let us know. We offer a 100% Happiness Guarantee, which means free refunds and exchanges.</p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-heart"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>Your support open galleries</h4>
                    <p>1% of your order goes to building open-air galleries in art-deprived locations around the world.</p>
                    <p><a href="{{ path('text_page_view', { slug: 'offpopulars-mission-to-build-open-air-galleries-in-art-deprived-locations' }) }}" target="_blank">Read more.</a></p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="icon-container">
                    <span class="icon">
                      <i class="fa fa-truck"></i>
                    </span>
                </div>
                <div class="text-container">
                    <h4>Free Shipping</h4>
                    <p>Shipping is on us, no need to worry.</p>
                </div>
            </div>
        </div>
    </div>
</section>