<div class="vertical-canvas-features columns">
    <div class="feature column is-one-quarter">
        <div class="icon-container">
            <span class="icon is-large">
                <i class="fa fa-3x fa-star"></i>
            </span>
        </div>
        <div class="text-container">
            <p>Top quality canvas material</p>
        </div>
    </div>
    <div class="feature column is-one-quarter">
        <div class="icon-container">
            <span class="icon is-large">
                <i class="fa fa-3x fa-braille"></i>
            </span>
        </div>
        <div class="text-container">
            <p>High resolution <br /><span class="lighter">(precision)</span></p>
        </div>
    </div>
    <div class="feature column is-one-quarter">
        <div class="icon-container">
            <span class="icon is-large">
                <i class="fa fa-3x fa-heartbeat"></i>
            </span>
        </div>
        <div class="text-container">
            <p>Long lasting <br /><span class="lighter">(archive-level protection)</span></p>
        </div>
    </div>
    <div class="feature column is-one-quarter">
        <div class="icon-container">
            <span class="icon is-large">
                <i class="fa fa-3x fa-paint-brush"></i>
            </span>
        </div>
        <div class="text-container">
            <p>Certified inks</p>
        </div>
    </div>
</div>