<div id="watch-video-modal" v-if="is_watch_video_modal_opened" class="modal" :class="{ 'is-active': is_watch_video_modal_opened }">
    <div class="modal-background" @click="closeVideoModal"></div>
    <div class="video-container" style="width: 70%"><iframe id="watch-video-modal-iframe" width="853" height="480" allow=autoplay :src="['//www.youtube.com/embed/' + video_modal_youtube_id + '?rel=0&autoplay=1&enable_js=1&enablejsapi=1']" frameborder="0" allowfullscreen></iframe></div>
    <button class="modal-close is-extra-large" aria-label="close" @click="closeVideoModal"></button>
</div>