@import '../../node_modules/bulma/sass/utilities/initial-variables'

@mixin opHeadingFont
  font-family: 'Gugi', serif

@mixin headingFont
  //font-family: 'Playfair Display', serif
  font-family: 'Poppins', sans-serif
  letter-spacing: -0.5px
  font-weight: 500

@mixin contentFont
  font-family: 'Poppins', sans-serif

@keyframes bgColorChange
  0%
    background: #e6e6e6
  50%
    background: #ececec
  100%
    background: #e6e6e6

@keyframes lds-circle
  0%, 100%
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5)

  0%
    transform: rotateY(0deg)

  50%
    transform: rotateY(1800deg)
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1)

  100%
    transform: rotateY(3600deg)

@keyframes logoAnimation
  0%
    filter: hue-rotate(0deg)
    transform: rotate(0deg)
  35%
    filter: hue-rotate(0deg)
    transform: rotate(0deg)
  45%
    transform: rotate(70deg)
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1)
  55%
    //filter: hue-rotate(360deg)
    transform: rotate(0deg)
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1)
  80%
    filter: hue-rotate(360deg)
  100%
    filter: hue-rotate(360deg)
    transform: rotate(0deg)

.spinner::after
  position: absolute
  content: ''
  height: 28px
  width: 28px
  top: calc(50% - 14px)
  left: calc(50% - 14px)
  animation: rotate 0.8s infinite linear
  border: 3px solid #a5a5a5
  border-right-color: transparent
  border-radius: 50%
  z-index: -1

.spinner-small
  &::after
    position: absolute
    content: ''
    height: 14px
    width: 14px
    top: calc(50% - 7px)
    left: calc(50% - 7px)
    animation: rotate 0.8s infinite linear
    border: 1px solid #a5a5a5
    border-right-color: transparent
    border-radius: 50%
    z-index: -1

.spinner-button
  border: none !important
  background: transparent !important
  &::after
    border-left-color: #a5a5a5 !important
    border-bottom-color: #a5a5a5 !important

@keyframes rotate
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)


// 2. Set your own initial variables
// Update blue
$blue: #72d0eb
// Add pink and its invert
$pink: #ffb3b3
$pink-invert: #fff
// Add a serif family
$family-sans-serif: 'Poppins', sans-serif

$content-heading-color: #16202f
$content-heading-line-height: 1.5
$navbar-item-hover-background-color: transparent
$navbar-item-color: #000
$navbar-item-hover-color: #000
$navbar-height: 4.5rem
$info: #065377
$primary: #065377
$link: lighten($info, 15%)
$gray-section-background: #f7f7f7
$gray-section-border-color: #dbdbdb
$footer-background-color: white
$modal-content-width: 780px
$content-color: #16202f
$danger: #ec0f06
$color-text-darker: #40354e
$color-gray: #9c9c9c
$color-bg-gray: #f6f6f6
$color-black-text: #16202f

$opcolor-red: #d83942
$opcolor-orange: #f09d40
$opcolor-yellow: #e9df6a
$opcolor-green: #44a358
$opcolor-cyan: #4eb59d
$opcolor-violet: #6b6186


@keyframes opStripedHeading
  0%
    background-image: linear-gradient(to right, lighten($opcolor-red, 10) 0%, $opcolor-red 13%, lighten($opcolor-orange, 10) 20%, $opcolor-orange 30%, lighten($opcolor-yellow, 10) 37%, $opcolor-yellow 47%, lighten($opcolor-green, 10) 54%, $opcolor-green 64%, lighten($opcolor-cyan, 10) 71%, $opcolor-cyan 81%, lighten($opcolor-violet, 10) 88%, $opcolor-violet 100%)
  25%
    background-image: linear-gradient(to right, #e0646b 0%, #d83942 7%, #f4b56f 14%, #f09d40 36%, #f0e996 43%, #e9df6a 47%, #5ebc72 54%, #44a358 58%, #72c4b1 65%, #4eb59d 87%, #857b9f 94%, #6b6186 100%)
  50%
    background-image: linear-gradient(to right, #e0646b 0%, #d83942 6%, #f4b56f 12%, #f09d40 19%, #f0e996 22%, #e9df6a 47%, #5ebc72 54%, #44a358 79%, #72c4b1 85%, #4eb59d 89%, #857b9f 95%, #6b6186 100%)
  75%
    background-image: linear-gradient(to right, #e0646b 0%, #d83942 22%, #f4b56f 27%, #f09d40 31%, #f0e996 37%, #e9df6a 44%, #5ebc72 50%, #44a358 55%, #72c4b1 62%, #4eb59d 72%, #857b9f 78%, #6b6186 100%)
  100%
    background-image: linear-gradient(to right, #e0646b 0%, #d83942 13%, #f4b56f 20%, #f09d40 30%, #f0e996 37%, #e9df6a 47%, #5ebc72 54%, #44a358 64%, #72c4b1 71%, #4eb59d 81%, #857b9f 88%, #6b6186 100%)

@keyframes opStripedHeadingTwo
  0%
    filter: hue-rotate(0deg)
    transform: rotate(0deg)
  35%
    filter: hue-rotate(0deg)
  80%
    filter: hue-rotate(360deg)
  100%
    filter: hue-rotate(360deg)

.text-op-red
  color: $opcolor-red
.text-op-orange
  color: $opcolor-orange
.text-op-yellow
  color: $opcolor-yellow
.text-op-green
  color: $opcolor-green
.text-op-cyan
  color: $opcolor-cyan
.text-op-violet
  color: $opcolor-violet
.text-gray
  color: $color-gray
.hidden
  display: none

.background-gray
  background-color: $color-bg-gray

.button-no-outline
  &:focus, &:active
    box-shadow: none !important
    border-color: #dbdbdb !important

@import '../../node_modules/bulma/bulma'

@import 'our-container'

body, html
  overflow-x: hidden

.text-brushstroke-red
  color: white
  background: url('/graphics/brush_stroke_h66.png') no-repeat
  width: 85px
  height: 33px
  background-size: contain
  background-position: center center
  padding: 15px 29px 17px 18px
  +until($tablet)
    padding: 10px 16px 11px 11px

#back-to-top
  position: fixed
  width: 40px
  height: 40px
  color: $primary
  bottom: 100px
  right: 34px
  border: 2px solid $primary
  border-radius: 50px
  padding: 5px 0 0 7px
  z-index: 9999
  transition: opacity 0.5s
  opacity: 0
  &.visible
    opacity: 1
  i
    font-size: 1.5rem

.video-container
  position: relative
  // padding-bottom: 56.25%
  padding-bottom: 36.25%
  padding-top: 30px
  height: 0
  overflow: hidden
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// FOR MOBILE, TOUCH DEVICES
+until($desktop)
  .navbar-link
    &.is-opened::after
      border-left: 0
      border-bottom: 0
      border-right: 3px solid $primary
      border-top: 3px solid $primary
    &::after
      margin-top: -.375em
      right: 1.125em
      border: 3px solid $primary
      border-radius: 2px
      border-right: 0
      border-top: 0
      content: " "
      display: block
      height: .625em
      pointer-events: none
      position: absolute
      top: 50%
      -webkit-transform: rotate(-45deg)
      transform: rotate(-45deg)
      -webkit-transform-origin: center
      transform-origin: center
      width: .625em
    &.is-opened + .navbar-dropdown
      display: block
  .navbar-item, .navbar-link
    color: #4a4a4a
    line-height: 1.5
    padding: .5rem .75rem
    position: relative
  .navbar-dropdown
    display: none
    font-size: .875rem
    padding-bottom: .5rem
    padding-top: .5rem
    .navbar-item
      padding-left: 1.5rem
      padding-right: 1.5rem


[v-cloak]
  display: none

.pageloader
  .title
    @include contentFont

.navbar-burger span
  height: 4px
  width: 30px
  left: calc(50% - 15px)
  color: #5d5d5d
  &:nth-child(1)
    top: calc(50% - 9px)
  &:nth-child(2)
    top: calc(50% - 1px)
  &:nth-child(3)
    top: calc(50% + 7px)

.first-container
  margin-top: 20px
  @media (max-width: 1023px)
    margin-top: 18px

// SWAL

.swal-button--confirm
  background-color: $primary
.swal-button
  border-radius: 0
.swal-footer
  text-align: center

// CART

.cart-quantity
  left: 45px
  text-align: center
  font-size: 12px
  color: #fff
  font-weight: 600
  height: 16px
  width: 16px
  border-radius: 19px
  background-color: #51c96d
  position: absolute
  top: 35px
  line-height: 16px

.cart-window
  top: 0
  border-radius: 0
  z-index: 9999999999
  width: 305px
  background-color: #fff
  border: 0
  box-shadow: none
  padding: 0
  margin: 0
  left: calc(100% - 335px)
  position: fixed
  display: none
  &.active
    display: block
  .cart-header
    border-bottom: 1px solid #e8e8e8
    float: left
    padding: 20px
    width: 100%
    p
      margin-top: 0
      margin-left: 10px
      float: left
      color: #2c2c2c
      font-size: 14px
      font-weight: 600
      line-height: 23px
      text-transform: uppercase
      margin-bottom: 0
      i
        vertical-align: -7%
    .cart-quantity2
      margin-left: 10px
      float: left
      height: 20px
      width: 20px
      border-radius: 20px
      background-color: #51c96d
      color: #fff
      font-size: 12px
      font-weight: 600
      line-height: 22px
      text-align: center
    .cart-close
      float: right
      cursor: pointer
      i
        color: $grey-light

  .cart-content
    max-height: 350px
    float: left
    width: 100%
    overflow-y: auto
    .cart-item
      border-bottom: 1px solid #e8e8e8
      padding: 15px 0
      float: left
      width: 100%
      .cart-item-photo
        margin-left: 27px
        margin-right: 27px
        float: left
        width: 52px
        img
          height: 50px
          margin-top: 12px
          font-family: object-fit\:cover
          -o-object-fit: cover
          object-fit: cover
      .cart-item-info
        width: calc(100% - 106px)
        float: left
        .cart-item-info-top
          h2
            color: #2c2c2c
            @include headingFont
            letter-spacing: -0.5px
            font-weight: 400
            font-size: 14px
            line-height: 19px
            margin-top: 5px
            margin-bottom: 15px
            padding-right: 15px
          h3
            color: #2c2c2c
            font-size: 14px
            font-weight: 600
            line-height: 22px
            margin-bottom: 13px
            margin-top: 10px
          h4
            font-weight: 500
            text-transform: uppercase
            font-size: 11px
            color: #8c8c8c
            line-height: 14px
            margin-top: 3px
        .cart-item-info-bottom
          .remove-item
            margin-right: 27px
            border-bottom: 1px solid #2c2c2c
            text-transform: uppercase
            color: #2c2c2c
            font-size: 12px
            font-weight: 600
            line-height: 13px
            float: left
            margin-top: 4px
          .item-quantity
            float: left
            a.button
              width: 22px
              height: 22px
              border-radius: 0
              padding: 0 0 0 2px
            .quantity-count
              height: 22px
              width: 30px
              padding: 0
              border: none
              outline: none
              box-shadow: none
              text-align: center
              font-size: 12px
              line-height: 22px
              font-weight: 600
              cursor: default

  .cart-bottom
    float: left
    width: 100%
    .cart-promo
      height: 40px
      p
        text-align: center
        margin: 0
        color: #979797
        font-size: 11px
        line-height: 40px
        i
          vertical-align: middle
          margin-right: 6px
    .subtotal
      text-transform: uppercase
      padding: 0 20px
      float: left
      width: 100%
      height: 35px
      background-color: #f1f1f1
      h6
        float: left
        margin: 0
        height: 19px
        color: #2c2c2c
        font-size: 12px
        line-height: 35px
        text-align: left
      p
        float: right
        height: 19px
        color: #2c2c2c
        font-size: 12px
        font-weight: 600
        line-height: 35px
        text-align: right
    .cart-add-to-cart
      border: 0
      height: 50px
      width: 100%
      float: left
      background-color: #51c96d
      color: #fff
      font-size: 14px
      font-weight: 600
      line-height: 50px
      text-align: center
      opacity: .9
      text-transform: uppercase
      display: block


// STUFF

.column-valign-middle
  display: flex
  flex-direction: column
  justify-content: center

.wide
  width: 100%

.widespread
  color: #2c2c2c
  font-weight: 300
  letter-spacing: 1px
  text-align: center
  text-transform: uppercase

.small-text
  font-size: 0.85rem
  +until($tablet)
    font-size: 0.7rem
.small-text-always
  font-size: 0.85rem
.smaller-text
  font-size: 0.75rem
.smallest-text
  font-size: 0.65rem
.bold-text
  font-weight: 500 !important
.bolder-text
  font-weight: 600 !important
.bolder-underline-text
  font-weight: 600 !important
  text-decoration: underline !important
.bit-bold-text
  font-weight: 400 !important
.all-caps
  text-transform: uppercase

h2.widespread
    line-height: 59px

.modal-close.is-extra-large
  height: 64px
  max-height: 64px
  max-width: 64px
  min-height: 64px
  min-width: 64px
  width: 64px

.title
  @include headingFont
  margin-top: 0.7rem !important
  margin-bottom: 1rem !important
  &.bright
    color: white

.subtitle
  @include headingFont
  &.bright
    color: $grey-lighter

.light-background
  background-color: #efefef

.light-text
  color: $grey-light

.lighter-text
  color: lighten($grey-light, 10%)

.high-top-bottom-margin
  margin-top: 5rem
  margin-bottom: 5rem

.navbar-item img
  max-height: 2.3rem !important

.heading1
  @include contentFont
  font-weight: 300 !important
  letter-spacing: 2px
  text-transform: uppercase
.opheading1
  @include opHeadingFont
  margin-top: 40px !important
  margin-bottom: 7px !important
  font-size: 2rem !important

.cta-button
  transition: .2s all
  padding: 20px 50px
  font-size: 15px !important
  border-radius: 0
  font-weight: 500
  text-align: center
  margin: 7px 10px 17px
  min-width: 200px
  text-transform: uppercase

.buy-button
  transition: .2s all
  padding: 22px 50px
  font-size: 15px !important
  border-radius: 0
  border: none
  font-weight: 500
  text-align: center
  text-transform: uppercase
  background-color: black
  color: white
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.15)
  width: 100%
  &:hover
    background-color: lighten(black, 15%)
    color: white
    border: none

.buy-button-white
  padding: 0 40px
  border-radius: 0
  border: 0
  height: 46px
  background-color: #fff
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.15)
  color: #000
  font-size: 14px
  font-weight: 600
  line-height: 46px
  text-align: center
  text-transform: uppercase
  display: block
  &:hover
    color: #2c2c2c

.styled-select
  border-radius: 0
  &:not(.is-multiple)::after
    border: 2px solid $primary
    border-right: 0
    border-top: 0
    content: " "
    display: block
    height: 0.5em
    pointer-events: none
    position: absolute
    transform: rotate(-45deg)
    transform-origin: center
    width: 0.5em
    margin-top: -0.375em
    right: 1.125em
    top: 50%
    z-index: 4

.select-product-attention
  background: #f7f7f7
  padding: 7px 15px 15px 15px

.styled-radios
  input[type=radio]
    display: none

  /**
   * How it should look when hovered
   */
  .active-label
    color: $primary
    &:before
      background: white
      border-color: $primary

  /**
   * Make those labels sexy
   */
  label
    font-size: 0.9rem
    line-height: 1.2rem
    cursor: pointer
    display: block
    padding: 0.6rem 1rem 0.6rem 3rem
    position: relative
    border-top: 1px solid rgba(black,.1)
    background: #fcfcfc
    whitespace: no-wrap
    overflow: hidden
    text-overflow: ellipsis
    transition: all .15s ease
    &:focus,
    &:hover,
    &:active
      @extend .active-label
    &:first-of-type
      border: 0

    /**
     * This is the radio fake dot basically
     */
    &:before
      content: ""
      position: absolute
      left: 1rem
      top: 0.75rem
      width: 14px
      height: 14px
      border-radius: 50%
      border: .2rem solid #ccc

  /**
   * How it should look when checked
   */
  input:checked + label
    @extend .active-label
    font-weight: bold
    background: white
    &:before
      border-color: white
      border: none
      background: $primary

  /**
   * How it should look when disabled
   */
  input:disabled + label
    background: #efefef
    color: rgba(black,.5)
    cursor: not-allowed

    &:hover
      border-color: rgba(black,.1)

    &:before
      border-color: white
      background: white

// VIEW PRODUCT PAGE

#view-picture-modal
  z-index: 9999999999
  @media (max-width: 1023px)
    .modal-close
      bottom: 0
      top: auto
  .modal-content
    display: flex
    text-align: center
    overflow: hidden
    align-self: center
    justify-content: center
    @media (max-width: 1023px)
      &.vertical-img
        align-self: flex-start
    @media (min-width: 500px) and (max-width: 1023px)
      &.horizontal-img
        align-self: flex-start
    margin: 0
    max-height: calc(100vh - 70px)
    .img-container
      overflow: hidden
      margin: 0 7px
      img
        max-height: 100%
  .control-icon
    align-self: center
    cursor: pointer
    i
      color: white
      font-size: 5rem
  .mobile-control-icons-container
    position: fixed
    bottom: 10px
    width: 100%
    text-align: center
    .control-icon-mobile
      // position: fixed
      // bottom: 20px
      i
        color: white

#watch-video-modal
  .modal-content
    display: flex
    text-align: center
    overflow: hidden
    align-items: center
    .icon
      i
        color: white
        font-size: 5rem

#exclusive-buyout-modal
  .modal-content
    background: white
    padding: 30px 40px
    ul
      list-style: none
      margin-left: 0

#view-product-modal
  z-index: 10000
  @media (max-width: 1023px)
    .modal-close
      bottom: 0
      top: auto
  .modal-content
    display: flex
    text-align: center
    overflow: hidden
    align-self: center
    justify-content: center
    @media (max-width: 1023px)
      &.vertical-img
        align-self: flex-start
    @media (min-width: 500px) and (max-width: 1023px)
      &.horizontal-img
        align-self: flex-start
    margin: 0
    max-height: calc(100vh - 70px)
    .content-container
      overflow: hidden
      margin: 0 7px
      flex-grow: 1
      display: flex
      flex-wrap: wrap
      .element
        flex: 1 0 50%
        height: 40vh
        &:after
          content: ''
          display: block
          // padding-bottom: 100%
        &.upper-left
          background-repeat: no-repeat
          background-position: center center
          background-size: cover
          img
            font-family: object-fit\:cover
            -o-object-fit: cover
            object-fit: cover
            vertical-align: middle
        &.upper-right
          background: white
          text-align: left
          display: flex
          flex-flow: column
          justify-content: center
          padding: 40px 20px
          align-items: center
        &.bottom-left
          background: white
          display: flex
          justify-content: center
          flex-flow: column
          align-items: center
          .price
            span
              font-weight: 600
              font-size: 3rem
              color: $opcolor-red
              border-bottom: 1px solid $opcolor-red
        &.bottom-right
          background: $opcolor-violet
          display: flex
          justify-content: center
          align-items: center
    align-items: center
  .modal-content.mobile
    flex-flow: column
    background: white
    padding: 15px 5px
    justify-content: space-around
    height: 80%
    align-self: flex-start
  .control-icon
    align-self: center
    cursor: pointer
    i
      color: white
      font-size: 5rem
  .mobile-control-icons-container
    position: fixed
    bottom: 10px
    width: 100%
    text-align: center
    .control-icon-mobile
      // position: fixed
      // bottom: 20px
      i
        color: white


.product-info-on-sroll
  z-index: -1
  position: fixed
  height: 0
  width: 100%
  background-color: #2c2c2c
  top: 0
  @media (max-width: 1023px)
    top: 0
  opacity: 0
  transition: .3s all
  &.show
    @media (min-width: 1024px)
      height: 66px
      display: block
      opacity: 1
      z-index: 5

  .left-cont
    float: left
    width: 50%
    padding-left: 5px
    p
      margin-right: 12px
      float: left
      margin-bottom: 0
      color: #fff
      font-size: 16px
      line-height: 66px
  .right-cont
    float: left
    width: 50%
    padding-right: 5px
    button, a, p
      float: right
    p.price
      color: #fff
      font-size: 16px
      font-weight: 600
      line-height: 66px
      margin: 0 30px 0 0

// BASE
.navbar
  flex-direction: column
  // border-bottom: 1px solid #e8e8e8
  .container
    padding-bottom: 8px
  .logo-and-slogan
    flex-flow: column
    justify-content: flex-end
    padding-bottom: 2px
    p.slogan
      font-size: 11px
      +until($tablet)
        font-size: 9px
      color: #0a8465
      text-align: center
      font-weight: 400

.very-top-header
  height: 34px
  padding: 7.5px
  width: 100%
  //background: #f2f2f6
  background: #000
  .container
    display: flex
  +until($tablet)
    height: 21px
    padding: 1px
    .top-header-text
      font-size: 9.5px !important
      letter-spacing: 1px !important
  .top-header-text
    letter-spacing: 2px
    height: 19px
    color: #fff
    @include contentFont
    font-size: 11px
    font-weight: 600
    line-height: 19px
    text-align: center
    text-transform: uppercase
    display: block
  p
    letter-spacing: 0.5px
    padding: 0
    height: 19px
    color: #fff
    font-size: 12px
    line-height: 19px
    margin-bottom: 0
    strong
      padding: 0
      height: 19px
      color: #fff
      font-size: 12px
      line-height: 19px
      margin-bottom: 0
      font-weight: 500

// HOME

// USP CONTAINER
.usps
  padding-top: 1.5rem
  padding-bottom: 2rem
  .column
    .icon-container
      text-align: center
      i
        color: $grey-dark
        margin-right: 5px
    .text-container
      text-align: center
      h4
        font-size: 15px
        letter-spacing: 1px
        text-transform: uppercase
        font-weight: 500
        margin-top: 5px
      p
        font-size: 13px
        color: #5d5d5d
        a
          color: inherit
          font-weight: 500
          border-bottom: 1px dotted #ababab
          &:hover
            border-bottom-style: solid
.small-usps
  display: flex
  width: 70%
  +until($widescreen)
    width: 100%
  margin: 0 auto
  .small-usp
    text-align: center
    flex: 1
    .icon-container
      i
        @extend .light-text
    .text-container
      p
        font-size: 11px
        line-height: 17px
        padding: 0 5px
        font-weight: 500
        @extend .light-text
        a
          color: inherit
          border-bottom: 1px dotted #d8d8d8
          &:hover
            border-bottom-style: solid

.vertical-canvas-features
  .feature
    display: flex
    flex-direction: column
    text-align: center
    .icon-container
      i
        color: $primary
    .text-container
      margin-top: 15px
      p
        color: $primary
        text-transform: uppercase
        font-weight: 500
        font-size: 14px
        span.lighter
          font-weight: 300

// VIEW PICTURE
section.present-picture
  .gallery-thumbs-horizontal
    display: flex
    justify-content: space-between
    > div
      width: 24%
      height: 100px
      position: relative
      img
        position: absolute
        width: 100%
        height: 100%
        left: 0
        font-family: object-fit\:cover
        -o-object-fit: cover
        object-fit: cover
        vertical-align: middle
  .picture-area
    display: flex
    max-height: 475px
    //
    // @media (max-width: 1023px)
      max-height: 400px
      @media (min-width: 1024px)
        height: 400px
    flex-grow: 1
    .img-container
      position: relative
      width: 100%
      font-size: 0px
    img.magnified-img
      max-height: 100%
      &:hover
        cursor: zoom-in
    .gallery-thumbs-vertical
      display: flex
      flex-direction: column
      // justify-content: space-between
      margin-right: 8px
      > div
        width: 50px
        // height: 24%
        height: 50px
        position: relative
        &:not(:first-child)
          margin-top: 8%
        @media (max-width: 1023px)
          width: 40px
          height: 40px
        @media (max-width: 399px)
          width: 35px
          height: 35px
        img
          position: absolute
          width: 100%
          height: 100%
          left: 0
          font-family: object-fit\:cover
          -o-object-fit: cover
          object-fit: cover
          vertical-align: middle
          &:hover
            cursor: pointer
  .product-story-area
    margin-top: 30px
    p
      color: $color-gray
  .product-selector
    background-color: $color-bg-gray
    padding: 20px 30px
    h1, h2
      @include opHeadingFont
    h1
      line-height: 1.15
      +until($desktop)
        font-size: 1.5em
    p.product-type-title
      margin-bottom: 0.5em
    .quality-rating
      font-size: 12px
    .price
      margin: 0
    .selector-title
      margin-bottom: 0.1em
      margin-top: 2em
    .discounts-info
      background: white
      .message-body
        font-style: italic
        font-size: 14px
    .delivery-info
      background: white
      color: $opcolor-violet
      .title-heading
        font-size: 15px
        letter-spacing: 0.25px
        font-weight: 600
        text-decoration: underline
        color: black
      ul
        margin-left: 0
        li
          list-style: none
          margin-bottom: 8px
          color: $opcolor-violet
      .message-body
        font-size: 13px
  .main-product-title
    @media (max-width: 768px)
      font-size: 1.5em
      line-height: 1.3em
      margin-bottom: 0 !important

.product-video
  text-align: center
  position: relative
.thumb-overlay
  cursor: pointer
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  &:hover
    .icon i
      color: white
  .icon i
    transition: .3s all
    font-size: 5em
    color: #efefef

section.gray-section
  margin-top: 25px
  padding-top: 20px
  padding-bottom: 30px
  border-top: 1px solid $gray-section-border-color
  border-bottom: 1px solid $gray-section-border-color
  background: $gray-section-background
section.gray-section-borderless
  padding-top: 20px
  padding-bottom: 30px
  background: $gray-section-background

section.reviews
  //border-top: 1px solid $gray-section-border-color
  padding: 50px 0 60px
.single-review
  padding: 20px 0 50px
  p.reviewer-name
    margin-top: 5px
    font-weight: 300
    color: $grey
    i
      color: $grey-lighter
  .review-title
    font-size: 20px
    font-weight: 300
    line-height: 24px
    margin-top: -5px
  p.review-text
    font-size: 14px
    font-weight: 300
    line-height: 24px

// FOOTER
footer
  .footer-subtitle
    display: block
    text-transform: uppercase
    color: #333
    font-size: 14px
    font-weight: 600
    letter-spacing: 1px
    line-height: 28px
    margin-bottom: 0.6em
  a.footer-subtitle:hover
    text-decoration: underline
  a.footer-link
    float: left
    text-transform: uppercase
    color: #000
    font-size: 13px
    letter-spacing: 1px
    line-height: 17px
    width: 100%
    margin: 7px 0
    &:hover
      text-decoration: underline
  p.footer-paragraph
    margin: 0 0 14px
    color: #333
    font-size: 13px
    letter-spacing: 1px
    line-height: 22px
  .footer-contact-icons
    padding-top: 15px
    display: flex
    justify-content: space-around
    .contact-container
      display: flex
      flex-direction: column
      align-items: center
      a
        color: #333
        text-align: center
        p
          margin: 0
          font-size: 12px
          letter-spacing: 1px
          line-height: 24px
  .copyright-text-container
    display: flex
    align-items: center
    justify-content: center
  .footer-logos-container
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    img
      max-height: 30px
      margin: 5px 7px

// CHECKOUT PAGE
.checkout-top
  border-bottom: 1px solid #e8e8e8
  position: fixed
  top: 0
  width: 100%
  z-index: 50
  background: white
  .columns
    align-items: center
  .navbar-brand
    justify-content: center
  .checkout-go-back
    color: #a2a2a2
    font-size: 14px

.checkout-countdown
  margin-bottom: 20px
  background: #FFF5D2
  border-bottom: 1px solid #E6D1A4
  height: 44px
  p
    color: #2C2C2C
    font-size: 14px
    line-height: 44px
    text-align: center
    @media (max-width: 599px)
      font-size: 12px
    strong
      font-weight: 600
      margin-left: 5px

.checkout-form
  input
    border-radius: 0
    box-shadow: none
    font-size: 15px
    height: 44px
    padding: 5px 20px
  .select
    height: 44px
    width: 100%
    select
      width: 100%
      border-radius: 0
      box-shadow: none
      font-size: 15px
      border-color: #dbdbdb
      height: 44px
      padding: 10px 20px
      &:hover
        border-color: #b5b5b5
  label
    font-size: 11px
    line-height: 14px
    text-transform: uppercase
    font-weight: 500
.pay-button-container
  text-align: center
  width: 100%
  .pay-button
    height: 50px
    width: 50%
    border-radius: 0
    background-color: #51c96d
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15)
    color: #fff
    text-transform: uppercase
    font-size: 14px
    font-weight: 600
    text-align: center
    border: none
    padding: 15px
    &:hover
      background-color: #2aa246

.checkout-summary-column
  background: $color-bg-gray
  padding: 30px 40px
  h2.column-title
    text-transform: uppercase
    color: #181818
    font-size: 18px
    font-weight: 600
    line-height: 29px
  .cart-item-photo
    img
      border: 1px solid #e8e8e8
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15)
  .cart-item-info
    h2
      font-weight: 400
      color: #2c2c2c
      font-size: 14px
      line-height: 26px
    h3
      color: #2c2c2c
      font-size: 16px
      font-weight: 700
      line-height: 22px
      margin: 10px 0 0 0
    h4
      font-weight: 500
      text-transform: uppercase
      font-size: 11px
      color: #8c8c8c
      line-height: 14px
      margin-top: 3px
      margin-bottom: 0
  .cart-subtotals
    p.subtotal-left, p.subtotal-right
      color: #6b6b6b
      font-size: 14px
      line-height: 23px
      margin: 0 0 5px
    p.subtotal-right
      text-align: right
    p.total-left, p.total-right
      font-weight: 400
      color: #181818
      font-size: 18px
      line-height: 29px
    p.total-right
      text-align: right
      font-weight: 600
  .checkout-usp
    text-align: center
    .icon-container
      i
        @extend .lighter-text
    .text-container
      h2
        margin: 15px 0 10px
        color: #979797
        font-size: 14px
        font-weight: 600
        line-height: 19px
        text-align: center
        text-transform: uppercase
      p
        color: #979797
        font-size: 12px
        line-height: 20px
        @extend .lighter-text
        margin: 0 0 32px
        text-align: center

.select-product-type-visual-area
  .choices-row
    align-items: baseline
    img
      border-radius: 5px
      cursor: pointer
      &:hover
        opacity: 0.7
    p
      cursor: pointer
      font-size: 0.7rem
      text-transform: uppercase
      text-align: center

.main-product-feature-shorts
  margin-top: 10px
  ul
    margin-left: 0
    li
      list-style: none
      .feature-bullet
        font-size: 10px
        vertical-align: top
        margin-top: 4px

.painting-widget
  &:hover
    //.image-top-stripe, .image-bottom-stripe
      height: 90px
    //.image-top-overlay, .image-bottom-overlay
      height: 75px
      opacity: 1
    .zap-preview-button-overlay
      opacity: 1
    .image
      box-shadow: 1px 1px 12px 0px #f5f5f5
  .image
    position: relative
    border-radius: 3px
    animation: bgColorChange .5s infinite
    border: 1px solid #f5f5f5
    z-index: 0
  img
    z-index: 1
    font-family: object-fit\:cover
    -o-object-fit: cover
    object-fit: cover
    border-radius: 3px
  .image-top-overlay
    position: absolute
    height: 0
    opacity: 0
    width: 100%
    background: white
    top: 0
    z-index: 1
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s
    display: flex
    justify-content: center
    align-items: center
  .image-top-stripe
    position: absolute
    height: 15px
    width: 100%
    background: url('/graphics/top_image_stripe_15px.png') repeat-x
    background-position-y: bottom
    top: 0
    z-index: 1
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s
  .image-bottom-stripe
    position: absolute
    height: 15px
    width: 100%
    background: url('/graphics/bottom_image_stripe_15px.png') repeat-x
    background-position-y: top
    bottom: 0
    z-index: 1
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s
  .image-bottom-overlay
    position: absolute
    height: 0
    opacity: 0
    width: 100%
    //background: white
    bottom: 0
    z-index: 1
    //transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s
    display: flex
    justify-content: center
    align-items: center
  .zap-preview-button-overlay
    position: absolute
    width: 100%
    height: 100%
    top: 0
    z-index: 2
    display: flex
    justify-content: flex-end
    align-items: flex-end
    padding-right: 5px
    padding-bottom: 5px
    &.top-align
      align-items: flex-start
      padding-top: 5px
    .zap-preview-button
      background-color: rgba(255, 221, 87, 0.6) !important
      padding: 0 5px
      .part-icon
        margin: 0 !important
      .part-text
        width: 0
        transition: all 0.5s
        overflow: hidden
      &:hover
        background-color: rgba(255, 221, 87, 1) !important
  .product-price-on-image
    position: absolute
    bottom: 5px
    right: 5px
    z-index: 2
    color: white
    background: rgba(0, 0, 0, 0.6)
    border-radius: 3px
    padding: 3px
    font-size: 0.9rem
  .product-title-and-price
    display: flex
    &.first
      padding: 0.5rem 0 0 0
    .product-title
      margin: 0
      display: block
      flex: 1
      color: #000
      font-size: 0.875rem
      +until($tablet)
        font-size: 0.7rem
      text-decoration: none
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      letter-spacing: -0.5px
      font-weight: 300
      // padding-right: 3px
    .product-price
      margin-left: auto
      display: inline-block
      color: #000
      font-size: 0.875rem
      font-weight: 500
  .add-to-favorites
    position: absolute
    top: 5px
    right: 5px
    z-index: 20
    border: 1px solid #c7c7c7
    background: rgba(255, 255, 255, 0.7)
    color: #c7c7c7
    &:hover
      color: darken(#c7c7c7, 20%)
      border: 1px solid darken(#c7c7c7, 20%)
      background: rgba(255, 255, 255, 1)
    &.added
      color: $opcolor-red
      border: 1px solid $opcolor-red
      &:hover
        border: 1px solid lighten($opcolor-red, 20%)
        color: lighten($opcolor-red, 20%)

div[data-braintree-id="payment-options-container"] > div,
div[data-braintree-id="upper-container"]::before
  border-radius: 0 !important

.hero-section
  +until($desktop)
    &::before
      content: ""
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: rgba(255, 255, 255, 0.85)
  background: url('/graphics/hero-bg-1-opti.jpg') #d0d0d0
  height: 400px
  background-size: cover
  background-repeat: no-repeat
  background-position: top right
  position: relative
  margin-top: 12px
  .hero-heading
    color: black
    font-weight: 600
    font-size: 2.5rem
    line-height: 3rem
    padding-top: 40px
  .hero-secondary-heading
    font-weight: 400
    font-size: 1.1rem
    margin-top: 17px
    color: #2b2b2b
    text-shadow: 1px 1px 2px white
  .hero-search
    margin-top: 30px
  .hero-search-box
    border: 0
    border-radius: 50px 0 0 50px
    box-shadow: none
    font-size: 1rem
    padding: 1.4rem 1.4rem 1.4rem 2.75rem !important
  .hero-search-button
    border: 0
    border-radius: 0 50px 50px 0
    box-shadow: none
    span
      font-size: 15px
      text-transform: uppercase
      padding: 0 10px
  #hero-product-count
    min-width: 70px // because of countup.js animation
    display: inline-block

.op-stripe-heading
  width: 100%
  height: 10px
  margin-bottom: 30px
  // background-image: linear-gradient(to right, lighten($opcolor-red, 10) 0%, $opcolor-red 16%, lighten($opcolor-orange, 10) 17%, $opcolor-orange 33%, lighten($opcolor-yellow, 10) 34%, $opcolor-yellow 50%, lighten($opcolor-green, 10) 51%, $opcolor-green 67%, lighten($opcolor-cyan, 10) 68%, $opcolor-cyan 84%, lighten($opcolor-violet, 10) 85%, $opcolor-violet 100%)
  background-image: linear-gradient(to right, lighten($opcolor-red, 10) 0%, $opcolor-red 13%, lighten($opcolor-orange, 10) 20%, $opcolor-orange 30%, lighten($opcolor-yellow, 10) 37%, $opcolor-yellow 47%, lighten($opcolor-green, 10) 54%, $opcolor-green 64%, lighten($opcolor-cyan, 10) 71%, $opcolor-cyan 81%, lighten($opcolor-violet, 10) 88%, $opcolor-violet 100%)
  animation: opStripedHeadingTwo 10s infinite

+from($desktop)
  .navbar-link
    font-size: 1rem
    font-weight: 500
    padding: 0.2rem 1.5rem
    &:first-child
      padding-left: 0
    &::after
      display: none
  .navbar-dropdown
    border: 1px solid #dbdbdb
    top: 85%
    box-shadow: none
    &::before
      content: ""
      position: absolute
      top: -9px
      bottom: auto
      left: 8px
      border-width: 0px 9px 9px
      border-style: solid
      border-color: #dbdbdb transparent
      display: block
      width: 0
    &::after
      content: ""
      position: absolute
      top: -8px
      bottom: auto
      left: 4px
      border-width: 0 13px 13px
      border-style: solid
      border-color: #fff transparent
      display: block
      width: 0
    .navbar-item
      text-transform: none
      font-weight: 400
      font-size: 1rem
      line-height: 1.1rem
      letter-spacing: 0
      //
        text-transform: uppercase
        font-size: 13px
        line-height: 14px
        font-weight: 500
      &:hover
        background-color: #fff !important
        color: $danger !important

.header-search
  width: 100%
  background: #f9f9fb
  margin: 1rem 0
  border-radius: 5px
  padding: 0.5rem
  .header-search-box-control
    border-right: 1px solid #cacaca
    margin-right: 20px !important
    .header-search-box
      color: $color-text-darker
      border: none
      box-shadow: none
      background: transparent
      &::placeholder
        color: lighten($color-text-darker, 15)
  .header-search-button
    color: #9c9c9c
    border: none
    padding: 0
    background: transparent
    line-height: 36px
    height: 36px
    margin-right: 12px
.header-cart-button-container
  padding: 0.5rem

// TABS FIX
.tabs
  &.is-toggle li.is-active
    a
      background: linear-gradient(45deg, lighten($opcolor-violet, 15), $opcolor-violet)
      border-color: #837b9d
      color: #fff
      z-index: 1
    .product-count
      color: #837b9d
      background-color: white
  .product-count
    text-align: center
    font-size: 12px
    color: #fff
    font-weight: 600
    height: 24px
    width: 24px
    border-radius: 19px
    background-color: #51c96d
    line-height: 23px
    margin-right: 8px

+from($desktop)
  #top-menu-items-container
    .navbar-items-container
      justify-content: space-between
      display: flex
      width: 100%
      margin: 0 auto
+until($desktop)
  #top-menu-items-container
    background: #cfcfcf
    padding-bottom: 20px
    &.mobile-menu-closed
      padding-bottom: 0
      height: 0
      min-height: 0

.logo-navbar-item
  img
    height: 25px
    // max-height: 3rem !important
    &#header-logo-strike-part
      animation: logoAnimation 10s infinite
      margin: 0 6px
      +from($tablet)
        margin: 0 11px
    +from($tablet)
      height: 40px

+until($tablet)
  .tabs
    &.is-toggle a
      font-size: 12px
    .product-count
      font-size: 10px
      height: 18px
      width: 18px
      line-height: 18px

.short-product-info-container
  @extend .background-gray
  padding: 5px 8px

.product-sizing-measurement-system-selector-container
  a
    @extend .bolder-text
    color: $color-gray
    border-bottom: 3px solid $color-gray
  a.selected
    color: black
    border-bottom: 3px solid black
  .separator
    display: inline-block
    vertical-align: middle
    //border-left: 1px solid #cdcdcd
    border-left: 1px solid lighten($color-gray, 20%)
    height: 30px
    margin: 0 7px

.open-air-gallery-usp
  display: flex
  flex-wrap: wrap-reverse
  .image-container
    width: 65%
    font-size: 0
  .explainer-container
    width: 35%
    background: #f8e376
    justify-content: center
    display: flex
    flex-direction: column
    text-align: center
    padding: 20px
    p, h2
      color: #500750
    .button
      background-color: #500750
      border-color: transparent
      color: white
      width: 70%
      margin: 20px auto 0 auto
      &:hover
        background-color: lighten(#500750, 5%)
  +until($desktop)
    .image-container, .explainer-container
      width: 100%

#search-page
  .search-results-section
    min-height: 200vh
  #search-result-area
    display: flex
  .search-header
    border-bottom: 1px solid $gray-section-border-color
    margin-bottom: 20px
    h1
      font-size: 1.5em
      font-weight: 500
      margin: 0
      span.weightless
        font-weight: 300
        font-size: 0.8em
        padding-left: 5px
  .filter-selections-container
    display: block
    width: 220px
    position: relative
    .filter-selections
      width: 220px
      padding-right: 16px
      box-sizing: content-box
      &.sticky
        overflow-y: overlay
        position: fixed
        bottom: 24px
        top: 0px
  .filter-selection
    &:first-child
      margin-top: 14px
    &:not(:first-child)
      margin-top: 28px
    &.is-active
      .filter-selection-header .icon
        -webkit-transform: rotate(180deg)
        transform: rotate(180deg)
      .filter-selection-list-container
        display: block
    .filter-selection-header
      position: relative
      .filter-selection-toggle
        bottom: 0
        left: 0
        position: absolute
        right: 0
        top: 0
        align-items: center
        color: #b5b5b5
        display: flex
        justify-content: flex-end
        .icon
          font-size: .75rem
          -webkit-transform-origin: center
          transform-origin: center
          transition-duration: 86ms
          transition-property: -webkit-transform
          transition-property: transform
          transition-property: transform,-webkit-transform
          align-items: center
          display: inline-flex
          justify-content: center
          height: 1.5rem
          width: 1.5rem
      .filter-selection-name
        color: $color-black-text
        font-size: 1.2rem
        font-weight: 500
    .filter-selection-list-container
      background: white
      border-radius: 3px
      padding: 15px 0
      margin-top: 12px
      display: none
      .filter-selection-list
        list-style: none
        margin: 0
        li
          margin: 0
          &.active
            a
              color: $color-black-text
              &::before
                background-color: $opcolor-red
                content: ""
                height: 100%
                left: 0
                position: absolute
                top: 0
                width: 2px
          &:not(.active)
            a:hover
              color: $opcolor-red
          a
            padding: 3px 11px
            font-size: 0.9rem
            color: $color-gray
            display: block
            position: relative
            font-weight: 500
  .search-product-area
    +from($tablet)
      max-width: calc(100% - 220px)
      width: calc(100% - 250px)
      margin-left: auto

  #mobile-filters
    &.opened
      display: block
    display: none
    position: fixed
    width: 100%
    height: 100%
    z-index: 9999
    background: white
    top: 0
    overflow-y: auto
    overflow-x: hidden
    .close-container
      display: flex
      justify-content: center
      border-bottom: 1px solid #f3f3f3
      padding: 15px
      > span
        margin-left: auto
    .filters-area
      padding: 20px 30px
      .filter-selection-list li a
        font-size: 1.2rem
        padding: 5px 11px

.search-pagination
  margin-top: 35px
  li
    list-style: none
    margin: 0 !important
  a, a[disabled]
    background: none
    border: none
    font-weight: 500
    &:active
      box-shadow: none
  a.is-current
    background: none
    color: $opcolor-red
  a:not([disabled]):hover
    color: $opcolor-red
  ul.pagination-list
    margin: 0

.exclusive-buyout-button
  background-color: #dedede
  border-color: transparent
  border-radius: 0
  color: #867e61
  font-weight: 500
  letter-spacing: 0.5px
  width: 100%
  &:hover
    background: #d8d8d8
    border: none
    color: #867e61

#offpopular-manifesto-page
  width: 100%
  min-height: 100vh
  height: 100%
  background-size: cover
  background-position: center center
  background-color: #d0d0d0
  background-attachment: fixed
  padding-top: 20px
  .manifesto-container
    background: rgba(255, 255, 255, 0.95)
    width: 80%
    max-width: 1200px
    margin: 0 auto
    margin-bottom: 50px
    box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.25)
    .read-on-container
      text-align: center
      .read-on-button
        min-width: 30%
    .inner-container
      padding: 20px 30px
      +until($tablet)
        padding: 20px 12px
      h1.opheading
        @include opHeadingFont
        text-transform: uppercase
        +until($tablet)
          font-size: 1em
          img
            height: 20px
      .bold-element
        padding: 30px
        text-align: center
        +until($tablet)
          padding: 15px 30px
        h3
          @include opHeadingFont
          +until($tablet)
            font-size: 0.9em

section.emotional-section
  background: #282828
  padding: 10px
  p
    color: white
    @include opHeadingFont
    margin-bottom: 0.65em !important
    text-align: center
    font-style: italic
    +until($tablet)
      font-size: 0.85em

.landing-hero-optin
  background: #6d7072
  border-radius: 5px
  padding: 10px 20px
  text-align: center
  h1
    color: #ffdd57
    text-transform: uppercase
    font-weight: 600
    +until($tablet)
      font-size: 1.3em
  p
    color: white
    +until($tablet)
      font-size: 0.85em
  input.input
    padding: 22px 10px
  .button.participate
    text-transform: uppercase
    font-weight: 600
    margin: 15px 0
  p.take-a-look
    line-height: 1.4rem
    font-size: 0.8rem
    a
      color: white
      border-bottom: 1px dotted #cecece
.landing-inner-promo
  background: #6d7072
  border-radius: 5px
  padding: 25px 5px
  margin: 15px 0
  h3
    color: #ffdd57
    margin: 0
    +until($tablet)
      font-size: 1em
    span.lighten
      color: lighten(#ffdd57, 22%)
    &:not(:first-child)
      margin-top: 0.5em
#pillow-cover-club
  h1
    +until($tablet)
      font-size: 1.3em
  h3
    +until($tablet)
      font-size: 1em

// SOCIAL BUTTONS
.social-button
  width: 100%
  font-size: 14px
.is-twitter
  background-color: #55acee
  border-color: transparent
  color: #fff
  &:hover, &:focus
    background-color: lighten(#55acee, 10%)
    border-color: transparent
    color: #fff
.is-youtube
  background-color: #cc181e
  border-color: transparent
  color: #fff
  &:hover, &:focus
    background-color: lighten(#cc181e, 10%)
    border-color: transparent
    color: #fff
.is-facebook
  background-color: #3B5998
  border-color: transparent
  color: #fff
  &:hover, &:focus
    background-color: lighten(#3B5998, 10%)
    border-color: transparent
    color: #fff
.is-instagram
  background-color: #c0367c
  border-color: transparent
  color: #fff
  &:hover, &:focus
    background-color: lighten(#c0367c, 10%)
    border-color: transparent
    color: #fff
.is-pinterest
  background-color: #bc0d1e
  border-color: transparent
  color: #fff
  &:hover, &:focus
    background-color: lighten(#bc0d1e, 10%)
    border-color: transparent
    color: #fff

.modal-close
  +until($tablet)
    left: 20px !important
    right: auto !important
    bottom: 2px !important