.container
  margin: 0 auto
  position: relative
  padding: 0 $gap / 2
  +from($desktop)
    max-width: $desktop - (8 * $gap)
    width: $desktop - (8 * $gap)
    &.is-fluid
      margin-left: $gap
      margin-right: $gap
      max-width: none
      width: auto
    &.is-fluid-4x
      margin-left: $gap * 4
      margin-right: $gap * 4
      max-width: none
      width: auto
    &.is-fluid-2x
      margin-left: $gap * 2
      margin-right: $gap * 2
      max-width: none
      width: auto
  +until($widescreen)
    &.is-widescreen
      max-width: $widescreen - (8 * $gap)
      width: auto
  +until($fullhd)
    &.is-fullhd
      max-width: $fullhd - (8 * $gap)
      width: auto
  +from($widescreen)
    max-width: $widescreen - (8 * $gap)
    width: $widescreen - (8 * $gap)
  +from($fullhd)
    max-width: $fullhd - (8 * $gap)
    width: $fullhd - (8 * $gap)
