{% extends 'Base/base.html.twig' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
    <section class="container first-container">
        <div class="columns content">
            <div class="column is-8 is-offset-2">
                <h1 class="title">Blog Posts</h1>
                <ul>
                    {% for post in posts %}
                        <li><a href="{{ url('post_view', { slug: post.slug, id: post.id }) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
    </section>
{% endblock %}