{% extends 'Base/base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block meta_description %}{{ post.content[:450]|striptags }}{% endblock %}

{% block content %}
    <section class="container first-container">
        <div class="columns content">
            <div class="column is-8 is-offset-2">
                <h1 class="title">{{ post.title }}</h1>
                <p class="small-text light-text">Posted by Tomas Vyšniauskas, founder of VanGogh.rocks</p>
                {{ post.content|raw }}
            </div>
        </div>
    </section>
    <section class="hero-product-showcase" style="margin-top: 70px; margin-bottom: 50px;">
        <div class="container has-text-centered">
            {{ include('./Includes/heroProductShowcase.html.twig') }}
        </div>
    </section>
{% endblock %}