{% extends './Base/baseLanding.html.twig' %}

{% block title %}Inspirational Pillow Covers Club! ${{ productVariant.price }} & FREE shipping!{% endblock %}

{% block meta_description %}Motivational Pillow Covers Just ${{ productVariant.price }}, FREE SHIPPING included!{% endblock %}

{% block og_image %}{{ absolute_url(asset('/facebook/game1_pic_v2.jpg')) }}{% endblock %}
{% block og_tags_rest %}
    <meta property="og:title" content="Win FREE Inspirational Pillow Covers!" />
    <meta property="og:description" content="Motivational Pillow Covers Just ${{ productVariant.price }}, FREE SHIPPING included!" />
    <meta property="og:url" content="{{ socialShareUrl }}" />
{% endblock %}

{% block head_styles %}
    <link href="{{ asset('assets/pageloader.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <img src="/graphics/brush_stroke_h66.png" style="display: none" />
    <div id="pillow-cover-club">
        <div v-if="product_modal.is_opened" id="view-product-modal" class="modal" :class="{ 'is-active': product_modal.is_opened }">
            <div class="modal-background" @click="closeProductModal"></div>
            <div class="modal-content is-hidden-mobile">
                <div class="icon is-large control-icon is-hidden-touch" @click="productModalPrevious">
                    <i class="fa fa-3x fa-angle-left"></i>
                </div>
                <div class="content-container">
                    <div class="upper-left element" :style="{ 'background-image': 'url(' + ['/uploads/custom_product_mockups/' + all_products[product_modal.current_product_id].group + '/' + all_products[product_modal.current_product_id].id_at_source + '_350px.jpg'] + ')' }"></div>
                    <div class="upper-right element">
                        <p class="bold-text has-text-centered" style="margin-bottom: 20px">Decorate your home in a trully offpopular way!</p>
                        <ul class="features">
                            <li><span class="icon"><i class="fa fa-check"></i></span> Pillow Cover</li>
                            <li><span class="icon"><i class="fa fa-check"></i></span> Material: linen/cotton</li>
                            <li><span class="icon"><i class="fa fa-check"></i></span> Size: 18x18 inch (45x45 cm)</li>
                        </ul>
                    </div>
                    <div class="bottom-left element">
                        <div class="just bold-text">just</div>
                        <div class="price"><span>${{ productVariant.price }}</span></div>
                    </div>
                    <div class="bottom-right element">
                        <button @click="addToCart(all_products[product_modal.current_product_id])" class="button is-warning is-medium">
                            <span class="icon">
                                <i class="fa fa-bolt"></i>
                            </span>
                            <span>Add To Cart</span>
                        </button>
                    </div>
                </div>
                <div class="icon is-large control-icon is-hidden-touch" @click="productModalNext">
                    <i class="fa fa-3x fa-angle-right"></i>
                </div>
            </div>
            <div class="modal-content mobile is-hidden-tablet">
                <div class="icon is-large control-icon is-hidden-touch" @click="productModalPrevious">
                    <i class="fa fa-3x fa-angle-left"></i>
                </div>
                <img style="width: 50%" :src="['/uploads/custom_product_mockups/' + all_products[product_modal.current_product_id].group + '/' + all_products[product_modal.current_product_id].id_at_source + '_350px.jpg']" />
                <p class="bold-text has-text-centered">Decorate your home in a trully offpopular way!</p>
                <ul class="features">
                    <li><span class="icon"><i class="fa fa-check"></i></span> Pillow Cover</li>
                    <li><span class="icon"><i class="fa fa-check"></i></span> Material: linen/cotton</li>
                    <li><span class="icon"><i class="fa fa-check"></i></span> Size: 18x18 inch (45x45 cm)</li>
                </ul>
                <button @click="addToCart(all_products[product_modal.current_product_id])" class="button is-warning is-medium">
                    <span class="icon">
                        <i class="fa fa-bolt"></i>
                    </span>
                    <span>Add To Cart (${{ productVariant.price }})</span>
                </button>
                <div class="icon is-large control-icon is-hidden-touch" @click="productModalNext">
                    <i class="fa fa-3x fa-angle-right"></i>
                </div>
            </div>

            <div class="mobile-control-icons-container">
                <div class="icon is-large control-icon-mobile is-hidden-desktop" style="right: 120px; cursor: pointer;" @click="productModalPrevious">
                    <i class="fa fa-3x fa-angle-left"></i>
                </div>
                <div class="icon is-large control-icon-mobile is-hidden-desktop" style="right: 80px; cursor: pointer;" @click="productModalNext">
                    <i class="fa fa-3x fa-angle-right"></i>
                </div>
            </div>

            <button class="modal-close is-extra-large" aria-label="close" @click="closeProductModal"></button>

        </div>

        <section class="all-pillow-covers container first-container">
            <div class="columns is-multiline is-mobile content">
                <div class="column is-12">
                    <h1 id="motivational-pillows-heading" class="has-text-centered bolder-underline-text">Motivational & Love-Inspired Pillow Covers!</h1>
                    {% set countryFlagPath = country_flag_path_by_ip(app.request.clientIp) %}
                    <h3 class="has-text-centered bold-text">All covers just <span class="text-brushstroke-red">${{ productVariant.price }}</span> <s>($14)</s></h3>
                    <h3 class="has-text-centered bold-text">Free shipping to <img src="{{ countryFlagPath }}" class="is-hidden-mobile" style="height: 20px;" /><img class="is-hidden-tablet" src="{{ countryFlagPath }}" style="height: 12px;" /> ({{ country_code_by_ip(app.request.clientIp) }})</h3>
                    <h3 class="has-text-centered bold-text">Size: 18x18 in | 45x45 cm</h3>
                </div>
                <div v-for="product in products[0]" class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop" v-cloak>
                    <div class="painting-widget">
                        <a @click="openProductModal(product)">
                            <div class="image is-1by1 spinner">

                                <div class="zap-preview-button-overlay top-align">
                                    <div @click="addToCart(product)" v-on:click.stop class="zap-preview-button button is-warning is-small">
                                        <span class="part-icon icon">
                                            <i class="fa fa-bolt"></i>
                                        </span>
                                        <span>Add To Cart</span>
                                    </div>
                                </div>

                                <div class="product-price-on-image">${{ productVariant.price }}</div>
                                <img :src="['/uploads/custom_product_mockups/' + product.group + '/' + product.id_at_source + '_350px.jpg']" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="columns is-mobile is-hidden-tablet">
                        <div class="column is-3"><a v-scroll-to="{ el: '#motivational-pillows-heading', offset: 0 }"><img src="{{ asset('/uploads/custom_product_mockups/pillow-cover-club/21_350px.jpg') }}" /></a></div>
                        <div class="column is-3"><a v-scroll-to="{ el: '#motivational-pillows-heading', offset: 0 }"><img src="{{ asset('/uploads/custom_product_mockups/pillow-cover-club/104_350px.jpg') }}" /></a></div>
                        <div class="column is-3"><a v-scroll-to="{ el: '#motivational-pillows-heading', offset: 0 }"><img src="{{ asset('/uploads/custom_product_mockups/pillow-cover-club/9_350px.jpg') }}" /></a></div>
                        <div class="column is-3"><a v-scroll-to="{ el: '#motivational-pillows-heading', offset: 0 }"><img src="{{ asset('/uploads/custom_product_mockups/pillow-cover-club/33_350px.jpg') }}" /></a></div>
                    </div>
                    <div class="landing-hero-optin content" v-if="!giveaway_form.done">
                        <h1>Win a FREE Inspirational Pillow Cover!</h1>
                        <p style="margin-bottom: 5px;"><span class="bold-text">${time_left_string}</span> left until<br>we'll announce <u>TWO</u> winners!</p>
                        <p style="margin-top: 15px; margin-bottom: 35px;">To participate, just enter your email below:</p>
                        <div class="columns">
                            <div class="column is-8 is-offset-2">
                                <div class="field">
                                    <div class="control">
                                        <input v-model="giveaway_form.email" class="input" type="email" placeholder="Your email" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input v-model="giveaway_form.first_name" class="input" type="text" placeholder="Your name (optional)">
                                    </div>
                                </div>
                                <button @click="participateInContest()" class="button is-warning participate" :class="{ 'is-loading': giveaway_form.is_submit_in_progress }">Participate now!</button>
                                <p class="take-a-look">Or, <a v-scroll-to="{ el: '#motivational-pillows-heading', offset: 0 }">take a look</a><br> at our 130 pillow covers collection!</p>
                            </div>
                        </div>
                    </div>
                    <div class="landing-hero-optin content when-successful" v-if="giveaway_form.done" v-cloak>
                        <h1>Success! You participate in the giveaway now!</h1>
                        <p style="margin-bottom: 5px;">You have <u>${ticket_count}</u> ticket(s)!</p>
                        <p style="margin-bottom: 35px;">To <u>INCREASE YOUR CHANCES</u><br> and get 5 additional tickets, invite your friend:</p>
                        <div class="columns is-multiline">
                            <div class="column is-8 is-offset-2">
                                <div class="field">
                                    <div class="control">
                                        <input v-model="invite_friend_form.email" class="input" type="email" placeholder="Your friend's email" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input v-model="invite_friend_form.first_name" class="input" type="text" placeholder="Your friend's name (optional)">
                                    </div>
                                </div>
                                <button @click="inviteFriendToContest" class="button is-warning participate" :class="{ 'is-loading': invite_friend_form.is_submit_in_progress }">Invite & Increase my chance!</button>
                                <p class="take-a-look">Also, get 10 additional tickets by sharing our page!</p>
                            </div>
                            <div class="column is-12">
                                <div class="box">
                                    <div class="columns is-multiline">
                                        <div class="column is-half">
                                            <a class="button is-facebook social-button" @click="socialShareContest()" href="https://www.facebook.com/sharer/sharer.php?u={{ socialShareUrl }}" target="_blank">
                                                <span class="icon is-small">
                                                  <i class="fa fa-facebook"></i>
                                                </span>
                                                <span class="is-hidden-widescreen is-hidden-mobile">Facebook</span>
                                                <span class="is-hidden-tablet-only is-hidden-desktop-only">Share On Facebook</span>
                                            </a>
                                        </div>

                                        <div class="column is-half">
                                            <a class="button is-twitter social-button" @click="socialShareContest()" href="https://twitter.com/home?status=WIN%20A%20FREE%20INSPIRATIONAL%20PILLOW%20COVER!%20{{ socialShareUrl }}" target="_blank">
                                                <span class="icon is-small">
                                                  <i class="fa fa-twitter"></i>
                                                </span>
                                                <span class="is-hidden-widescreen is-hidden-mobile">Twitter</span>
                                                <span class="is-hidden-tablet-only is-hidden-desktop-only">Share On Twitter</span>
                                            </a>
                                        </div>

                                        <div class="column is-half">
                                            <a class="button is-pinterest social-button" @click="socialShareContest()" href="https://pinterest.com/pin/create/button/?url={{ socialShareUrl }}&media={{ absolute_url(asset('/pinterest/game1_pic.jpg')) }}&description=WIN%20A%20FREE%20INSPIRATIONAL%20PILLOW%20COVER!%20TWO%20WINNERS%20WILL%20BE%20ANNOUNCED!" target="_blank">
                                                <span class="icon is-small">
                                                  <i class="fa fa-pinterest"></i>
                                                </span>
                                                <span class="is-hidden-widescreen is-hidden-mobile">Pinterest</span>
                                                <span class="is-hidden-tablet-only is-hidden-desktop-only">Share On Pinterest</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline is-mobile content">
                <div class="column is-12">
                    <div class="landing-inner-promo">
                        <h3 class="has-text-centered bold-text">Buy 2 covers & get <span class="lighten">$1</span> lifetime coupon for purchases on OffPopular.com!</h3>
                        <h3 class="has-text-centered bold-text">Buy 3 & get <span class="lighten">$2</span>. Buy 10 & get <span class="lighten">$9</span>...</h3>
                    </div>
                </div>
                <div v-if="vue_mounted" v-for="product in products[1]" class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop" v-cloak>
                    <div class="painting-widget">
                        <a @click="openProductModal(product)">
                            <div class="image is-1by1 spinner">

                                <div class="zap-preview-button-overlay top-align">
                                    <div @click="addToCart(product)" v-on:click.stop class="zap-preview-button button is-warning is-small">
                                        <span class="part-icon icon">
                                            <i class="fa fa-bolt"></i>
                                        </span>
                                        <span>Add To Cart</span>
                                    </div>
                                </div>

                                <div class="product-price-on-image">${{ productVariant.price }}</div>
                                <img :src="['/uploads/custom_product_mockups/' + product.group + '/' + product.id_at_source + '_350px.jpg']" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="column is-12">
                    <div class="landing-inner-promo">
                        <h3 class="has-text-centered bold-text">No-hassle <span class="lighten">returns!</span> Free <span class="lighten">Shipping!</span></h3>
                        <h3 class="has-text-centered bold-text">Your order supports building open-air <span class="lighten">art galleries!</span></h3>
                    </div>
                </div>
                <div v-if="vue_mounted" v-for="product in products[2]" class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop" v-cloak>
                    <div class="painting-widget">
                        <a @click="openProductModal(product)">
                            <div class="image is-1by1 spinner">

                                <div class="zap-preview-button-overlay top-align">
                                    <div @click="addToCart(product)" v-on:click.stop class="zap-preview-button button is-warning is-small">
                                        <span class="part-icon icon">
                                            <i class="fa fa-bolt"></i>
                                        </span>
                                        <span>Add To Cart</span>
                                    </div>
                                </div>

                                <div class="product-price-on-image">${{ productVariant.price }}</div>
                                <img :src="['/uploads/custom_product_mockups/' + product.group + '/' + product.id_at_source + '_350px.jpg']" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section style="margin: 55px 0">
            <div class="columns content">
                <div class="column is-12 has-text-centered">
                    <h3>Haven't found what you were looking for?</h3>
                    <p>OffPopular.com has {{ cache_service().getPublishedProductsCount() }} products!</p>
                    <a href="{{ path('index') }}" class="button is-warning" target="_blank">
                        <span class="icon">
                            <i class="fa fa-caret-right"></i>
                        </span>
                        <span>Let's find my thing!</span>
                    </a>
                </div>
            </div>
        </section>
    </div>
    {% include './Includes/uspsLanding.html.twig' %}
    <section>
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    {% include './Includes/checkoutReviewsPillowCases.html.twig' %}
                    <hr>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block page_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var pillowCoverClub = new Vue({
            el: '#pillow-cover-club',
            delimiters: ['${', '}'],
            data: {
                ticket_count: {{ ticketCount }},
                vue_mounted: false,
                products: [
                    {{ products[0:12]|serialize|raw }},
                    {{ products[12:12]|serialize|raw }},
                    {{ products[24:]|serialize|raw }}
                ],
                all_products: {{ allProductsIndexedById|serialize|raw }},
                product_variant: {{ productVariant|serialize|raw }},
                product_modal: {
                    is_opened: false,
                    current_product_id: 0
                },
                giveaway_form: {
                    email: '{{ email }}',
                    first_name: '{{ firstName }}',
                    is_submit_in_progress: false,
                    done: false
                },
                invite_friend_form: {
                    email: '',
                    first_name: '',
                    is_submit_in_progress: false
                },
                time_left_string: ''
            },
            mounted: function () {
                this.vue_mounted = true;
                if (this.giveaway_form.email.length > 2) {
                    this.giveaway_form.done = true;
                    window.history.replaceState('', '', '{{ socialShareUrl }}');
                }
            },
            methods: {
                addToCart: function (productObj) {
                    baseApp.$store.commit('addProductToCart', {
                        productObj: productObj,
                        productVariant: this.product_variant,
                        customMockupPath: '/uploads/custom_product_mockups/' + productObj.group + '/' + productObj.id_at_source + '_350px.jpg'
                    });

                    swal({
                        title: "Your pillow cover was added to cart! :)",
                        text: "Would you like to pay now?",
                        icon: "success",
                        buttons: {
                            cancel: {
                                text: "Continue browsing",
                                value: null,
                                visible: true,
                                className: "",
                                closeModal: true,
                            },
                            confirm: {
                                text: "Pay now",
                                value: true,
                                visible: true,
                                className: "",
                                closeModal: true
                            }
                        }
                    })
                        .then(function (value) {
                            if (value === true) {
                                location.href = '{{ url('checkout') }}';
                            }
                        });
                },
                openProductModal: function (productObj) {
                    this.product_modal.current_product_id = productObj.id;
                    this.product_modal.is_opened = true;
                },
                closeProductModal: function () {
                    this.product_modal.is_opened = false;
                },
                productModalPrevious: function () {
                    var previousId = this.product_modal.current_product_id - 1;
                    if (typeof this.all_products[previousId] !== 'undefined') {
                        this.product_modal.current_product_id = previousId;
                    }
                },
                productModalNext: function () {
                    var nextId = this.product_modal.current_product_id + 1;
                    if (typeof this.all_products[nextId] !== 'undefined') {
                        this.product_modal.current_product_id = nextId;
                    }
                },
                participateInContest: function () {
                    this.giveaway_form.is_submit_in_progress = true;

                    axios.post('{{ url('int_api_subscribe_newsletter') }}', {
                        email: this.giveaway_form.email,
                        first_name: this.giveaway_form.first_name,
                        source: '{{ sources.giveaway }}',
                        game_no: {{ gameNo }},
                        game_route: '{{ app.request.get('_route') }}'
                    })
                        .then(function (response) {
                            if (response.data.status === 'error') {
                                if (response.data.message === 'email_invalid') {
                                    swal("Oops!", "Email is incorrect.", "error", { button: 'Continue' });
                                    pillowCoverClub.giveaway_form.is_submit_in_progress = false;
                                } else {
                                    swal("Oops!", "Some form fields are missing.", "error", { button: 'Continue' });
                                    pillowCoverClub.giveaway_form.is_submit_in_progress = false;
                                }
                            } else if (response.data.status === 'ok') {
                                pillowCoverClub.giveaway_form.is_submit_in_progress = false;
                                pillowCoverClub.ticket_count = response.data.ticket_count;
                                pillowCoverClub.giveaway_form.done = true;
                                swal("Success!", "You're participating in the giveaway. Now you have opportunity to increase your chances of winning!", "success", { button: 'Increase my chances!' });
                            }
                        })
                        .catch(function (error) {
                            pillowCoverClub.giveaway_form.is_submit_in_progress = false;

                            swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                        });
                },
                inviteFriendToContest: function () {
                    this.invite_friend_form.is_submit_in_progress = true;

                    axios.post('{{ url('int_api_subscribe_newsletter') }}', {
                        email: this.invite_friend_form.email,
                        first_name: this.invite_friend_form.first_name,
                        inviters_email: this.giveaway_form.email,
                        inviters_first_name: this.giveaway_form.first_name,
                        source: '{{ sources.invite_friend }}',
                        game_no: {{ gameNo }},
                        game_route: '{{ app.request.get('_route') }}',
                        ticket_count: 5
                    })
                        .then(function (response) {
                            if (response.data.status === 'error') {
                                if (response.data.message === 'email_invalid') {
                                    swal("Oops!", "Email is incorrect.", "error", { button: 'Continue' });
                                    pillowCoverClub.invite_friend_form.is_submit_in_progress = false;
                                } else {
                                    swal("Oops!", "Some form fields are missing.", "error", { button: 'Continue' });
                                    pillowCoverClub.invite_friend_form.is_submit_in_progress = false;
                                }
                            } else if (response.data.status === 'ok') {
                                pillowCoverClub.invite_friend_form.is_submit_in_progress = false;
                                pillowCoverClub.ticket_count = response.data.ticket_count;

                                pillowCoverClub.invite_friend_form.email = '';
                                pillowCoverClub.invite_friend_form.first_name = '';

                                pillowCoverClub.invite_friend_form.done = true;
                                swal("Success!", "You've invited your friend & got additional ticket! Invite more friends to get even more tickets!", "success", { button: 'Increase my chances!' });
                            }
                        })
                        .catch(function (error) {
                            pillowCoverClub.invite_friend_form.is_submit_in_progress = false;

                            swal("Oops!", "Unexpected error occurred. Please contact us.", "error", { button: 'Continue' });
                        });
                },
                socialShareContest: function () {
                    axios.post('{{ url('int_api_subscribe_newsletter') }}', {
                        email: this.giveaway_form.email,
                        first_name: this.giveaway_form.first_name,
                        source: '{{ sources.social_share }}',
                        game_no: {{ gameNo }},
                        game_route: '{{ app.request.get('_route') }}',
                        ticket_count: 10
                    })
                        .then(function (response) {
                            if (response.data.status === 'ok') {
                                pillowCoverClub.ticket_count = response.data.ticket_count;
                            }
                        })
                        .catch(function (error) {
                        });
                }
            }
        });

        document.onkeydown = function(evt) {
            evt = evt || window.event;
            if (evt.keyCode === 27) { // Esc key pressed
                pillowCoverClub.closeProductModal();
            }
        };

        // Set the date we're counting down to
        var countDownDate = new Date("Oct 13, 2018 23:59:59").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = days * 24 + Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            /*document.getElementById("countdown").innerHTML = hours + "h "
                + minutes + "m " + seconds + "s";*/

            pillowCoverClub.time_left_string = hours + "h "
                + minutes + "m " + seconds + "s";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                //document.getElementById("countdown").innerHTML = "EXPIRED";
                pillowCoverClub.time_left_string = 'EXPIRED';
            }
        }, 1000);
    </script>
{% endblock %}