{% extends 'Base/base.html.twig' %}

{% block title %}Thank you!{% endblock %}

{% block content %}
<section id="payment-accept-page" class="container first-container">
    <div class="columns content">
        <div class="column is-8 is-offset-2">
            <h1 class="title">Thank you!</h1>
            <p>We've received the payment for your order. We'll let you know about its progress by email.</p>
            <p class="bolder-text">THANK YOU for joining the mission to spread inspiring and constructive art around the world.</p>
            <p>1% of your order goes to building open-air galleries in art-deprived locations around the world! <a href="{{ path('text_page_view', { slug: 'offpopulars-mission-to-build-open-air-galleries-in-art-deprived-locations' }) }}">Read more here.</a></p>
            <img src="{{ asset('graphics/thank_you.jpg') }}" />
        </div>
    </div>
    <hr>
</section>
{% endblock %}

{% block page_javascripts %}
<script type="text/javascript">
    var paymentAcceptPage = new Vue({
        el: '#payment-accept-page',
        delimiters: ['${', '}'],
        mounted: function () {
            baseApp.clearCart();
            baseApp.clearCartReservationEndsTimestamp();
        }
    });

    {% if order and app.environment == 'prod' %}
        gtag('event', 'purchase', {
            "transaction_id": {{ order.id }},
            "affiliation": "OffPopular.com",
            "value": {{ order.totalAmount }},
            "currency": "{{ order.currency }}",
            "tax": 0,
            "shipping": {{ order.shippingAmount }},
            "items": [
                {% for orderItem in order.orderItems %}
                {
                    "id": {{ orderItem.product.id }},
                    "name": '{{ orderItem.product.title }}',
                    "category": '{{ orderItem.productType.title }}',
                    "variant": '{{ orderItem.productVariant.size }}',
                    "quantity": 1,
                    "price": {{ orderItem.price }}
                },
                {% endfor %}
            ]
        });

        <!-- Adwords -->
    /*
        gtag('event', 'conversion', {
            'send_to': 'AW-1006628221/30vzCLHm94MBEP3a_98D',
            'value': {{ order.totalAmount }},
            'currency': '{{ order.currency }}',
            'transaction_id': '{{ order.id }}'
        });*/

    {% endif %}

</script>
{% endblock %}