{% extends 'Base/base.html.twig' %}

{% block title %}Error!{% endblock %}

{% block content %}
<section id="payment-cancel-page" class="container first-container">
    <div class="columns content">
        <div class="column is-8 is-offset-2">
            <h1 class="title">Error!</h1>
            <p>We're sorry, but we couldn't process your payment...</p>
            <p>If you canceled the payment, no further action is needed.</p>
            <p class="bolder-text">Otherwise, please contact us immediately by email {{ customer_support_email }}</p>
            <img src="{{ asset('graphics/thank_you.jpg') }}" />
        </div>
    </div>
    <hr>
</section>
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        var paymentCancelPage = new Vue({
            el: '#payment-cancel-page',
            delimiters: ['${', '}'],
            mounted: function () {
                baseApp.clearCartReservationEndsTimestamp();
            }
        });
    </script>
{% endblock %}